WSUnidosAplicaciones/web/WEB-INF/wsdl/localhost_8080/wsEspochInfoGeneral/wsInfoGeneral.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://academico.espoch.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://academico.espoch.edu.ec/">

<xs:complexType name="ArrayOfCiudad">
<xs:sequence>
<xs:element name="Ciudad" type="tns:Ciudad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Ciudad">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="CodProvincia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfUnidadAcademica">
<xs:sequence>
<xs:element name="UnidadAcademica" type="tns:UnidadAcademica" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnidadAcademica">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="CodEscuela" type="xs:string" minOccurs="0"/>
<xs:element name="CodEstado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfFacultad">
<xs:sequence>
<xs:element name="Facultad" type="tns:Facultad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Facultad">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Decano" type="xs:string" minOccurs="0"/>
<xs:element name="Vicedecano" type="xs:string" minOccurs="0"/>
<xs:element name="FechaCreacion" type="xs:dateTime"/>
<xs:element name="Ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="CodEstado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfPeriodo">
<xs:sequence>
<xs:element name="Periodo" type="tns:Periodo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Periodo">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="FechaInicio" type="xs:dateTime"/>
<xs:element name="FechaFin" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfProvincia">
<xs:sequence>
<xs:element name="Provincia" type="tns:Provincia" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Provincia">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="CodPais" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfCarrera">
<xs:sequence>
<xs:element name="Carrera" type="tns:Carrera" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Carrera">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfInstitucionEstudiante">
<xs:sequence>
<xs:element name="InstitucionEstudiante" type="tns:InstitucionEstudiante" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InstitucionEstudiante">
<xs:sequence>
<xs:element name="strCedula" type="xs:string" minOccurs="0"/>
<xs:element name="strNombres" type="xs:string" minOccurs="0"/>
<xs:element name="strApellidos" type="xs:string" minOccurs="0"/>
<xs:element name="strTitulo" type="xs:string" minOccurs="0"/>
<xs:element name="strInstitucion" type="xs:string" minOccurs="0"/>
<xs:element name="strNacionalidad" type="xs:string" minOccurs="0"/>
<xs:element name="strTipo_institucion" type="xs:string" minOccurs="0"/>
<xs:element name="blnprofesional" type="xs:string" minOccurs="0"/>
<xs:element name="strCiudadProc" type="xs:string" minOccurs="0"/>
<xs:element name="strCiudadInst" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfEscuela">
<xs:sequence>
<xs:element name="Escuela" type="tns:Escuela" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Escuela">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Director" type="xs:string" minOccurs="0"/>
<xs:element name="CodFacultad" type="xs:string" minOccurs="0"/>
<xs:element name="FechaCreacion" type="xs:dateTime"/>
<xs:element name="Ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="CodEstado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfEscuelaEntidad">
<xs:sequence>
<xs:element name="EscuelaEntidad" type="tns:EscuelaEntidad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EscuelaEntidad">
<xs:sequence>
<xs:element name="Facultad" type="xs:string" minOccurs="0"/>
<xs:element name="CodEscuela" type="xs:string" minOccurs="0"/>
<xs:element name="Escuela" type="xs:string" minOccurs="0"/>
<xs:element name="CodCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="Carrera" type="xs:string" minOccurs="0"/>
<xs:element name="CodTipoEntidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfPais">
<xs:sequence>
<xs:element name="Pais" type="tns:Pais" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pais">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfTipos_Instituciones">
<xs:sequence>
<xs:element name="Tipos_Instituciones" type="tns:Tipos_Instituciones" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tipos_Instituciones">
<xs:sequence>
<xs:element name="strCodigo" type="xs:string" minOccurs="0"/>
<xs:element name="strDescripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>