SilaboAD/lib/prueba/xml-resources/web-service-references/WSBDatosAnalitico/wsdl/localhost_8080/WSUnidos/WSBDatosAnalitico.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://locales.ServiciosWeb.pa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://locales.ServiciosWeb.pa/" name="WSBDatosAnalitico">
<types>
<xsd:schema>
<xsd:import namespace="http://locales.ServiciosWeb.pa/" schemaLocation="http://localhost:8080/WSUnidos/WSBDatosAnalitico?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/WSUnidos/WSBDatosAnalitico?xsd=2"/>
</xsd:schema>
</types>
<message name="lPADictadosMateria">
<part name="parameters" element="tns:lPADictadosMateria"/>
</message>
<message name="lPADictadosMateriaResponse">
<part name="parameters" element="tns:lPADictadosMateriaResponse"/>
</message>
<message name="getTodasEscuelas">
<part name="parameters" element="tns:getTodasEscuelas"/>
</message>
<message name="getTodasEscuelasResponse">
<part name="parameters" element="tns:getTodasEscuelasResponse"/>
</message>
<message name="getEscuelaEntidad">
<part name="parameters" element="tns:getEscuelaEntidad"/>
</message>
<message name="getEscuelaEntidadResponse">
<part name="parameters" element="tns:getEscuelaEntidadResponse"/>
</message>
<message name="getDatosUsuarioCarrera">
<part name="parameters" element="tns:getDatosUsuarioCarrera"/>
</message>
<message name="getDatosUsuarioCarreraResponse">
<part name="parameters" element="tns:getDatosUsuarioCarreraResponse"/>
</message>
<message name="lPAgetMateriasDocente">
<part name="parameters" element="tns:lPAgetMateriasDocente"/>
</message>
<message name="lPAgetMateriasDocenteResponse">
<part name="parameters" element="tns:lPAgetMateriasDocenteResponse"/>
</message>
<message name="getFacultadesTotales">
<part name="parameters" element="tns:getFacultadesTotales"/>
</message>
<message name="getFacultadesTotalesResponse">
<part name="parameters" element="tns:getFacultadesTotalesResponse"/>
</message>
<message name="getRolUsuarioCarrera">
<part name="parameters" element="tns:getRolUsuarioCarrera"/>
</message>
<message name="getRolUsuarioCarreraResponse">
<part name="parameters" element="tns:getRolUsuarioCarreraResponse"/>
</message>
<message name="lPAPeriodoActual">
<part name="parameters" element="tns:lPAPeriodoActual"/>
</message>
<message name="lPAPeriodoActualResponse">
<part name="parameters" element="tns:lPAPeriodoActualResponse"/>
</message>
<message name="lPADatosMateria">
<part name="parameters" element="tns:lPADatosMateria"/>
</message>
<message name="lPADatosMateriaResponse">
<part name="parameters" element="tns:lPADatosMateriaResponse"/>
</message>
<message name="lPADatosGenerales">
<part name="parameters" element="tns:lPADatosGenerales"/>
</message>
<message name="lPADatosGeneralesResponse">
<part name="parameters" element="tns:lPADatosGeneralesResponse"/>
</message>
<portType name="WSBDatosAnalitico">
<operation name="lPADictadosMateria">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADictadosMateriaRequest" message="tns:lPADictadosMateria"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADictadosMateriaResponse" message="tns:lPADictadosMateriaResponse"/>
</operation>
<operation name="getTodasEscuelas">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getTodasEscuelasRequest" message="tns:getTodasEscuelas"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getTodasEscuelasResponse" message="tns:getTodasEscuelasResponse"/>
</operation>
<operation name="getEscuelaEntidad">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getEscuelaEntidadRequest" message="tns:getEscuelaEntidad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getEscuelaEntidadResponse" message="tns:getEscuelaEntidadResponse"/>
</operation>
<operation name="getDatosUsuarioCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getDatosUsuarioCarreraRequest" message="tns:getDatosUsuarioCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getDatosUsuarioCarreraResponse" message="tns:getDatosUsuarioCarreraResponse"/>
</operation>
<operation name="lPAgetMateriasDocente">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAgetMateriasDocenteRequest" message="tns:lPAgetMateriasDocente"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAgetMateriasDocenteResponse" message="tns:lPAgetMateriasDocenteResponse"/>
</operation>
<operation name="getFacultadesTotales">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getFacultadesTotalesRequest" message="tns:getFacultadesTotales"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getFacultadesTotalesResponse" message="tns:getFacultadesTotalesResponse"/>
</operation>
<operation name="getRolUsuarioCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getRolUsuarioCarreraRequest" message="tns:getRolUsuarioCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getRolUsuarioCarreraResponse" message="tns:getRolUsuarioCarreraResponse"/>
</operation>
<operation name="lPAPeriodoActual">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAPeriodoActualRequest" message="tns:lPAPeriodoActual"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAPeriodoActualResponse" message="tns:lPAPeriodoActualResponse"/>
</operation>
<operation name="lPADatosMateria">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosMateriaRequest" message="tns:lPADatosMateria"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosMateriaResponse" message="tns:lPADatosMateriaResponse"/>
</operation>
<operation name="lPADatosGenerales">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosGeneralesRequest" message="tns:lPADatosGenerales"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosGeneralesResponse" message="tns:lPADatosGeneralesResponse"/>
</operation>
</portType>
<binding name="WSBDatosAnaliticoPortBinding" type="tns:WSBDatosAnalitico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="lPADictadosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasEscuelas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEscuelaEntidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAgetMateriasDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacultadesTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRolUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAPeriodoActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADatosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADatosGenerales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBDatosAnalitico">
<port name="WSBDatosAnaliticoPort" binding="tns:WSBDatosAnaliticoPortBinding">
<soap:address location="http://localhost:8080/WSUnidos/WSBDatosAnalitico"/>
</port>
</service>
</definitions>