WSUnidos/src/java/META-INF/Seguridad.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://academico.espoch.edu.ec/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://academico.espoch.edu.ec/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://academico.espoch.edu.ec/">
      <s:element name="AutenticarUsuarioCarrera">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarUsuarioCarreraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticarUsuarioCarreraResult" type="tns:ArrayOfRolCarrera" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRolCarrera">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RolCarrera" nillable="true" type="tns:RolCarrera" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RolCarrera">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCarrera" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreRol" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="credentials" type="tns:credentials" />
      <s:complexType name="credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRolUsuarioCarrera">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolUsuarioCarreraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolUsuarioCarreraResult" type="tns:ArrayOfRolCarrera" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarioFacultad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarioFacultadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsuarioFacultadResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfRolCarrera" nillable="true" type="tns:ArrayOfRolCarrera" />
      <s:element name="Persona" nillable="true" type="tns:Persona" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticarUsuarioCarreraSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioCarrera" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioCarreraSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioCarreracredentials">
    <wsdl:part name="credentials" element="tns:credentials" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreraSoapIn">
    <wsdl:part name="parameters" element="tns:GetRolUsuarioCarrera" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreraSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolUsuarioCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreracredentials">
    <wsdl:part name="credentials" element="tns:credentials" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsuarioFacultad" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsuarioFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadcredentials">
    <wsdl:part name="credentials" element="tns:credentials" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioCarreraHttpGetIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioCarreraHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfRolCarrera" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreraHttpGetIn">
    <wsdl:part name="login" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreraHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfRolCarrera" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadHttpGetIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadHttpGetOut">
    <wsdl:part name="Body" element="tns:Persona" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioCarreraHttpPostIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioCarreraHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfRolCarrera" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreraHttpPostIn">
    <wsdl:part name="login" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreraHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfRolCarrera" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadHttpPostIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadHttpPostOut">
    <wsdl:part name="Body" element="tns:Persona" />
  </wsdl:message>
  <wsdl:portType name="SeguridadSoap">
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <wsdl:input message="tns:AutenticarUsuarioCarreraSoapIn" />
      <wsdl:output message="tns:AutenticarUsuarioCarreraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <wsdl:input message="tns:GetRolUsuarioCarreraSoapIn" />
      <wsdl:output message="tns:GetRolUsuarioCarreraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <wsdl:input message="tns:GetUsuarioFacultadSoapIn" />
      <wsdl:output message="tns:GetUsuarioFacultadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SeguridadHttpGet">
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <wsdl:input message="tns:AutenticarUsuarioCarreraHttpGetIn" />
      <wsdl:output message="tns:AutenticarUsuarioCarreraHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <wsdl:input message="tns:GetRolUsuarioCarreraHttpGetIn" />
      <wsdl:output message="tns:GetRolUsuarioCarreraHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <wsdl:input message="tns:GetUsuarioFacultadHttpGetIn" />
      <wsdl:output message="tns:GetUsuarioFacultadHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SeguridadHttpPost">
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <wsdl:input message="tns:AutenticarUsuarioCarreraHttpPostIn" />
      <wsdl:output message="tns:AutenticarUsuarioCarreraHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <wsdl:input message="tns:GetRolUsuarioCarreraHttpPostIn" />
      <wsdl:output message="tns:GetRolUsuarioCarreraHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <wsdl:input message="tns:GetUsuarioFacultadHttpPostIn" />
      <wsdl:output message="tns:GetUsuarioFacultadHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeguridadSoap" type="tns:SeguridadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <soap:operation soapAction="http://academico.espoch.edu.ec/AutenticarUsuarioCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AutenticarUsuarioCarreracredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <soap:operation soapAction="http://academico.espoch.edu.ec/GetRolUsuarioCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRolUsuarioCarreracredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <soap:operation soapAction="http://academico.espoch.edu.ec/GetUsuarioFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUsuarioFacultadcredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeguridadHttpGet" type="tns:SeguridadHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <http:operation location="/AutenticarUsuarioCarrera" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <http:operation location="/GetRolUsuarioCarrera" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <http:operation location="/GetUsuarioFacultad" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeguridadHttpPost" type="tns:SeguridadHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <http:operation location="/AutenticarUsuarioCarrera" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <http:operation location="/GetRolUsuarioCarrera" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <http:operation location="/GetUsuarioFacultad" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Seguridad">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Este servicio provee servicios de autenticaci&amp;oacute;n de usuarios registrados en el Sistema Acad&amp;eacute;mico Integrado</documentation>
    <wsdl:port name="SeguridadSoap" binding="tns:SeguridadSoap">
      <soap:address location="http://academico.espoch.edu.ec/OAS_Interop/Seguridad.asmx" />
    </wsdl:port>
    <wsdl:port name="SeguridadHttpGet" binding="tns:SeguridadHttpGet">
      <http:address location="http://academico.espoch.edu.ec/OAS_Interop/Seguridad.asmx" />
    </wsdl:port>
    <wsdl:port name="SeguridadHttpPost" binding="tns:SeguridadHttpPost">
      <http:address location="http://academico.espoch.edu.ec/OAS_Interop/Seguridad.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>