WSUnidos/src/java/META-INF/wsAnaliticoPublico.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.panalitico.dda/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.panalitico.dda/" name="wsAnaliticoPublico">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.panalitico.dda/" schemaLocation="http://localhost:8080/ProgramaAnaliticoAD/wsAnaliticoPublico?xsd=1"/>
</xsd:schema>
</types>
<message name="ProgramaAnaliticoBibliografias">
<part name="parameters" element="tns:ProgramaAnaliticoBibliografias"/>
</message>
<message name="ProgramaAnaliticoBibliografiasResponse">
<part name="parameters" element="tns:ProgramaAnaliticoBibliografiasResponse"/>
</message>
<message name="ProgramaAnaliticoLogoEntidad">
<part name="parameters" element="tns:ProgramaAnaliticoLogoEntidad"/>
</message>
<message name="ProgramaAnaliticoLogoEntidadResponse">
<part name="parameters" element="tns:ProgramaAnaliticoLogoEntidadResponse"/>
</message>
<message name="ProgramaAnaliticoContenidosAsignatura">
<part name="parameters" element="tns:ProgramaAnaliticoContenidosAsignatura"/>
</message>
<message name="ProgramaAnaliticoContenidosAsignaturaResponse">
<part name="parameters" element="tns:ProgramaAnaliticoContenidosAsignaturaResponse"/>
</message>
<message name="ProgramaAnaliticoProcedimientosAsignatura">
<part name="parameters" element="tns:ProgramaAnaliticoProcedimientosAsignatura"/>
</message>
<message name="ProgramaAnaliticoProcedimientosAsignaturaResponse">
<part name="parameters" element="tns:ProgramaAnaliticoProcedimientosAsignaturaResponse"/>
</message>
<portType name="wsAnaliticoPublico">
<operation name="ProgramaAnaliticoBibliografias">
<input wsam:Action="http://ws.panalitico.dda/wsAnaliticoPublico/ProgramaAnaliticoBibliografiasRequest" message="tns:ProgramaAnaliticoBibliografias"/>
<output wsam:Action="http://ws.panalitico.dda/wsAnaliticoPublico/ProgramaAnaliticoBibliografiasResponse" message="tns:ProgramaAnaliticoBibliografiasResponse"/>
</operation>
<operation name="ProgramaAnaliticoLogoEntidad">
<input wsam:Action="http://ws.panalitico.dda/wsAnaliticoPublico/ProgramaAnaliticoLogoEntidadRequest" message="tns:ProgramaAnaliticoLogoEntidad"/>
<output wsam:Action="http://ws.panalitico.dda/wsAnaliticoPublico/ProgramaAnaliticoLogoEntidadResponse" message="tns:ProgramaAnaliticoLogoEntidadResponse"/>
</operation>
<operation name="ProgramaAnaliticoContenidosAsignatura">
<input wsam:Action="http://ws.panalitico.dda/wsAnaliticoPublico/ProgramaAnaliticoContenidosAsignaturaRequest" message="tns:ProgramaAnaliticoContenidosAsignatura"/>
<output wsam:Action="http://ws.panalitico.dda/wsAnaliticoPublico/ProgramaAnaliticoContenidosAsignaturaResponse" message="tns:ProgramaAnaliticoContenidosAsignaturaResponse"/>
</operation>
<operation name="ProgramaAnaliticoProcedimientosAsignatura">
<input wsam:Action="http://ws.panalitico.dda/wsAnaliticoPublico/ProgramaAnaliticoProcedimientosAsignaturaRequest" message="tns:ProgramaAnaliticoProcedimientosAsignatura"/>
<output wsam:Action="http://ws.panalitico.dda/wsAnaliticoPublico/ProgramaAnaliticoProcedimientosAsignaturaResponse" message="tns:ProgramaAnaliticoProcedimientosAsignaturaResponse"/>
</operation>
</portType>
<binding name="wsAnaliticoPublicoPortBinding" type="tns:wsAnaliticoPublico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ProgramaAnaliticoBibliografias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProgramaAnaliticoLogoEntidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProgramaAnaliticoContenidosAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProgramaAnaliticoProcedimientosAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAnaliticoPublico">
<port name="wsAnaliticoPublicoPort" binding="tns:wsAnaliticoPublicoPortBinding">
<soap:address location="http://localhost:8080/ProgramaAnaliticoAD/wsAnaliticoPublico"/>
</port>
</service>
</definitions>