WSUnidosAplicaciones/src/conf/xml-resources/web-service-references/Seguridad/wsdl/pruebasswacademico.espoch.edu.ec/OASis/OAS_Interop/Seguridad.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://academico.espoch.edu.ec/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://academico.espoch.edu.ec/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Este servicio provee servicios de autenticaci&amp;oacute;n de usuarios registrados en el Sistema Acad&amp;eacute;mico Integrado</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://academico.espoch.edu.ec/">
      <s:element name="AutenticarUsuarioCarrera">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarUsuarioCarreraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticarUsuarioCarreraResult" type="tns:ArrayOfRolCarrera" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRolCarrera">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RolCarrera" nillable="true" type="tns:RolCarrera" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RolCarrera">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCarrera" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreRol" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="credentials" type="tns:credentials" />
      <s:complexType name="credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetRolUsuarioCarrera">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolUsuarioCarreraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolUsuarioCarreraResult" type="tns:ArrayOfRolCarrera" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarioFacultad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarioFacultadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsuarioFacultadResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticarUsuarioCarreraSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioCarrera" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioCarreraSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioCarreracredentials">
    <wsdl:part name="credentials" element="tns:credentials" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreraSoapIn">
    <wsdl:part name="parameters" element="tns:GetRolUsuarioCarrera" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreraSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolUsuarioCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolUsuarioCarreracredentials">
    <wsdl:part name="credentials" element="tns:credentials" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsuarioFacultad" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsuarioFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioFacultadcredentials">
    <wsdl:part name="credentials" element="tns:credentials" />
  </wsdl:message>
  <wsdl:portType name="SeguridadSoap">
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <wsdl:input message="tns:AutenticarUsuarioCarreraSoapIn" />
      <wsdl:output message="tns:AutenticarUsuarioCarreraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <wsdl:input message="tns:GetRolUsuarioCarreraSoapIn" />
      <wsdl:output message="tns:GetRolUsuarioCarreraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <wsdl:input message="tns:GetUsuarioFacultadSoapIn" />
      <wsdl:output message="tns:GetUsuarioFacultadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeguridadSoap" type="tns:SeguridadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <soap:operation soapAction="http://academico.espoch.edu.ec/AutenticarUsuarioCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AutenticarUsuarioCarreracredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <soap:operation soapAction="http://academico.espoch.edu.ec/GetRolUsuarioCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRolUsuarioCarreracredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <soap:operation soapAction="http://academico.espoch.edu.ec/GetUsuarioFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUsuarioFacultadcredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeguridadSoap12" type="tns:SeguridadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarUsuarioCarrera">
      <soap12:operation soapAction="http://academico.espoch.edu.ec/AutenticarUsuarioCarrera" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AutenticarUsuarioCarreracredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolUsuarioCarrera">
      <soap12:operation soapAction="http://academico.espoch.edu.ec/GetRolUsuarioCarrera" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRolUsuarioCarreracredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioFacultad">
      <soap12:operation soapAction="http://academico.espoch.edu.ec/GetUsuarioFacultad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUsuarioFacultadcredentials" part="credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Seguridad">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Este servicio provee servicios de autenticaci&amp;oacute;n de usuarios registrados en el Sistema Acad&amp;eacute;mico Integrado</wsdl:documentation>
    <wsdl:port name="SeguridadSoap" binding="tns:SeguridadSoap">
      <soap:address location="http://pruebasswacademico.espoch.edu.ec/OASis/OAS_Interop/Seguridad.asmx" />
    </wsdl:port>
    <wsdl:port name="SeguridadSoap12" binding="tns:SeguridadSoap12">
      <soap12:address location="http://pruebasswacademico.espoch.edu.ec/OASis/OAS_Interop/Seguridad.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>