SilaboAD/web/WEB-INF/wsdl/192.168.75.130_9090/WSUnidos/wsUnidosEspoch.xsd_4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://academico.espoch.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://academico.espoch.edu.ec/">

<xs:complexType name="ArrayOfMateria_Pensum">
<xs:sequence>
<xs:element name="Materia_Pensum" type="tns:Materia_Pensum" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Materia_Pensum">
<xs:sequence>
<xs:element name="CodMateria" type="xs:string" minOccurs="0"/>
<xs:element name="Materia" type="xs:string" minOccurs="0"/>
<xs:element name="CodNivel" type="xs:string" minOccurs="0"/>
<xs:element name="Nivel" type="xs:string" minOccurs="0"/>
<xs:element name="CodArea" type="xs:string" minOccurs="0"/>
<xs:element name="Area" type="xs:string" minOccurs="0"/>
<xs:element name="Creditos" type="xs:float"/>
<xs:element name="HorasTeoricas" type="xs:int"/>
<xs:element name="HorasPracticas" type="xs:int"/>
<xs:element name="HorasAutonomas" type="xs:int"/>
<xs:element name="Requisitos" type="tns:ArrayOfMateria_Requisito" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArrayOfMateria_Requisito">
<xs:sequence>
<xs:element name="Materia_Requisito" type="tns:Materia_Requisito" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Materia_Requisito">
<xs:sequence>
<xs:element name="CodMateria" type="xs:string" minOccurs="0"/>
<xs:element name="Materia" type="xs:string" minOccurs="0"/>
<xs:element name="CodTipo" type="xs:string" minOccurs="0"/>
<xs:element name="Tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Periodo">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="FechaInicio" type="xs:dateTime"/>
<xs:element name="FechaFin" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
</xs:schema>