WSUnidosAplicaciones/src/java/META-INF/wsInfoCarrera.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://misServiciosInfoCarrera/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://misServiciosInfoCarrera/" name="wsInfoCarrera">
<types>
<xsd:schema>
<xsd:import namespace="http://misServiciosInfoCarrera/" schemaLocation="http://localhost:8080/wsEspochInfoCarrera/wsInfoCarrera?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/wsEspochInfoCarrera/wsInfoCarrera?xsd=2"/>
</xsd:schema>
</types>
<message name="getTitulosCarrera">
<part name="parameters" element="tns:getTitulosCarrera"/>
</message>
<message name="getTitulosCarreraResponse">
<part name="parameters" element="tns:getTitulosCarreraResponse"/>
</message>
<message name="getAlumnosMateria">
<part name="parameters" element="tns:getAlumnosMateria"/>
</message>
<message name="getAlumnosMateriaResponse">
<part name="parameters" element="tns:getAlumnosMateriaResponse"/>
</message>
<message name="getDatosMatricula">
<part name="parameters" element="tns:getDatosMatricula"/>
</message>
<message name="getDatosMatriculaResponse">
<part name="parameters" element="tns:getDatosMatriculaResponse"/>
</message>
<message name="getDictadosMateria">
<part name="parameters" element="tns:getDictadosMateria"/>
</message>
<message name="getDictadosMateriaResponse">
<part name="parameters" element="tns:getDictadosMateriaResponse"/>
</message>
<message name="getHorarioDocente">
<part name="parameters" element="tns:getHorarioDocente"/>
</message>
<message name="getHorarioDocenteResponse">
<part name="parameters" element="tns:getHorarioDocenteResponse"/>
</message>
<message name="getDatosMateria">
<part name="parameters" element="tns:getDatosMateria"/>
</message>
<message name="getDatosMateriaResponse">
<part name="parameters" element="tns:getDatosMateriaResponse"/>
</message>
<message name="getDatosDocente">
<part name="parameters" element="tns:getDatosDocente"/>
</message>
<message name="getDatosDocenteResponse">
<part name="parameters" element="tns:getDatosDocenteResponse"/>
</message>
<message name="getTitulosEstudiante">
<part name="parameters" element="tns:getTitulosEstudiante"/>
</message>
<message name="getTitulosEstudianteResponse">
<part name="parameters" element="tns:getTitulosEstudianteResponse"/>
</message>
<message name="getDatosCompletosEstudiante">
<part name="parameters" element="tns:getDatosCompletosEstudiante"/>
</message>
<message name="getDatosCompletosEstudianteResponse">
<part name="parameters" element="tns:getDatosCompletosEstudianteResponse"/>
</message>
<message name="getParametrosCarreraTotal">
<part name="parameters" element="tns:getParametrosCarreraTotal"/>
</message>
<message name="getParametrosCarreraTotalResponse">
<part name="parameters" element="tns:getParametrosCarreraTotalResponse"/>
</message>
<message name="getHorariosDocenteParalelo">
<part name="parameters" element="tns:getHorariosDocenteParalelo"/>
</message>
<message name="getHorariosDocenteParaleloResponse">
<part name="parameters" element="tns:getHorariosDocenteParaleloResponse"/>
</message>
<message name="getMateriasEstudianteCreditos">
<part name="parameters" element="tns:getMateriasEstudianteCreditos"/>
</message>
<message name="getMateriasEstudianteCreditosResponse">
<part name="parameters" element="tns:getMateriasEstudianteCreditosResponse"/>
</message>
<message name="getMateriasNoAprobadas">
<part name="parameters" element="tns:getMateriasNoAprobadas"/>
</message>
<message name="getMateriasNoAprobadasResponse">
<part name="parameters" element="tns:getMateriasNoAprobadasResponse"/>
</message>
<message name="getHorariosDocente">
<part name="parameters" element="tns:getHorariosDocente"/>
</message>
<message name="getHorariosDocenteResponse">
<part name="parameters" element="tns:getHorariosDocenteResponse"/>
</message>
<message name="getTodasMatriculaEstudiantes">
<part name="parameters" element="tns:getTodasMatriculaEstudiantes"/>
</message>
<message name="getTodasMatriculaEstudiantesResponse">
<part name="parameters" element="tns:getTodasMatriculaEstudiantesResponse"/>
</message>
<message name="getPromocionesEstudiante">
<part name="parameters" element="tns:getPromocionesEstudiante"/>
</message>
<message name="getPromocionesEstudianteResponse">
<part name="parameters" element="tns:getPromocionesEstudianteResponse"/>
</message>
<message name="getGradosEstudiante">
<part name="parameters" element="tns:getGradosEstudiante"/>
</message>
<message name="getGradosEstudianteResponse">
<part name="parameters" element="tns:getGradosEstudianteResponse"/>
</message>
<message name="getInscripcionesEstudiante">
<part name="parameters" element="tns:getInscripcionesEstudiante"/>
</message>
<message name="getInscripcionesEstudianteResponse">
<part name="parameters" element="tns:getInscripcionesEstudianteResponse"/>
</message>
<message name="getEvaluacionesOralGrado">
<part name="parameters" element="tns:getEvaluacionesOralGrado"/>
</message>
<message name="getEvaluacionesOralGradoResponse">
<part name="parameters" element="tns:getEvaluacionesOralGradoResponse"/>
</message>
<message name="getConvalidaciones">
<part name="parameters" element="tns:getConvalidaciones"/>
</message>
<message name="getConvalidacionesResponse">
<part name="parameters" element="tns:getConvalidacionesResponse"/>
</message>
<message name="getCreditosAprobadosCS">
<part name="parameters" element="tns:getCreditosAprobadosCS"/>
</message>
<message name="getCreditosAprobadosCSResponse">
<part name="parameters" element="tns:getCreditosAprobadosCSResponse"/>
</message>
<message name="getDatosInscInstSexo">
<part name="parameters" element="tns:getDatosInscInstSexo"/>
</message>
<message name="getDatosInscInstSexoResponse">
<part name="parameters" element="tns:getDatosInscInstSexoResponse"/>
</message>
<message name="getInfoGeneralGradoEstudiante">
<part name="parameters" element="tns:getInfoGeneralGradoEstudiante"/>
</message>
<message name="getInfoGeneralGradoEstudianteResponse">
<part name="parameters" element="tns:getInfoGeneralGradoEstudianteResponse"/>
</message>
<message name="getDatosUsuarioCarrera">
<part name="parameters" element="tns:getDatosUsuarioCarrera"/>
</message>
<message name="getDatosUsuarioCarreraResponse">
<part name="parameters" element="tns:getDatosUsuarioCarreraResponse"/>
</message>
<message name="getEstadoEstudianteCarrera">
<part name="parameters" element="tns:getEstadoEstudianteCarrera"/>
</message>
<message name="getEstadoEstudianteCarreraResponse">
<part name="parameters" element="tns:getEstadoEstudianteCarreraResponse"/>
</message>
<message name="getEvaluacionesEscritasGrado">
<part name="parameters" element="tns:getEvaluacionesEscritasGrado"/>
</message>
<message name="getEvaluacionesEscritasGradoResponse">
<part name="parameters" element="tns:getEvaluacionesEscritasGradoResponse"/>
</message>
<message name="getMallaCurricularPensumVigente">
<part name="parameters" element="tns:getMallaCurricularPensumVigente"/>
</message>
<message name="getMallaCurricularPensumVigenteResponse">
<part name="parameters" element="tns:getMallaCurricularPensumVigenteResponse"/>
</message>
<message name="getMateriasAprobadas">
<part name="parameters" element="tns:getMateriasAprobadas"/>
</message>
<message name="getMateriasAprobadasResponse">
<part name="parameters" element="tns:getMateriasAprobadasResponse"/>
</message>
<message name="getMateriasDocente">
<part name="parameters" element="tns:getMateriasDocente"/>
</message>
<message name="getMateriasDocenteResponse">
<part name="parameters" element="tns:getMateriasDocenteResponse"/>
</message>
<message name="getMateriasParaleloEstudiante">
<part name="parameters" element="tns:getMateriasParaleloEstudiante"/>
</message>
<message name="getMateriasParaleloEstudianteResponse">
<part name="parameters" element="tns:getMateriasParaleloEstudianteResponse"/>
</message>
<message name="getDatosEstudianteMatriculado">
<part name="parameters" element="tns:getDatosEstudianteMatriculado"/>
</message>
<message name="getDatosEstudianteMatriculadoResponse">
<part name="parameters" element="tns:getDatosEstudianteMatriculadoResponse"/>
</message>
<message name="getHorarioEstudiante">
<part name="parameters" element="tns:getHorarioEstudiante"/>
</message>
<message name="getHorarioEstudianteResponse">
<part name="parameters" element="tns:getHorarioEstudianteResponse"/>
</message>
<message name="getHorarioExamenesEstudiante">
<part name="parameters" element="tns:getHorarioExamenesEstudiante"/>
</message>
<message name="getHorarioExamenesEstudianteResponse">
<part name="parameters" element="tns:getHorarioExamenesEstudianteResponse"/>
</message>
<message name="getMateriasReprobados">
<part name="parameters" element="tns:getMateriasReprobados"/>
</message>
<message name="getMateriasReprobadosResponse">
<part name="parameters" element="tns:getMateriasReprobadosResponse"/>
</message>
<message name="getUltimasNotasEstudianteCarrera">
<part name="parameters" element="tns:getUltimasNotasEstudianteCarrera"/>
</message>
<message name="getUltimasNotasEstudianteCarreraResponse">
<part name="parameters" element="tns:getUltimasNotasEstudianteCarreraResponse"/>
</message>
<message name="getTitulosDocentes">
<part name="parameters" element="tns:getTitulosDocentes"/>
</message>
<message name="getTitulosDocentesResponse">
<part name="parameters" element="tns:getTitulosDocentesResponse"/>
</message>
<message name="getMateriasEstudiante">
<part name="parameters" element="tns:getMateriasEstudiante"/>
</message>
<message name="getMateriasEstudianteResponse">
<part name="parameters" element="tns:getMateriasEstudianteResponse"/>
</message>
<message name="getParametrosCarrera">
<part name="parameters" element="tns:getParametrosCarrera"/>
</message>
<message name="getParametrosCarreraResponse">
<part name="parameters" element="tns:getParametrosCarreraResponse"/>
</message>
<message name="getActaGradoEstudiante">
<part name="parameters" element="tns:getActaGradoEstudiante"/>
</message>
<message name="getActaGradoEstudianteResponse">
<part name="parameters" element="tns:getActaGradoEstudianteResponse"/>
</message>
<message name="getInscripcionGratuidad">
<part name="parameters" element="tns:getInscripcionGratuidad"/>
</message>
<message name="getInscripcionGratuidadResponse">
<part name="parameters" element="tns:getInscripcionGratuidadResponse"/>
</message>
<message name="getInscripcionesEstudianteNoActivados">
<part name="parameters" element="tns:getInscripcionesEstudianteNoActivados"/>
</message>
<message name="getInscripcionesEstudianteNoActivadosResponse">
<part name="parameters" element="tns:getInscripcionesEstudianteNoActivadosResponse"/>
</message>
<message name="getMallaCurricularPensumVigenteSinDescripcion">
<part name="parameters" element="tns:getMallaCurricularPensumVigenteSinDescripcion"/>
</message>
<message name="getMallaCurricularPensumVigenteSinDescripcionResponse">
<part name="parameters" element="tns:getMallaCurricularPensumVigenteSinDescripcionResponse"/>
</message>
<portType name="wsInfoCarrera">
<operation name="getTitulosCarrera">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getTitulosCarreraRequest" message="tns:getTitulosCarrera"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getTitulosCarreraResponse" message="tns:getTitulosCarreraResponse"/>
</operation>
<operation name="getAlumnosMateria">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getAlumnosMateriaRequest" message="tns:getAlumnosMateria"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getAlumnosMateriaResponse" message="tns:getAlumnosMateriaResponse"/>
</operation>
<operation name="getDatosMatricula">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosMatriculaRequest" message="tns:getDatosMatricula"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosMatriculaResponse" message="tns:getDatosMatriculaResponse"/>
</operation>
<operation name="getDictadosMateria">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDictadosMateriaRequest" message="tns:getDictadosMateria"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDictadosMateriaResponse" message="tns:getDictadosMateriaResponse"/>
</operation>
<operation name="getHorarioDocente">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorarioDocenteRequest" message="tns:getHorarioDocente"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorarioDocenteResponse" message="tns:getHorarioDocenteResponse"/>
</operation>
<operation name="getDatosMateria">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosMateriaRequest" message="tns:getDatosMateria"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosMateriaResponse" message="tns:getDatosMateriaResponse"/>
</operation>
<operation name="getDatosDocente">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosDocenteRequest" message="tns:getDatosDocente"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosDocenteResponse" message="tns:getDatosDocenteResponse"/>
</operation>
<operation name="getTitulosEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getTitulosEstudianteRequest" message="tns:getTitulosEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getTitulosEstudianteResponse" message="tns:getTitulosEstudianteResponse"/>
</operation>
<operation name="getDatosCompletosEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosCompletosEstudianteRequest" message="tns:getDatosCompletosEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosCompletosEstudianteResponse" message="tns:getDatosCompletosEstudianteResponse"/>
</operation>
<operation name="getParametrosCarreraTotal">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getParametrosCarreraTotalRequest" message="tns:getParametrosCarreraTotal"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getParametrosCarreraTotalResponse" message="tns:getParametrosCarreraTotalResponse"/>
</operation>
<operation name="getHorariosDocenteParalelo">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorariosDocenteParaleloRequest" message="tns:getHorariosDocenteParalelo"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorariosDocenteParaleloResponse" message="tns:getHorariosDocenteParaleloResponse"/>
</operation>
<operation name="getMateriasEstudianteCreditos">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasEstudianteCreditosRequest" message="tns:getMateriasEstudianteCreditos"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasEstudianteCreditosResponse" message="tns:getMateriasEstudianteCreditosResponse"/>
</operation>
<operation name="getMateriasNoAprobadas">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasNoAprobadasRequest" message="tns:getMateriasNoAprobadas"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasNoAprobadasResponse" message="tns:getMateriasNoAprobadasResponse"/>
</operation>
<operation name="getHorariosDocente">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorariosDocenteRequest" message="tns:getHorariosDocente"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorariosDocenteResponse" message="tns:getHorariosDocenteResponse"/>
</operation>
<operation name="getTodasMatriculaEstudiantes">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getTodasMatriculaEstudiantesRequest" message="tns:getTodasMatriculaEstudiantes"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getTodasMatriculaEstudiantesResponse" message="tns:getTodasMatriculaEstudiantesResponse"/>
</operation>
<operation name="getPromocionesEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getPromocionesEstudianteRequest" message="tns:getPromocionesEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getPromocionesEstudianteResponse" message="tns:getPromocionesEstudianteResponse"/>
</operation>
<operation name="getGradosEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getGradosEstudianteRequest" message="tns:getGradosEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getGradosEstudianteResponse" message="tns:getGradosEstudianteResponse"/>
</operation>
<operation name="getInscripcionesEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getInscripcionesEstudianteRequest" message="tns:getInscripcionesEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getInscripcionesEstudianteResponse" message="tns:getInscripcionesEstudianteResponse"/>
</operation>
<operation name="getEvaluacionesOralGrado">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getEvaluacionesOralGradoRequest" message="tns:getEvaluacionesOralGrado"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getEvaluacionesOralGradoResponse" message="tns:getEvaluacionesOralGradoResponse"/>
</operation>
<operation name="getConvalidaciones">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getConvalidacionesRequest" message="tns:getConvalidaciones"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getConvalidacionesResponse" message="tns:getConvalidacionesResponse"/>
</operation>
<operation name="getCreditosAprobadosCS">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getCreditosAprobadosCSRequest" message="tns:getCreditosAprobadosCS"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getCreditosAprobadosCSResponse" message="tns:getCreditosAprobadosCSResponse"/>
</operation>
<operation name="getDatosInscInstSexo">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosInscInstSexoRequest" message="tns:getDatosInscInstSexo"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosInscInstSexoResponse" message="tns:getDatosInscInstSexoResponse"/>
</operation>
<operation name="getInfoGeneralGradoEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getInfoGeneralGradoEstudianteRequest" message="tns:getInfoGeneralGradoEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getInfoGeneralGradoEstudianteResponse" message="tns:getInfoGeneralGradoEstudianteResponse"/>
</operation>
<operation name="getDatosUsuarioCarrera">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosUsuarioCarreraRequest" message="tns:getDatosUsuarioCarrera"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosUsuarioCarreraResponse" message="tns:getDatosUsuarioCarreraResponse"/>
</operation>
<operation name="getEstadoEstudianteCarrera">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getEstadoEstudianteCarreraRequest" message="tns:getEstadoEstudianteCarrera"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getEstadoEstudianteCarreraResponse" message="tns:getEstadoEstudianteCarreraResponse"/>
</operation>
<operation name="getEvaluacionesEscritasGrado">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getEvaluacionesEscritasGradoRequest" message="tns:getEvaluacionesEscritasGrado"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getEvaluacionesEscritasGradoResponse" message="tns:getEvaluacionesEscritasGradoResponse"/>
</operation>
<operation name="getMallaCurricularPensumVigente">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMallaCurricularPensumVigenteRequest" message="tns:getMallaCurricularPensumVigente"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMallaCurricularPensumVigenteResponse" message="tns:getMallaCurricularPensumVigenteResponse"/>
</operation>
<operation name="getMateriasAprobadas">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasAprobadasRequest" message="tns:getMateriasAprobadas"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasAprobadasResponse" message="tns:getMateriasAprobadasResponse"/>
</operation>
<operation name="getMateriasDocente">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasDocenteRequest" message="tns:getMateriasDocente"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasDocenteResponse" message="tns:getMateriasDocenteResponse"/>
</operation>
<operation name="getMateriasParaleloEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasParaleloEstudianteRequest" message="tns:getMateriasParaleloEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasParaleloEstudianteResponse" message="tns:getMateriasParaleloEstudianteResponse"/>
</operation>
<operation name="getDatosEstudianteMatriculado">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosEstudianteMatriculadoRequest" message="tns:getDatosEstudianteMatriculado"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getDatosEstudianteMatriculadoResponse" message="tns:getDatosEstudianteMatriculadoResponse"/>
</operation>
<operation name="getHorarioEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorarioEstudianteRequest" message="tns:getHorarioEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorarioEstudianteResponse" message="tns:getHorarioEstudianteResponse"/>
</operation>
<operation name="getHorarioExamenesEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorarioExamenesEstudianteRequest" message="tns:getHorarioExamenesEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getHorarioExamenesEstudianteResponse" message="tns:getHorarioExamenesEstudianteResponse"/>
</operation>
<operation name="getMateriasReprobados">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasReprobadosRequest" message="tns:getMateriasReprobados"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasReprobadosResponse" message="tns:getMateriasReprobadosResponse"/>
</operation>
<operation name="getUltimasNotasEstudianteCarrera">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getUltimasNotasEstudianteCarreraRequest" message="tns:getUltimasNotasEstudianteCarrera"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getUltimasNotasEstudianteCarreraResponse" message="tns:getUltimasNotasEstudianteCarreraResponse"/>
</operation>
<operation name="getTitulosDocentes">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getTitulosDocentesRequest" message="tns:getTitulosDocentes"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getTitulosDocentesResponse" message="tns:getTitulosDocentesResponse"/>
</operation>
<operation name="getMateriasEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasEstudianteRequest" message="tns:getMateriasEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMateriasEstudianteResponse" message="tns:getMateriasEstudianteResponse"/>
</operation>
<operation name="getParametrosCarrera">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getParametrosCarreraRequest" message="tns:getParametrosCarrera"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getParametrosCarreraResponse" message="tns:getParametrosCarreraResponse"/>
</operation>
<operation name="getActaGradoEstudiante">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getActaGradoEstudianteRequest" message="tns:getActaGradoEstudiante"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getActaGradoEstudianteResponse" message="tns:getActaGradoEstudianteResponse"/>
</operation>
<operation name="getInscripcionGratuidad">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getInscripcionGratuidadRequest" message="tns:getInscripcionGratuidad"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getInscripcionGratuidadResponse" message="tns:getInscripcionGratuidadResponse"/>
</operation>
<operation name="getInscripcionesEstudianteNoActivados">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getInscripcionesEstudianteNoActivadosRequest" message="tns:getInscripcionesEstudianteNoActivados"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getInscripcionesEstudianteNoActivadosResponse" message="tns:getInscripcionesEstudianteNoActivadosResponse"/>
</operation>
<operation name="getMallaCurricularPensumVigenteSinDescripcion">
<input wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMallaCurricularPensumVigenteSinDescripcionRequest" message="tns:getMallaCurricularPensumVigenteSinDescripcion"/>
<output wsam:Action="http://misServiciosInfoCarrera/wsInfoCarrera/getMallaCurricularPensumVigenteSinDescripcionResponse" message="tns:getMallaCurricularPensumVigenteSinDescripcionResponse"/>
</operation>
</portType>
<binding name="wsInfoCarreraPortBinding" type="tns:wsInfoCarrera">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTitulosCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAlumnosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosMatricula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDictadosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHorarioDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTitulosEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosCompletosEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametrosCarreraTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHorariosDocenteParalelo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasEstudianteCreditos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasNoAprobadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHorariosDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasMatriculaEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPromocionesEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGradosEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInscripcionesEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluacionesOralGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConvalidaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCreditosAprobadosCS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosInscInstSexo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfoGeneralGradoEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEstadoEstudianteCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluacionesEscritasGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMallaCurricularPensumVigente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasAprobadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasParaleloEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosEstudianteMatriculado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHorarioEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHorarioExamenesEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasReprobados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUltimasNotasEstudianteCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTitulosDocentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametrosCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActaGradoEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInscripcionGratuidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInscripcionesEstudianteNoActivados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMallaCurricularPensumVigenteSinDescripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsInfoCarrera">
<port name="wsInfoCarreraPort" binding="tns:wsInfoCarreraPortBinding">
<soap:address location="http://localhost:8080/wsEspochInfoCarrera/wsInfoCarrera"/>
</port>
</service>
</definitions>