Silabo/web/WEB-INF/wsdl/localhost_8080/SistemaSilaboAD/silaboWSAcdatos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw.silabo.dda/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw.silabo.dda/" name="silaboWSAcdatos">
<types>
<xsd:schema>
<xsd:import namespace="http://sw.silabo.dda/" schemaLocation="http://localhost:8080/SistemaSilaboAD/silaboWSAcdatos?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/SistemaSilaboAD/silaboWSAcdatos?xsd=2"/>
</xsd:schema>
</types>
<message name="UnidadCargar">
<part name="parameters" element="tns:UnidadCargar"/>
</message>
<message name="UnidadCargarResponse">
<part name="parameters" element="tns:UnidadCargarResponse"/>
</message>
<message name="MateriaCargar">
<part name="parameters" element="tns:MateriaCargar"/>
</message>
<message name="MateriaCargarResponse">
<part name="parameters" element="tns:MateriaCargarResponse"/>
</message>
<message name="UnidadActualizar">
<part name="parameters" element="tns:UnidadActualizar"/>
</message>
<message name="UnidadActualizarResponse">
<part name="parameters" element="tns:UnidadActualizarResponse"/>
</message>
<message name="RecursosCargar">
<part name="parameters" element="tns:RecursosCargar"/>
</message>
<message name="RecursosCargarResponse">
<part name="parameters" element="tns:RecursosCargarResponse"/>
</message>
<message name="SilaboPdfGenerar">
<part name="parameters" element="tns:SilaboPdfGenerar"/>
</message>
<message name="SilaboPdfGenerarResponse">
<part name="parameters" element="tns:SilaboPdfGenerarResponse"/>
</message>
<message name="EstrategiasGuardarAdm">
<part name="parameters" element="tns:EstrategiasGuardarAdm"/>
</message>
<message name="EstrategiasGuardarAdmResponse">
<part name="parameters" element="tns:EstrategiasGuardarAdmResponse"/>
</message>
<message name="RecursosGuardar">
<part name="parameters" element="tns:RecursosGuardar"/>
</message>
<message name="RecursosGuardarResponse">
<part name="parameters" element="tns:RecursosGuardarResponse"/>
</message>
<message name="ActividadesGuardarAdm">
<part name="parameters" element="tns:ActividadesGuardarAdm"/>
</message>
<message name="ActividadesGuardarAdmResponse">
<part name="parameters" element="tns:ActividadesGuardarAdmResponse"/>
</message>
<message name="getObservacionesSecciones">
<part name="parameters" element="tns:getObservacionesSecciones"/>
</message>
<message name="getObservacionesSeccionesResponse">
<part name="parameters" element="tns:getObservacionesSeccionesResponse"/>
</message>
<message name="EscenariosEliminarAdm">
<part name="parameters" element="tns:EscenariosEliminarAdm"/>
</message>
<message name="EscenariosEliminarAdmResponse">
<part name="parameters" element="tns:EscenariosEliminarAdmResponse"/>
</message>
<message name="autenticarUsuario">
<part name="parameters" element="tns:autenticarUsuario"/>
</message>
<message name="autenticarUsuarioResponse">
<part name="parameters" element="tns:autenticarUsuarioResponse"/>
</message>
<message name="EvaluacionesCargar">
<part name="parameters" element="tns:EvaluacionesCargar"/>
</message>
<message name="EvaluacionesCargarResponse">
<part name="parameters" element="tns:EvaluacionesCargarResponse"/>
</message>
<message name="EscenariosGuardar">
<part name="parameters" element="tns:EscenariosGuardar"/>
</message>
<message name="EscenariosGuardarResponse">
<part name="parameters" element="tns:EscenariosGuardarResponse"/>
</message>
<message name="InsertarObjetivoAD">
<part name="parameters" element="tns:InsertarObjetivoAD"/>
</message>
<message name="InsertarObjetivoADResponse">
<part name="parameters" element="tns:InsertarObjetivoADResponse"/>
</message>
<message name="BibliografiasCargar">
<part name="parameters" element="tns:BibliografiasCargar"/>
</message>
<message name="BibliografiasCargarResponse">
<part name="parameters" element="tns:BibliografiasCargarResponse"/>
</message>
<message name="RecursosEliminarAdm">
<part name="parameters" element="tns:RecursosEliminarAdm"/>
</message>
<message name="RecursosEliminarAdmResponse">
<part name="parameters" element="tns:RecursosEliminarAdmResponse"/>
</message>
<message name="ActividadesAprendizajeGuardar">
<part name="parameters" element="tns:ActividadesAprendizajeGuardar"/>
</message>
<message name="ActividadesAprendizajeGuardarResponse">
<part name="parameters" element="tns:ActividadesAprendizajeGuardarResponse"/>
</message>
<message name="RecursosGuardarAdm">
<part name="parameters" element="tns:RecursosGuardarAdm"/>
</message>
<message name="RecursosGuardarAdmResponse">
<part name="parameters" element="tns:RecursosGuardarAdmResponse"/>
</message>
<message name="EstrategiasEliminarAdm">
<part name="parameters" element="tns:EstrategiasEliminarAdm"/>
</message>
<message name="EstrategiasEliminarAdmResponse">
<part name="parameters" element="tns:EstrategiasEliminarAdmResponse"/>
</message>
<message name="DatosDocentesCargar">
<part name="parameters" element="tns:DatosDocentesCargar"/>
</message>
<message name="DatosDocentesCargarResponse">
<part name="parameters" element="tns:DatosDocentesCargarResponse"/>
</message>
<message name="CalificacionesGuardar">
<part name="parameters" element="tns:CalificacionesGuardar"/>
</message>
<message name="CalificacionesGuardarResponse">
<part name="parameters" element="tns:CalificacionesGuardarResponse"/>
</message>
<message name="DocenteInformacionCargar">
<part name="parameters" element="tns:DocenteInformacionCargar"/>
</message>
<message name="DocenteInformacionCargarResponse">
<part name="parameters" element="tns:DocenteInformacionCargarResponse"/>
</message>
<message name="ActividadesAprendizajeCargar">
<part name="parameters" element="tns:ActividadesAprendizajeCargar"/>
</message>
<message name="ActividadesAprendizajeCargarResponse">
<part name="parameters" element="tns:ActividadesAprendizajeCargarResponse"/>
</message>
<message name="BibliografiasGuardar">
<part name="parameters" element="tns:BibliografiasGuardar"/>
</message>
<message name="BibliografiasGuardarResponse">
<part name="parameters" element="tns:BibliografiasGuardarResponse"/>
</message>
<message name="UnidadesAcademicasDocenteCargar">
<part name="parameters" element="tns:UnidadesAcademicasDocenteCargar"/>
</message>
<message name="UnidadesAcademicasDocenteCargarResponse">
<part name="parameters" element="tns:UnidadesAcademicasDocenteCargarResponse"/>
</message>
<message name="EstrategiasGuardar">
<part name="parameters" element="tns:EstrategiasGuardar"/>
</message>
<message name="EstrategiasGuardarResponse">
<part name="parameters" element="tns:EstrategiasGuardarResponse"/>
</message>
<message name="DatosGeneralesCargar">
<part name="parameters" element="tns:DatosGeneralesCargar"/>
</message>
<message name="DatosGeneralesCargarResponse">
<part name="parameters" element="tns:DatosGeneralesCargarResponse"/>
</message>
<message name="getObservacionesSubsecciones">
<part name="parameters" element="tns:getObservacionesSubsecciones"/>
</message>
<message name="getObservacionesSubseccionesResponse">
<part name="parameters" element="tns:getObservacionesSubseccionesResponse"/>
</message>
<message name="ActividadesEliminarAdm">
<part name="parameters" element="tns:ActividadesEliminarAdm"/>
</message>
<message name="ActividadesEliminarAdmResponse">
<part name="parameters" element="tns:ActividadesEliminarAdmResponse"/>
</message>
<message name="EstrategiasCargar">
<part name="parameters" element="tns:EstrategiasCargar"/>
</message>
<message name="EstrategiasCargarResponse">
<part name="parameters" element="tns:EstrategiasCargarResponse"/>
</message>
<message name="EscenariosGuardarAdm">
<part name="parameters" element="tns:EscenariosGuardarAdm"/>
</message>
<message name="EscenariosGuardarAdmResponse">
<part name="parameters" element="tns:EscenariosGuardarAdmResponse"/>
</message>
<message name="getIdSilabo">
<part name="parameters" element="tns:getIdSilabo"/>
</message>
<message name="getIdSilaboResponse">
<part name="parameters" element="tns:getIdSilaboResponse"/>
</message>
<message name="EscenariosCargar">
<part name="parameters" element="tns:EscenariosCargar"/>
</message>
<message name="EscenariosCargarResponse">
<part name="parameters" element="tns:EscenariosCargarResponse"/>
</message>
<portType name="SilaboSW">
<operation name="UnidadCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadCargarRequest" message="tns:UnidadCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadCargarResponse" message="tns:UnidadCargarResponse"/>
</operation>
<operation name="MateriaCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/MateriaCargarRequest" message="tns:MateriaCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/MateriaCargarResponse" message="tns:MateriaCargarResponse"/>
</operation>
<operation name="UnidadActualizar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadActualizarRequest" message="tns:UnidadActualizar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadActualizarResponse" message="tns:UnidadActualizarResponse"/>
</operation>
<operation name="RecursosCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosCargarRequest" message="tns:RecursosCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosCargarResponse" message="tns:RecursosCargarResponse"/>
</operation>
<operation name="SilaboPdfGenerar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboPdfGenerarRequest" message="tns:SilaboPdfGenerar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboPdfGenerarResponse" message="tns:SilaboPdfGenerarResponse"/>
</operation>
<operation name="EstrategiasGuardarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasGuardarAdmRequest" message="tns:EstrategiasGuardarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasGuardarAdmResponse" message="tns:EstrategiasGuardarAdmResponse"/>
</operation>
<operation name="RecursosGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosGuardarRequest" message="tns:RecursosGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosGuardarResponse" message="tns:RecursosGuardarResponse"/>
</operation>
<operation name="ActividadesGuardarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesGuardarAdmRequest" message="tns:ActividadesGuardarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesGuardarAdmResponse" message="tns:ActividadesGuardarAdmResponse"/>
</operation>
<operation name="getObservacionesSecciones">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/getObservacionesSeccionesRequest" message="tns:getObservacionesSecciones"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/getObservacionesSeccionesResponse" message="tns:getObservacionesSeccionesResponse"/>
</operation>
<operation name="EscenariosEliminarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosEliminarAdmRequest" message="tns:EscenariosEliminarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosEliminarAdmResponse" message="tns:EscenariosEliminarAdmResponse"/>
</operation>
<operation name="autenticarUsuario">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
</operation>
<operation name="EvaluacionesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EvaluacionesCargarRequest" message="tns:EvaluacionesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EvaluacionesCargarResponse" message="tns:EvaluacionesCargarResponse"/>
</operation>
<operation name="EscenariosGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosGuardarRequest" message="tns:EscenariosGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosGuardarResponse" message="tns:EscenariosGuardarResponse"/>
</operation>
<operation name="InsertarObjetivoAD">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/InsertarObjetivoADRequest" message="tns:InsertarObjetivoAD"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/InsertarObjetivoADResponse" message="tns:InsertarObjetivoADResponse"/>
</operation>
<operation name="BibliografiasCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasCargarRequest" message="tns:BibliografiasCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasCargarResponse" message="tns:BibliografiasCargarResponse"/>
</operation>
<operation name="RecursosEliminarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosEliminarAdmRequest" message="tns:RecursosEliminarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosEliminarAdmResponse" message="tns:RecursosEliminarAdmResponse"/>
</operation>
<operation name="ActividadesAprendizajeGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesAprendizajeGuardarRequest" message="tns:ActividadesAprendizajeGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesAprendizajeGuardarResponse" message="tns:ActividadesAprendizajeGuardarResponse"/>
</operation>
<operation name="RecursosGuardarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosGuardarAdmRequest" message="tns:RecursosGuardarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosGuardarAdmResponse" message="tns:RecursosGuardarAdmResponse"/>
</operation>
<operation name="EstrategiasEliminarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasEliminarAdmRequest" message="tns:EstrategiasEliminarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasEliminarAdmResponse" message="tns:EstrategiasEliminarAdmResponse"/>
</operation>
<operation name="DatosDocentesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/DatosDocentesCargarRequest" message="tns:DatosDocentesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/DatosDocentesCargarResponse" message="tns:DatosDocentesCargarResponse"/>
</operation>
<operation name="CalificacionesGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/CalificacionesGuardarRequest" message="tns:CalificacionesGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/CalificacionesGuardarResponse" message="tns:CalificacionesGuardarResponse"/>
</operation>
<operation name="DocenteInformacionCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/DocenteInformacionCargarRequest" message="tns:DocenteInformacionCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/DocenteInformacionCargarResponse" message="tns:DocenteInformacionCargarResponse"/>
</operation>
<operation name="ActividadesAprendizajeCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesAprendizajeCargarRequest" message="tns:ActividadesAprendizajeCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesAprendizajeCargarResponse" message="tns:ActividadesAprendizajeCargarResponse"/>
</operation>
<operation name="BibliografiasGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasGuardarRequest" message="tns:BibliografiasGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasGuardarResponse" message="tns:BibliografiasGuardarResponse"/>
</operation>
<operation name="UnidadesAcademicasDocenteCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadesAcademicasDocenteCargarRequest" message="tns:UnidadesAcademicasDocenteCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadesAcademicasDocenteCargarResponse" message="tns:UnidadesAcademicasDocenteCargarResponse"/>
</operation>
<operation name="EstrategiasGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasGuardarRequest" message="tns:EstrategiasGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasGuardarResponse" message="tns:EstrategiasGuardarResponse"/>
</operation>
<operation name="DatosGeneralesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/DatosGeneralesCargarRequest" message="tns:DatosGeneralesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/DatosGeneralesCargarResponse" message="tns:DatosGeneralesCargarResponse"/>
</operation>
<operation name="getObservacionesSubsecciones">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/getObservacionesSubseccionesRequest" message="tns:getObservacionesSubsecciones"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/getObservacionesSubseccionesResponse" message="tns:getObservacionesSubseccionesResponse"/>
</operation>
<operation name="ActividadesEliminarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesEliminarAdmRequest" message="tns:ActividadesEliminarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesEliminarAdmResponse" message="tns:ActividadesEliminarAdmResponse"/>
</operation>
<operation name="EstrategiasCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasCargarRequest" message="tns:EstrategiasCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasCargarResponse" message="tns:EstrategiasCargarResponse"/>
</operation>
<operation name="EscenariosGuardarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosGuardarAdmRequest" message="tns:EscenariosGuardarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosGuardarAdmResponse" message="tns:EscenariosGuardarAdmResponse"/>
</operation>
<operation name="getIdSilabo">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/getIdSilaboRequest" message="tns:getIdSilabo"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/getIdSilaboResponse" message="tns:getIdSilaboResponse"/>
</operation>
<operation name="EscenariosCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosCargarRequest" message="tns:EscenariosCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosCargarResponse" message="tns:EscenariosCargarResponse"/>
</operation>
</portType>
<binding name="SilaboSWPortBinding" type="tns:SilaboSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="UnidadCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MateriaCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadActualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SilaboPdfGenerar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObservacionesSecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EvaluacionesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarObjetivoAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BibliografiasCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesAprendizajeGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosDocentesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CalificacionesGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocenteInformacionCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesAprendizajeCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BibliografiasGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadesAcademicasDocenteCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosGeneralesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObservacionesSubsecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdSilabo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="silaboWSAcdatos">
<port name="SilaboSWPort" binding="tns:SilaboSWPortBinding">
<soap:address location="http://localhost:8080/SistemaSilaboAD/silaboWSAcdatos"/>
</port>
</service>
</definitions>