Silabo/web/WEB-INF/wsdl/localhost_8080/SistemaSilaboAD/silaboWSAcdatos2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSAcdatos.silabo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSAcdatos.silabo.com/" name="silaboWSAcdatos2">
<types>
<xsd:schema>
<xsd:import namespace="http://WSAcdatos.silabo.com/" schemaLocation="http://localhost:8080/SistemaSilaboAD/silaboWSAcdatos2?xsd=1"/>
</xsd:schema>
</types>
<message name="cargarTemasAD">
<part name="parameters" element="tns:cargarTemasAD"/>
</message>
<message name="cargarTemasADResponse">
<part name="parameters" element="tns:cargarTemasADResponse"/>
</message>
<message name="cargarMateria">
<part name="parameters" element="tns:cargarMateria"/>
</message>
<message name="cargarMateriaResponse">
<part name="parameters" element="tns:cargarMateriaResponse"/>
</message>
<message name="CargarUnidadAD">
<part name="parameters" element="tns:CargarUnidadAD"/>
</message>
<message name="CargarUnidadADResponse">
<part name="parameters" element="tns:CargarUnidadADResponse"/>
</message>
<message name="cargarSecciones">
<part name="parameters" element="tns:cargarSecciones"/>
</message>
<message name="cargarSeccionesResponse">
<part name="parameters" element="tns:cargarSeccionesResponse"/>
</message>
<message name="EscenariosCargar">
<part name="parameters" element="tns:EscenariosCargar"/>
</message>
<message name="EscenariosCargarResponse">
<part name="parameters" element="tns:EscenariosCargarResponse"/>
</message>
<message name="cargarAportes">
<part name="parameters" element="tns:cargarAportes"/>
</message>
<message name="cargarAportesResponse">
<part name="parameters" element="tns:cargarAportesResponse"/>
</message>
<message name="CrearPDF">
<part name="parameters" element="tns:CrearPDF"/>
</message>
<message name="CrearPDFResponse">
<part name="parameters" element="tns:CrearPDFResponse"/>
</message>
<message name="RecursosCargarAD">
<part name="parameters" element="tns:RecursosCargarAD"/>
</message>
<message name="RecursosCargarADResponse">
<part name="parameters" element="tns:RecursosCargarADResponse"/>
</message>
<message name="InsertarObjetivoAD">
<part name="parameters" element="tns:InsertarObjetivoAD"/>
</message>
<message name="InsertarObjetivoADResponse">
<part name="parameters" element="tns:InsertarObjetivoADResponse"/>
</message>
<message name="ActividadesEliminarAdm">
<part name="parameters" element="tns:ActividadesEliminarAdm"/>
</message>
<message name="ActividadesEliminarAdmResponse">
<part name="parameters" element="tns:ActividadesEliminarAdmResponse"/>
</message>
<message name="ActualizarUnidadAD">
<part name="parameters" element="tns:ActualizarUnidadAD"/>
</message>
<message name="ActualizarUnidadADResponse">
<part name="parameters" element="tns:ActualizarUnidadADResponse"/>
</message>
<message name="EscenariosGuardarAdm">
<part name="parameters" element="tns:EscenariosGuardarAdm"/>
</message>
<message name="EscenariosGuardarAdmResponse">
<part name="parameters" element="tns:EscenariosGuardarAdmResponse"/>
</message>
<message name="EscenariosEliminarAdm">
<part name="parameters" element="tns:EscenariosEliminarAdm"/>
</message>
<message name="EscenariosEliminarAdmResponse">
<part name="parameters" element="tns:EscenariosEliminarAdmResponse"/>
</message>
<message name="EstrategiaEliminarAdm">
<part name="parameters" element="tns:EstrategiaEliminarAdm"/>
</message>
<message name="EstrategiaEliminarAdmResponse">
<part name="parameters" element="tns:EstrategiaEliminarAdmResponse"/>
</message>
<message name="ActividadesGuardarAdm">
<part name="parameters" element="tns:ActividadesGuardarAdm"/>
</message>
<message name="ActividadesGuardarAdmResponse">
<part name="parameters" element="tns:ActividadesGuardarAdmResponse"/>
</message>
<message name="cargarDatosGeneralesAD">
<part name="parameters" element="tns:cargarDatosGeneralesAD"/>
</message>
<message name="cargarDatosGeneralesADResponse">
<part name="parameters" element="tns:cargarDatosGeneralesADResponse"/>
</message>
<message name="EstrategiasGuardarAdm">
<part name="parameters" element="tns:EstrategiasGuardarAdm"/>
</message>
<message name="EstrategiasGuardarAdmResponse">
<part name="parameters" element="tns:EstrategiasGuardarAdmResponse"/>
</message>
<message name="cargarSubsecciones">
<part name="parameters" element="tns:cargarSubsecciones"/>
</message>
<message name="cargarSubseccionesResponse">
<part name="parameters" element="tns:cargarSubseccionesResponse"/>
</message>
<message name="GuardarEstrategiasAD">
<part name="parameters" element="tns:GuardarEstrategiasAD"/>
</message>
<message name="GuardarEstrategiasADResponse">
<part name="parameters" element="tns:GuardarEstrategiasADResponse"/>
</message>
<message name="InsertarEstrategiaMetodologicaAD">
<part name="parameters" element="tns:InsertarEstrategiaMetodologicaAD"/>
</message>
<message name="InsertarEstrategiaMetodologicaADResponse">
<part name="parameters" element="tns:InsertarEstrategiaMetodologicaADResponse"/>
</message>
<message name="RecursosAdmiEliminar">
<part name="parameters" element="tns:RecursosAdmiEliminar"/>
</message>
<message name="RecursosAdmiEliminarResponse">
<part name="parameters" element="tns:RecursosAdmiEliminarResponse"/>
</message>
<message name="GuardarActividadAprendizajeAD">
<part name="parameters" element="tns:GuardarActividadAprendizajeAD"/>
</message>
<message name="GuardarActividadAprendizajeADResponse">
<part name="parameters" element="tns:GuardarActividadAprendizajeADResponse"/>
</message>
<message name="EliminarEstrategiaMetodologicaAD">
<part name="parameters" element="tns:EliminarEstrategiaMetodologicaAD"/>
</message>
<message name="EliminarEstrategiaMetodologicaADResponse">
<part name="parameters" element="tns:EliminarEstrategiaMetodologicaADResponse"/>
</message>
<message name="cargarDatosDocentes">
<part name="parameters" element="tns:cargarDatosDocentes"/>
</message>
<message name="cargarDatosDocentesResponse">
<part name="parameters" element="tns:cargarDatosDocentesResponse"/>
</message>
<message name="cargarBibliografia">
<part name="parameters" element="tns:cargarBibliografia"/>
</message>
<message name="cargarBibliografiaResponse">
<part name="parameters" element="tns:cargarBibliografiaResponse"/>
</message>
<message name="GuardarEscenarioAD">
<part name="parameters" element="tns:GuardarEscenarioAD"/>
</message>
<message name="GuardarEscenarioADResponse">
<part name="parameters" element="tns:GuardarEscenarioADResponse"/>
</message>
<message name="EstrategiasCargar">
<part name="parameters" element="tns:EstrategiasCargar"/>
</message>
<message name="EstrategiasCargarResponse">
<part name="parameters" element="tns:EstrategiasCargarResponse"/>
</message>
<message name="InsertarActividadesAprendizajeAD">
<part name="parameters" element="tns:InsertarActividadesAprendizajeAD"/>
</message>
<message name="InsertarActividadesAprendizajeADResponse">
<part name="parameters" element="tns:InsertarActividadesAprendizajeADResponse"/>
</message>
<message name="InsertarBibliografiaAD">
<part name="parameters" element="tns:InsertarBibliografiaAD"/>
</message>
<message name="InsertarBibliografiaADResponse">
<part name="parameters" element="tns:InsertarBibliografiaADResponse"/>
</message>
<message name="GuardarAdmiRecursosAD">
<part name="parameters" element="tns:GuardarAdmiRecursosAD"/>
</message>
<message name="GuardarAdmiRecursosADResponse">
<part name="parameters" element="tns:GuardarAdmiRecursosADResponse"/>
</message>
<message name="GuardarCalificacionesAD">
<part name="parameters" element="tns:GuardarCalificacionesAD"/>
</message>
<message name="GuardarCalificacionesADResponse">
<part name="parameters" element="tns:GuardarCalificacionesADResponse"/>
</message>
<message name="EliminarActividadesAprendizajeAD">
<part name="parameters" element="tns:EliminarActividadesAprendizajeAD"/>
</message>
<message name="EliminarActividadesAprendizajeADResponse">
<part name="parameters" element="tns:EliminarActividadesAprendizajeADResponse"/>
</message>
<message name="ActividadesCargar">
<part name="parameters" element="tns:ActividadesCargar"/>
</message>
<message name="ActividadesCargarResponse">
<part name="parameters" element="tns:ActividadesCargarResponse"/>
</message>
<message name="cargarActividadesEvaluarAD">
<part name="parameters" element="tns:cargarActividadesEvaluarAD"/>
</message>
<message name="cargarActividadesEvaluarADResponse">
<part name="parameters" element="tns:cargarActividadesEvaluarADResponse"/>
</message>
<message name="ActualizarRecursosAD">
<part name="parameters" element="tns:ActualizarRecursosAD"/>
</message>
<message name="ActualizarRecursosADResponse">
<part name="parameters" element="tns:ActualizarRecursosADResponse"/>
</message>
<message name="GuardarRecursosAD">
<part name="parameters" element="tns:GuardarRecursosAD"/>
</message>
<message name="GuardarRecursosADResponse">
<part name="parameters" element="tns:GuardarRecursosADResponse"/>
</message>
<message name="ActualizarActividadesAprendizajeAD">
<part name="parameters" element="tns:ActualizarActividadesAprendizajeAD"/>
</message>
<message name="ActualizarActividadesAprendizajeADResponse">
<part name="parameters" element="tns:ActualizarActividadesAprendizajeADResponse"/>
</message>
<message name="ActualizarEstrategiaMetodologicaAD">
<part name="parameters" element="tns:ActualizarEstrategiaMetodologicaAD"/>
</message>
<message name="ActualizarEstrategiaMetodologicaADResponse">
<part name="parameters" element="tns:ActualizarEstrategiaMetodologicaADResponse"/>
</message>
<portType name="silaboWSAcdatos2">
<operation name="cargarTemasAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarTemasADRequest" message="tns:cargarTemasAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarTemasADResponse" message="tns:cargarTemasADResponse"/>
</operation>
<operation name="cargarMateria">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarMateriaRequest" message="tns:cargarMateria"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarMateriaResponse" message="tns:cargarMateriaResponse"/>
</operation>
<operation name="CargarUnidadAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/CargarUnidadADRequest" message="tns:CargarUnidadAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/CargarUnidadADResponse" message="tns:CargarUnidadADResponse"/>
</operation>
<operation name="cargarSecciones">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarSeccionesRequest" message="tns:cargarSecciones"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarSeccionesResponse" message="tns:cargarSeccionesResponse"/>
</operation>
<operation name="EscenariosCargar">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EscenariosCargarRequest" message="tns:EscenariosCargar"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EscenariosCargarResponse" message="tns:EscenariosCargarResponse"/>
</operation>
<operation name="cargarAportes">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarAportesRequest" message="tns:cargarAportes"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarAportesResponse" message="tns:cargarAportesResponse"/>
</operation>
<operation name="CrearPDF">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/CrearPDFRequest" message="tns:CrearPDF"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/CrearPDFResponse" message="tns:CrearPDFResponse"/>
</operation>
<operation name="RecursosCargarAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/RecursosCargarADRequest" message="tns:RecursosCargarAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/RecursosCargarADResponse" message="tns:RecursosCargarADResponse"/>
</operation>
<operation name="InsertarObjetivoAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/InsertarObjetivoADRequest" message="tns:InsertarObjetivoAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/InsertarObjetivoADResponse" message="tns:InsertarObjetivoADResponse"/>
</operation>
<operation name="ActividadesEliminarAdm">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActividadesEliminarAdmRequest" message="tns:ActividadesEliminarAdm"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActividadesEliminarAdmResponse" message="tns:ActividadesEliminarAdmResponse"/>
</operation>
<operation name="ActualizarUnidadAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActualizarUnidadADRequest" message="tns:ActualizarUnidadAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActualizarUnidadADResponse" message="tns:ActualizarUnidadADResponse"/>
</operation>
<operation name="EscenariosGuardarAdm">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EscenariosGuardarAdmRequest" message="tns:EscenariosGuardarAdm"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EscenariosGuardarAdmResponse" message="tns:EscenariosGuardarAdmResponse"/>
</operation>
<operation name="EscenariosEliminarAdm">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EscenariosEliminarAdmRequest" message="tns:EscenariosEliminarAdm"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EscenariosEliminarAdmResponse" message="tns:EscenariosEliminarAdmResponse"/>
</operation>
<operation name="EstrategiaEliminarAdm">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EstrategiaEliminarAdmRequest" message="tns:EstrategiaEliminarAdm"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EstrategiaEliminarAdmResponse" message="tns:EstrategiaEliminarAdmResponse"/>
</operation>
<operation name="ActividadesGuardarAdm">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActividadesGuardarAdmRequest" message="tns:ActividadesGuardarAdm"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActividadesGuardarAdmResponse" message="tns:ActividadesGuardarAdmResponse"/>
</operation>
<operation name="cargarDatosGeneralesAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarDatosGeneralesADRequest" message="tns:cargarDatosGeneralesAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarDatosGeneralesADResponse" message="tns:cargarDatosGeneralesADResponse"/>
</operation>
<operation name="EstrategiasGuardarAdm">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EstrategiasGuardarAdmRequest" message="tns:EstrategiasGuardarAdm"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EstrategiasGuardarAdmResponse" message="tns:EstrategiasGuardarAdmResponse"/>
</operation>
<operation name="cargarSubsecciones">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarSubseccionesRequest" message="tns:cargarSubsecciones"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarSubseccionesResponse" message="tns:cargarSubseccionesResponse"/>
</operation>
<operation name="GuardarEstrategiasAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarEstrategiasADRequest" message="tns:GuardarEstrategiasAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarEstrategiasADResponse" message="tns:GuardarEstrategiasADResponse"/>
</operation>
<operation name="InsertarEstrategiaMetodologicaAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/InsertarEstrategiaMetodologicaADRequest" message="tns:InsertarEstrategiaMetodologicaAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/InsertarEstrategiaMetodologicaADResponse" message="tns:InsertarEstrategiaMetodologicaADResponse"/>
</operation>
<operation name="RecursosAdmiEliminar">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/RecursosAdmiEliminarRequest" message="tns:RecursosAdmiEliminar"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/RecursosAdmiEliminarResponse" message="tns:RecursosAdmiEliminarResponse"/>
</operation>
<operation name="GuardarActividadAprendizajeAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarActividadAprendizajeADRequest" message="tns:GuardarActividadAprendizajeAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarActividadAprendizajeADResponse" message="tns:GuardarActividadAprendizajeADResponse"/>
</operation>
<operation name="EliminarEstrategiaMetodologicaAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EliminarEstrategiaMetodologicaADRequest" message="tns:EliminarEstrategiaMetodologicaAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EliminarEstrategiaMetodologicaADResponse" message="tns:EliminarEstrategiaMetodologicaADResponse"/>
</operation>
<operation name="cargarDatosDocentes">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarDatosDocentesRequest" message="tns:cargarDatosDocentes"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarDatosDocentesResponse" message="tns:cargarDatosDocentesResponse"/>
</operation>
<operation name="cargarBibliografia">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarBibliografiaRequest" message="tns:cargarBibliografia"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarBibliografiaResponse" message="tns:cargarBibliografiaResponse"/>
</operation>
<operation name="GuardarEscenarioAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarEscenarioADRequest" message="tns:GuardarEscenarioAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarEscenarioADResponse" message="tns:GuardarEscenarioADResponse"/>
</operation>
<operation name="EstrategiasCargar">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EstrategiasCargarRequest" message="tns:EstrategiasCargar"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EstrategiasCargarResponse" message="tns:EstrategiasCargarResponse"/>
</operation>
<operation name="InsertarActividadesAprendizajeAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/InsertarActividadesAprendizajeADRequest" message="tns:InsertarActividadesAprendizajeAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/InsertarActividadesAprendizajeADResponse" message="tns:InsertarActividadesAprendizajeADResponse"/>
</operation>
<operation name="InsertarBibliografiaAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/InsertarBibliografiaADRequest" message="tns:InsertarBibliografiaAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/InsertarBibliografiaADResponse" message="tns:InsertarBibliografiaADResponse"/>
</operation>
<operation name="GuardarAdmiRecursosAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarAdmiRecursosADRequest" message="tns:GuardarAdmiRecursosAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarAdmiRecursosADResponse" message="tns:GuardarAdmiRecursosADResponse"/>
</operation>
<operation name="GuardarCalificacionesAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarCalificacionesADRequest" message="tns:GuardarCalificacionesAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarCalificacionesADResponse" message="tns:GuardarCalificacionesADResponse"/>
</operation>
<operation name="EliminarActividadesAprendizajeAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EliminarActividadesAprendizajeADRequest" message="tns:EliminarActividadesAprendizajeAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/EliminarActividadesAprendizajeADResponse" message="tns:EliminarActividadesAprendizajeADResponse"/>
</operation>
<operation name="ActividadesCargar">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActividadesCargarRequest" message="tns:ActividadesCargar"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActividadesCargarResponse" message="tns:ActividadesCargarResponse"/>
</operation>
<operation name="cargarActividadesEvaluarAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarActividadesEvaluarADRequest" message="tns:cargarActividadesEvaluarAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/cargarActividadesEvaluarADResponse" message="tns:cargarActividadesEvaluarADResponse"/>
</operation>
<operation name="ActualizarRecursosAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActualizarRecursosADRequest" message="tns:ActualizarRecursosAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActualizarRecursosADResponse" message="tns:ActualizarRecursosADResponse"/>
</operation>
<operation name="GuardarRecursosAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarRecursosADRequest" message="tns:GuardarRecursosAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/GuardarRecursosADResponse" message="tns:GuardarRecursosADResponse"/>
</operation>
<operation name="ActualizarActividadesAprendizajeAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActualizarActividadesAprendizajeADRequest" message="tns:ActualizarActividadesAprendizajeAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActualizarActividadesAprendizajeADResponse" message="tns:ActualizarActividadesAprendizajeADResponse"/>
</operation>
<operation name="ActualizarEstrategiaMetodologicaAD">
<input wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActualizarEstrategiaMetodologicaADRequest" message="tns:ActualizarEstrategiaMetodologicaAD"/>
<output wsam:Action="http://WSAcdatos.silabo.com/silaboWSAcdatos2/ActualizarEstrategiaMetodologicaADResponse" message="tns:ActualizarEstrategiaMetodologicaADResponse"/>
</operation>
</portType>
<binding name="silaboWSAcdatos2PortBinding" type="tns:silaboWSAcdatos2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cargarTemasAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CargarUnidadAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarSecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarAportes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosCargarAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarObjetivoAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarUnidadAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiaEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarDatosGeneralesAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarSubsecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GuardarEstrategiasAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarEstrategiaMetodologicaAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosAdmiEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GuardarActividadAprendizajeAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEstrategiaMetodologicaAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarDatosDocentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarBibliografia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GuardarEscenarioAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarActividadesAprendizajeAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarBibliografiaAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GuardarAdmiRecursosAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GuardarCalificacionesAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarActividadesAprendizajeAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarActividadesEvaluarAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarRecursosAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GuardarRecursosAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarActividadesAprendizajeAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarEstrategiaMetodologicaAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="silaboWSAcdatos2">
<port name="silaboWSAcdatos2Port" binding="tns:silaboWSAcdatos2PortBinding">
<soap:address location="http://localhost:8080/SistemaSilaboAD/silaboWSAcdatos2"/>
</port>
</service>
</definitions>