SilaboAD/web/WEB-INF/wsdl/dda.espoch.edu.ec/WSUnidos/wsUnidosEspoch.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw.unidos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw.unidos/" name="wsUnidosEspoch">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.panalitico.dda/" schemaLocation="http://dda.espoch.edu.ec:80/WSUnidos/wsUnidosEspoch?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://sw.unidos/" schemaLocation="http://dda.espoch.edu.ec:80/WSUnidos/wsUnidosEspoch?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://sw.silabo.dda/" schemaLocation="http://dda.espoch.edu.ec:80/WSUnidos/wsUnidosEspoch?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://dda.espoch.edu.ec:80/WSUnidos/wsUnidosEspoch?xsd=4"/>
</xsd:schema>
</types>
<message name="ProgramaAnaliticoVigenciaCarrera">
<part name="parameters" element="tns:ProgramaAnaliticoVigenciaCarrera"/>
</message>
<message name="ProgramaAnaliticoVigenciaCarreraResponse">
<part name="parameters" element="tns:ProgramaAnaliticoVigenciaCarreraResponse"/>
</message>
<message name="UnidadesAcademicasInstitucion">
<part name="parameters" element="tns:UnidadesAcademicasInstitucion"/>
</message>
<message name="UnidadesAcademicasInstitucionResponse">
<part name="parameters" element="tns:UnidadesAcademicasInstitucionResponse"/>
</message>
<message name="PeriodoActual">
<part name="parameters" element="tns:PeriodoActual"/>
</message>
<message name="PeriodoActualResponse">
<part name="parameters" element="tns:PeriodoActualResponse"/>
</message>
<message name="PensumVigente">
<part name="parameters" element="tns:PensumVigente"/>
</message>
<message name="PensumVigenteResponse">
<part name="parameters" element="tns:PensumVigenteResponse"/>
</message>
<message name="ProgramaAnaliticoProcedimientosAsignatura">
<part name="parameters" element="tns:ProgramaAnaliticoProcedimientosAsignatura"/>
</message>
<message name="ProgramaAnaliticoProcedimientosAsignaturaResponse">
<part name="parameters" element="tns:ProgramaAnaliticoProcedimientosAsignaturaResponse"/>
</message>
<message name="ProgramaAnaliticoContenidosAsignatura">
<part name="parameters" element="tns:ProgramaAnaliticoContenidosAsignatura"/>
</message>
<message name="ProgramaAnaliticoContenidosAsignaturaResponse">
<part name="parameters" element="tns:ProgramaAnaliticoContenidosAsignaturaResponse"/>
</message>
<message name="ProgramaAnaliticoBibliografias">
<part name="parameters" element="tns:ProgramaAnaliticoBibliografias"/>
</message>
<message name="ProgramaAnaliticoBibliografiasResponse">
<part name="parameters" element="tns:ProgramaAnaliticoBibliografiasResponse"/>
</message>
<message name="EscuelasLista">
<part name="parameters" element="tns:EscuelasLista"/>
</message>
<message name="EscuelasListaResponse">
<part name="parameters" element="tns:EscuelasListaResponse"/>
</message>
<message name="CarrerasLista">
<part name="parameters" element="tns:CarrerasLista"/>
</message>
<message name="CarrerasListaResponse">
<part name="parameters" element="tns:CarrerasListaResponse"/>
</message>
<message name="redisFlushAll">
<part name="parameters" element="tns:redisFlushAll"/>
</message>
<message name="redisFlushAllResponse">
<part name="parameters" element="tns:redisFlushAllResponse"/>
</message>
<message name="DocentesCamposFormacion">
<part name="parameters" element="tns:DocentesCamposFormacion"/>
</message>
<message name="DocentesCamposFormacionResponse">
<part name="parameters" element="tns:DocentesCamposFormacionResponse"/>
</message>
<message name="DocentesCarrera">
<part name="parameters" element="tns:DocentesCarrera"/>
</message>
<message name="DocentesCarreraResponse">
<part name="parameters" element="tns:DocentesCarreraResponse"/>
</message>
<message name="DocentesEscuela">
<part name="parameters" element="tns:DocentesEscuela"/>
</message>
<message name="DocentesEscuelaResponse">
<part name="parameters" element="tns:DocentesEscuelaResponse"/>
</message>
<message name="DocentesFacultad">
<part name="parameters" element="tns:DocentesFacultad"/>
</message>
<message name="DocentesFacultadResponse">
<part name="parameters" element="tns:DocentesFacultadResponse"/>
</message>
<message name="AsignaturasCarrera">
<part name="parameters" element="tns:AsignaturasCarrera"/>
</message>
<message name="AsignaturasCarreraResponse">
<part name="parameters" element="tns:AsignaturasCarreraResponse"/>
</message>
<message name="ArbolFacultad">
<part name="parameters" element="tns:ArbolFacultad"/>
</message>
<message name="ArbolFacultadResponse">
<part name="parameters" element="tns:ArbolFacultadResponse"/>
</message>
<message name="ArbolEscuela">
<part name="parameters" element="tns:ArbolEscuela"/>
</message>
<message name="ArbolEscuelaResponse">
<part name="parameters" element="tns:ArbolEscuelaResponse"/>
</message>
<message name="ArbolCarrera">
<part name="parameters" element="tns:ArbolCarrera"/>
</message>
<message name="ArbolCarreraResponse">
<part name="parameters" element="tns:ArbolCarreraResponse"/>
</message>
<message name="DocenteInformacion">
<part name="parameters" element="tns:DocenteInformacion"/>
</message>
<message name="DocenteInformacionResponse">
<part name="parameters" element="tns:DocenteInformacionResponse"/>
</message>
<message name="LogosInstitucion">
<part name="parameters" element="tns:LogosInstitucion"/>
</message>
<message name="LogosInstitucionResponse">
<part name="parameters" element="tns:LogosInstitucionResponse"/>
</message>
<message name="SilaboContenidoAsignatura">
<part name="parameters" element="tns:SilaboContenidoAsignatura"/>
</message>
<message name="SilaboContenidoAsignaturaResponse">
<part name="parameters" element="tns:SilaboContenidoAsignaturaResponse"/>
</message>
<message name="FacultadesLista">
<part name="parameters" element="tns:FacultadesLista"/>
</message>
<message name="FacultadesListaResponse">
<part name="parameters" element="tns:FacultadesListaResponse"/>
</message>
<message name="AsignaturasCamposFormacion">
<part name="parameters" element="tns:AsignaturasCamposFormacion"/>
</message>
<message name="AsignaturasCamposFormacionResponse">
<part name="parameters" element="tns:AsignaturasCamposFormacionResponse"/>
</message>
<message name="fechasFeriadosSW">
<part name="parameters" element="tns:fechasFeriadosSW"/>
</message>
<message name="fechasFeriadosSWResponse">
<part name="parameters" element="tns:fechasFeriadosSWResponse"/>
</message>
<message name="fechasEntregaNotasSW">
<part name="parameters" element="tns:fechasEntregaNotasSW"/>
</message>
<message name="fechasEntregaNotasSWResponse">
<part name="parameters" element="tns:fechasEntregaNotasSWResponse"/>
</message>
<portType name="wsUnidosEspoch">
<operation name="ProgramaAnaliticoVigenciaCarrera">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/ProgramaAnaliticoVigenciaCarreraRequest" message="tns:ProgramaAnaliticoVigenciaCarrera"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/ProgramaAnaliticoVigenciaCarreraResponse" message="tns:ProgramaAnaliticoVigenciaCarreraResponse"/>
</operation>
<operation name="UnidadesAcademicasInstitucion">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/UnidadesAcademicasInstitucionRequest" message="tns:UnidadesAcademicasInstitucion"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/UnidadesAcademicasInstitucionResponse" message="tns:UnidadesAcademicasInstitucionResponse"/>
</operation>
<operation name="PeriodoActual">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/PeriodoActualRequest" message="tns:PeriodoActual"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/PeriodoActualResponse" message="tns:PeriodoActualResponse"/>
</operation>
<operation name="PensumVigente">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/PensumVigenteRequest" message="tns:PensumVigente"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/PensumVigenteResponse" message="tns:PensumVigenteResponse"/>
</operation>
<operation name="ProgramaAnaliticoProcedimientosAsignatura">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/ProgramaAnaliticoProcedimientosAsignaturaRequest" message="tns:ProgramaAnaliticoProcedimientosAsignatura"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/ProgramaAnaliticoProcedimientosAsignaturaResponse" message="tns:ProgramaAnaliticoProcedimientosAsignaturaResponse"/>
</operation>
<operation name="ProgramaAnaliticoContenidosAsignatura">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/ProgramaAnaliticoContenidosAsignaturaRequest" message="tns:ProgramaAnaliticoContenidosAsignatura"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/ProgramaAnaliticoContenidosAsignaturaResponse" message="tns:ProgramaAnaliticoContenidosAsignaturaResponse"/>
</operation>
<operation name="ProgramaAnaliticoBibliografias">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/ProgramaAnaliticoBibliografiasRequest" message="tns:ProgramaAnaliticoBibliografias"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/ProgramaAnaliticoBibliografiasResponse" message="tns:ProgramaAnaliticoBibliografiasResponse"/>
</operation>
<operation name="EscuelasLista">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/EscuelasListaRequest" message="tns:EscuelasLista"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/EscuelasListaResponse" message="tns:EscuelasListaResponse"/>
</operation>
<operation name="CarrerasLista">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/CarrerasListaRequest" message="tns:CarrerasLista"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/CarrerasListaResponse" message="tns:CarrerasListaResponse"/>
</operation>
<operation name="redisFlushAll">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/redisFlushAllRequest" message="tns:redisFlushAll"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/redisFlushAllResponse" message="tns:redisFlushAllResponse"/>
</operation>
<operation name="DocentesCamposFormacion">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/DocentesCamposFormacionRequest" message="tns:DocentesCamposFormacion"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/DocentesCamposFormacionResponse" message="tns:DocentesCamposFormacionResponse"/>
</operation>
<operation name="DocentesCarrera">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/DocentesCarreraRequest" message="tns:DocentesCarrera"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/DocentesCarreraResponse" message="tns:DocentesCarreraResponse"/>
</operation>
<operation name="DocentesEscuela">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/DocentesEscuelaRequest" message="tns:DocentesEscuela"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/DocentesEscuelaResponse" message="tns:DocentesEscuelaResponse"/>
</operation>
<operation name="DocentesFacultad">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/DocentesFacultadRequest" message="tns:DocentesFacultad"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/DocentesFacultadResponse" message="tns:DocentesFacultadResponse"/>
</operation>
<operation name="AsignaturasCarrera">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/AsignaturasCarreraRequest" message="tns:AsignaturasCarrera"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/AsignaturasCarreraResponse" message="tns:AsignaturasCarreraResponse"/>
</operation>
<operation name="ArbolFacultad">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/ArbolFacultadRequest" message="tns:ArbolFacultad"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/ArbolFacultadResponse" message="tns:ArbolFacultadResponse"/>
</operation>
<operation name="ArbolEscuela">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/ArbolEscuelaRequest" message="tns:ArbolEscuela"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/ArbolEscuelaResponse" message="tns:ArbolEscuelaResponse"/>
</operation>
<operation name="ArbolCarrera">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/ArbolCarreraRequest" message="tns:ArbolCarrera"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/ArbolCarreraResponse" message="tns:ArbolCarreraResponse"/>
</operation>
<operation name="DocenteInformacion">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/DocenteInformacionRequest" message="tns:DocenteInformacion"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/DocenteInformacionResponse" message="tns:DocenteInformacionResponse"/>
</operation>
<operation name="LogosInstitucion">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/LogosInstitucionRequest" message="tns:LogosInstitucion"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/LogosInstitucionResponse" message="tns:LogosInstitucionResponse"/>
</operation>
<operation name="SilaboContenidoAsignatura">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/SilaboContenidoAsignaturaRequest" message="tns:SilaboContenidoAsignatura"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/SilaboContenidoAsignaturaResponse" message="tns:SilaboContenidoAsignaturaResponse"/>
</operation>
<operation name="FacultadesLista">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/FacultadesListaRequest" message="tns:FacultadesLista"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/FacultadesListaResponse" message="tns:FacultadesListaResponse"/>
</operation>
<operation name="AsignaturasCamposFormacion">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/AsignaturasCamposFormacionRequest" message="tns:AsignaturasCamposFormacion"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/AsignaturasCamposFormacionResponse" message="tns:AsignaturasCamposFormacionResponse"/>
</operation>
<operation name="fechasFeriadosSW">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/fechasFeriadosSWRequest" message="tns:fechasFeriadosSW"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/fechasFeriadosSWResponse" message="tns:fechasFeriadosSWResponse"/>
</operation>
<operation name="fechasEntregaNotasSW">
<input wsam:Action="http://sw.unidos/wsUnidosEspoch/fechasEntregaNotasSWRequest" message="tns:fechasEntregaNotasSW"/>
<output wsam:Action="http://sw.unidos/wsUnidosEspoch/fechasEntregaNotasSWResponse" message="tns:fechasEntregaNotasSWResponse"/>
</operation>
</portType>
<binding name="wsUnidosEspochPortBinding" type="tns:wsUnidosEspoch">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ProgramaAnaliticoVigenciaCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadesAcademicasInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PeriodoActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PensumVigente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProgramaAnaliticoProcedimientosAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProgramaAnaliticoContenidosAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProgramaAnaliticoBibliografias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscuelasLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CarrerasLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="redisFlushAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesCamposFormacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesEscuela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignaturasCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ArbolFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ArbolEscuela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ArbolCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocenteInformacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LogosInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SilaboContenidoAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FacultadesLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignaturasCamposFormacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fechasFeriadosSW">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fechasEntregaNotasSW">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsUnidosEspoch">
<port name="wsUnidosEspochPort" binding="tns:wsUnidosEspochPortBinding">
<soap:address location="http://dda.espoch.edu.ec:80/WSUnidos/wsUnidosEspoch"/>
</port>
</service>
</definitions>