Silabo/web/WEB-INF/wsdl/localhost_8080/WSUnidos/WSBDatosAnalitico.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://locales.ServiciosWeb.pa/" xmlns:ns1="http://academico.espoch.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://locales.ServiciosWeb.pa/">

<xs:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/WSUnidos/WSBDatosAnalitico?xsd=2"/>

<xs:element name="DatosCompletosEstudiantes" type="tns:DatosCompletosEstudiantes"/>

<xs:element name="DatosCompletosEstudiantesResponse" type="tns:DatosCompletosEstudiantesResponse"/>

<xs:element name="DatosDocente" type="tns:DatosDocente"/>

<xs:element name="DatosDocenteResponse" type="tns:DatosDocenteResponse"/>

<xs:element name="MallaCurricularPensumVigenteSinDescripcion" type="tns:MallaCurricularPensumVigenteSinDescripcion"/>

<xs:element name="MallaCurricularPensumVigenteSinDescripcionResponse" type="tns:MallaCurricularPensumVigenteSinDescripcionResponse"/>

<xs:element name="lAutenticarUsuario" type="tns:lAutenticarUsuario"/>

<xs:element name="lAutenticarUsuarioResponse" type="tns:lAutenticarUsuarioResponse"/>

<xs:element name="lDevolverAdminFacultad" type="tns:lDevolverAdminFacultad"/>

<xs:element name="lDevolverAdminFacultadResponse" type="tns:lDevolverAdminFacultadResponse"/>

<xs:element name="lDevolverCaracterizacionPA" type="tns:lDevolverCaracterizacionPA"/>

<xs:element name="lDevolverCaracterizacionPAResponse" type="tns:lDevolverCaracterizacionPAResponse"/>

<xs:element name="lDevolverEscuelasFacultad" type="tns:lDevolverEscuelasFacultad"/>

<xs:element name="lDevolverEscuelasFacultadResponse" type="tns:lDevolverEscuelasFacultadResponse"/>

<xs:element name="lDevolverFacultades" type="tns:lDevolverFacultades"/>

<xs:element name="lDevolverFacultadesResponse" type="tns:lDevolverFacultadesResponse"/>

<xs:element name="lDevolverMetodologia" type="tns:lDevolverMetodologia"/>

<xs:element name="lDevolverMetodologiaResponse" type="tns:lDevolverMetodologiaResponse"/>

<xs:element name="lDevolverObjetivoPA" type="tns:lDevolverObjetivoPA"/>

<xs:element name="lDevolverObjetivoPAResponse" type="tns:lDevolverObjetivoPAResponse"/>

<xs:element name="lDevolverPlanAnalitico" type="tns:lDevolverPlanAnalitico"/>

<xs:element name="lDevolverPlanAnaliticoResponse" type="tns:lDevolverPlanAnaliticoResponse"/>

<xs:element name="lDevolverRolesDocente" type="tns:lDevolverRolesDocente"/>

<xs:element name="lDevolverRolesDocenteResponse" type="tns:lDevolverRolesDocenteResponse"/>

<xs:element name="lEjemploJson" type="tns:lEjemploJson"/>

<xs:element name="lEjemploJsonResponse" type="tns:lEjemploJsonResponse"/>

<xs:element name="lPADatosMateria" type="tns:lPADatosMateria"/>

<xs:element name="lPADatosMateriaResponse" type="tns:lPADatosMateriaResponse"/>

<xs:element name="lPADevolverContenidos" type="tns:lPADevolverContenidos"/>

<xs:element name="lPADevolverContenidosResponse" type="tns:lPADevolverContenidosResponse"/>

<xs:element name="lPADevolverDatosGenerales" type="tns:lPADevolverDatosGenerales"/>

<xs:element name="lPADevolverDatosGeneralesResponse" type="tns:lPADevolverDatosGeneralesResponse"/>

<xs:element name="lPADevolverFacultad" type="tns:lPADevolverFacultad"/>

<xs:element name="lPADevolverFacultadResponse" type="tns:lPADevolverFacultadResponse"/>

<xs:element name="lPADevolverPerfilDocente" type="tns:lPADevolverPerfilDocente"/>

<xs:element name="lPADevolverPerfilDocenteResponse" type="tns:lPADevolverPerfilDocenteResponse"/>

<xs:element name="lPADictadosMateria" type="tns:lPADictadosMateria"/>

<xs:element name="lPADictadosMateriaResponse" type="tns:lPADictadosMateriaResponse"/>

<xs:element name="lPADictadosMateria_1" type="tns:lPADictadosMateria_1"/>

<xs:element name="lPADictadosMateria_1Response" type="tns:lPADictadosMateria_1Response"/>

<xs:element name="lPAMateriasAprobadas" type="tns:lPAMateriasAprobadas"/>

<xs:element name="lPAMateriasAprobadasResponse" type="tns:lPAMateriasAprobadasResponse"/>

<xs:element name="lPAMateriasDocente" type="tns:lPAMateriasDocente"/>

<xs:element name="lPAMateriasDocenteResponse" type="tns:lPAMateriasDocenteResponse"/>

<xs:element name="lPAParametrosCarrera" type="tns:lPAParametrosCarrera"/>

<xs:element name="lPAParametrosCarreraResponse" type="tns:lPAParametrosCarreraResponse"/>

<xs:element name="lPATitulosDocentes" type="tns:lPATitulosDocentes"/>

<xs:element name="lPATitulosDocentesResponse" type="tns:lPATitulosDocentesResponse"/>

<xs:complexType name="lPADevolverPerfilDocente">
<xs:sequence>
<xs:element name="codigoEscuela" type="xs:string" minOccurs="0"/>
<xs:element name="codigoMateria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADevolverPerfilDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:clasePerfilDocente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasePerfilDocente">
<xs:sequence>
<xs:element name="campoAmplio" type="xs:string" minOccurs="0"/>
<xs:element name="campoEspecifico" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverCaracterizacionPA">
<xs:sequence>
<xs:element name="strCodPrograma" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverCaracterizacionPAResponse">
<xs:sequence>
<xs:element name="return" type="tns:claseCaracterizacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseCaracterizacion">
<xs:sequence>
<xs:element name="intCodCaracterizacion" type="xs:int" minOccurs="0"/>
<xs:element name="intCodPrograma" type="xs:int" minOccurs="0"/>
<xs:element name="strDetalle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPATitulosDocentes">
<xs:sequence>
<xs:element name="codigoCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPATitulosDocentesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfTitulosDocente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADevolverContenidos">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADevolverContenidosResponse">
<xs:sequence>
<xs:element name="return" type="tns:claseContenidos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseContenidos">
<xs:sequence>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="unidades" type="tns:claseUnidad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseUnidad">
<xs:sequence>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="temas" type="tns:claseTema" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseTema">
<xs:sequence>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="subtemas" type="tns:claseSubtema" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseSubtema">
<xs:sequence>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADictadosMateria_1">
<xs:sequence>
<xs:element name="codCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="codMateria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADictadosMateria_1Response">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfDictado_Materia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAMateriasAprobadas">
<xs:sequence>
<xs:element name="codCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAMateriasAprobadasResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfMaterias_aprobadas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAParametrosCarrera">
<xs:sequence>
<xs:element name="codCarrera" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAParametrosCarreraResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ParamCarrera" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADatosMateria">
<xs:sequence>
<xs:element name="codCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="codMateria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADatosMateriaResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Materia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DatosCompletosEstudiantes">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DatosCompletosEstudiantesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Estudiante" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverFacultades">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lDevolverFacultadesResponse">
<xs:sequence>
<xs:element name="return" type="tns:claseFacultad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseFacultad">
<xs:sequence>
<xs:element name="codFacultad" type="xs:string" minOccurs="0"/>
<xs:element name="escuelas" type="tns:claseListEscuelas" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseListEscuelas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lDevolverAdminFacultad">
<xs:sequence>
<xs:element name="codigoFacultad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverAdminFacultadResponse">
<xs:sequence>
<xs:element name="return" type="tns:claseUsuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseUsuario">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lAutenticarUsuario">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lAutenticarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADictadosMateria">
<xs:sequence>
<xs:element name="codigoCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="codigoAsignatura" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADictadosMateriaResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfDictado_Materia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverEscuelasFacultad">
<xs:sequence>
<xs:element name="codigoFacultad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverEscuelasFacultadResponse">
<xs:sequence>
<xs:element name="return" type="tns:claseEscuela" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseEscuela">
<xs:sequence>
<xs:element name="codEscuela" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MallaCurricularPensumVigenteSinDescripcion">
<xs:sequence>
<xs:element name="codCarrera" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MallaCurricularPensumVigenteSinDescripcionResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfMateria_Pensum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAMateriasDocente">
<xs:sequence>
<xs:element name="codCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="periodo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAMateriasDocenteResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfMateria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverMetodologia">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverMetodologiaResponse">
<xs:sequence>
<xs:element name="return" type="tns:clasePAMetodologia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasePAMetodologia">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADevolverFacultad">
<xs:sequence>
<xs:element name="codigoFacultad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADevolverFacultadResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Facultad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverRolesDocente">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverRolesDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:claseRol" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseRol">
<xs:sequence>
<xs:element name="descripcionRol" type="xs:string" minOccurs="0"/>
<xs:element name="idRol" type="xs:int" minOccurs="0"/>
<xs:element name="nombreRol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverObjetivoPA">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverObjetivoPAResponse">
<xs:sequence>
<xs:element name="return" type="tns:clasePAObjetivos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasePAObjetivos">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lEjemploJson">
<xs:sequence>
<xs:element name="cadena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lEjemploJsonResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaBorrar" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personaBorrar">
<xs:sequence>
<xs:element name="edad" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADevolverDatosGenerales">
<xs:sequence>
<xs:element name="codigoEscuela" type="xs:string" minOccurs="0"/>
<xs:element name="codigoAsignatura" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADevolverDatosGeneralesResponse">
<xs:sequence>
<xs:element name="return" type="tns:clasePADatosGenerales" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasePADatosGenerales">
<xs:sequence>
<xs:element name="asignatura" type="xs:string" minOccurs="0"/>
<xs:element name="campoFormacion" type="xs:string" minOccurs="0"/>
<xs:element name="carrera" type="xs:string" minOccurs="0"/>
<xs:element name="codigoEscuela" type="xs:string" minOccurs="0"/>
<xs:element name="codigoMateria" type="xs:string" minOccurs="0"/>
<xs:element name="correquisitos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="escuela" type="xs:string" minOccurs="0"/>
<xs:element name="facultad" type="xs:string" minOccurs="0"/>
<xs:element name="modalidad" type="xs:string" minOccurs="0"/>
<xs:element name="nivel" type="xs:string" minOccurs="0"/>
<xs:element name="prerequisitos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sede" type="xs:string" minOccurs="0"/>
<xs:element name="nCreditos" type="xs:float" minOccurs="0"/>
<xs:element name="nHorasSemanal" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DatosDocente">
<xs:sequence>
<xs:element name="codCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DatosDocenteResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverPlanAnalitico">
<xs:sequence>
<xs:element name="codCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="codMateria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lDevolverPlanAnaliticoResponse">
<xs:sequence>
<xs:element name="return" type="tns:claseProgramaAnalitico" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claseProgramaAnalitico" final="extension restriction">
<xs:sequence/>
</xs:complexType>
</xs:schema>