Silabo/web/WEB-INF/wsdl/localhost_8080/WSUnidos/WSBDatosAnalitico.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://locales.ServiciosWeb.pa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://locales.ServiciosWeb.pa/" name="WSBDatosAnalitico">
<types>
<xsd:schema>
<xsd:import namespace="http://locales.ServiciosWeb.pa/" schemaLocation="http://localhost:8080/WSUnidos/WSBDatosAnalitico?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/WSUnidos/WSBDatosAnalitico?xsd=2"/>
</xsd:schema>
</types>
<message name="lPADatosMateria">
<part name="parameters" element="tns:lPADatosMateria"/>
</message>
<message name="lPADatosMateriaResponse">
<part name="parameters" element="tns:lPADatosMateriaResponse"/>
</message>
<message name="DatosDocente">
<part name="parameters" element="tns:DatosDocente"/>
</message>
<message name="DatosDocenteResponse">
<part name="parameters" element="tns:DatosDocenteResponse"/>
</message>
<message name="MallaCurricularPensumVigenteSinDescripcion">
<part name="parameters" element="tns:MallaCurricularPensumVigenteSinDescripcion"/>
</message>
<message name="MallaCurricularPensumVigenteSinDescripcionResponse">
<part name="parameters" element="tns:MallaCurricularPensumVigenteSinDescripcionResponse"/>
</message>
<message name="lDevolverPlanAnalitico">
<part name="parameters" element="tns:lDevolverPlanAnalitico"/>
</message>
<message name="lDevolverPlanAnaliticoResponse">
<part name="parameters" element="tns:lDevolverPlanAnaliticoResponse"/>
</message>
<message name="lAutenticarUsuario">
<part name="parameters" element="tns:lAutenticarUsuario"/>
</message>
<message name="lAutenticarUsuarioResponse">
<part name="parameters" element="tns:lAutenticarUsuarioResponse"/>
</message>
<message name="lDevolverRolesDocente">
<part name="parameters" element="tns:lDevolverRolesDocente"/>
</message>
<message name="lDevolverRolesDocenteResponse">
<part name="parameters" element="tns:lDevolverRolesDocenteResponse"/>
</message>
<message name="lDevolverFacultades">
<part name="parameters" element="tns:lDevolverFacultades"/>
</message>
<message name="lDevolverFacultadesResponse">
<part name="parameters" element="tns:lDevolverFacultadesResponse"/>
</message>
<message name="lPAMateriasDocente">
<part name="parameters" element="tns:lPAMateriasDocente"/>
</message>
<message name="lPAMateriasDocenteResponse">
<part name="parameters" element="tns:lPAMateriasDocenteResponse"/>
</message>
<message name="lPADictadosMateria">
<part name="parameters" element="tns:lPADictadosMateria"/>
</message>
<message name="lPADictadosMateriaResponse">
<part name="parameters" element="tns:lPADictadosMateriaResponse"/>
</message>
<message name="lPAMateriasAprobadas">
<part name="parameters" element="tns:lPAMateriasAprobadas"/>
</message>
<message name="lPAMateriasAprobadasResponse">
<part name="parameters" element="tns:lPAMateriasAprobadasResponse"/>
</message>
<message name="lPAParametrosCarrera">
<part name="parameters" element="tns:lPAParametrosCarrera"/>
</message>
<message name="lPAParametrosCarreraResponse">
<part name="parameters" element="tns:lPAParametrosCarreraResponse"/>
</message>
<message name="lPATitulosDocentes">
<part name="parameters" element="tns:lPATitulosDocentes"/>
</message>
<message name="lPATitulosDocentesResponse">
<part name="parameters" element="tns:lPATitulosDocentesResponse"/>
</message>
<message name="lEjemploJson">
<part name="parameters" element="tns:lEjemploJson"/>
</message>
<message name="lEjemploJsonResponse">
<part name="parameters" element="tns:lEjemploJsonResponse"/>
</message>
<message name="lDevolverEscuelasFacultad">
<part name="parameters" element="tns:lDevolverEscuelasFacultad"/>
</message>
<message name="lDevolverEscuelasFacultadResponse">
<part name="parameters" element="tns:lDevolverEscuelasFacultadResponse"/>
</message>
<message name="lDevolverAdminFacultad">
<part name="parameters" element="tns:lDevolverAdminFacultad"/>
</message>
<message name="lDevolverAdminFacultadResponse">
<part name="parameters" element="tns:lDevolverAdminFacultadResponse"/>
</message>
<message name="lPADevolverPerfilDocente">
<part name="parameters" element="tns:lPADevolverPerfilDocente"/>
</message>
<message name="lPADevolverPerfilDocenteResponse">
<part name="parameters" element="tns:lPADevolverPerfilDocenteResponse"/>
</message>
<message name="lPADevolverDatosGenerales">
<part name="parameters" element="tns:lPADevolverDatosGenerales"/>
</message>
<message name="lPADevolverDatosGeneralesResponse">
<part name="parameters" element="tns:lPADevolverDatosGeneralesResponse"/>
</message>
<message name="lDevolverCaracterizacionPA">
<part name="parameters" element="tns:lDevolverCaracterizacionPA"/>
</message>
<message name="lDevolverCaracterizacionPAResponse">
<part name="parameters" element="tns:lDevolverCaracterizacionPAResponse"/>
</message>
<message name="lDevolverObjetivoPA">
<part name="parameters" element="tns:lDevolverObjetivoPA"/>
</message>
<message name="lDevolverObjetivoPAResponse">
<part name="parameters" element="tns:lDevolverObjetivoPAResponse"/>
</message>
<message name="lDevolverMetodologia">
<part name="parameters" element="tns:lDevolverMetodologia"/>
</message>
<message name="lDevolverMetodologiaResponse">
<part name="parameters" element="tns:lDevolverMetodologiaResponse"/>
</message>
<message name="lPADevolverContenidos">
<part name="parameters" element="tns:lPADevolverContenidos"/>
</message>
<message name="lPADevolverContenidosResponse">
<part name="parameters" element="tns:lPADevolverContenidosResponse"/>
</message>
<message name="lPADevolverFacultad">
<part name="parameters" element="tns:lPADevolverFacultad"/>
</message>
<message name="lPADevolverFacultadResponse">
<part name="parameters" element="tns:lPADevolverFacultadResponse"/>
</message>
<message name="lPADictadosMateria_1">
<part name="parameters" element="tns:lPADictadosMateria_1"/>
</message>
<message name="lPADictadosMateria_1Response">
<part name="parameters" element="tns:lPADictadosMateria_1Response"/>
</message>
<message name="DatosCompletosEstudiantes">
<part name="parameters" element="tns:DatosCompletosEstudiantes"/>
</message>
<message name="DatosCompletosEstudiantesResponse">
<part name="parameters" element="tns:DatosCompletosEstudiantesResponse"/>
</message>
<portType name="WSBDatosAnalitico">
<operation name="lPADatosMateria">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosMateriaRequest" message="tns:lPADatosMateria"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosMateriaResponse" message="tns:lPADatosMateriaResponse"/>
</operation>
<operation name="DatosDocente">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DatosDocenteRequest" message="tns:DatosDocente"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DatosDocenteResponse" message="tns:DatosDocenteResponse"/>
</operation>
<operation name="MallaCurricularPensumVigenteSinDescripcion">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/MallaCurricularPensumVigenteSinDescripcionRequest" message="tns:MallaCurricularPensumVigenteSinDescripcion"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/MallaCurricularPensumVigenteSinDescripcionResponse" message="tns:MallaCurricularPensumVigenteSinDescripcionResponse"/>
</operation>
<operation name="lDevolverPlanAnalitico">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverPlanAnaliticoRequest" message="tns:lDevolverPlanAnalitico"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverPlanAnaliticoResponse" message="tns:lDevolverPlanAnaliticoResponse"/>
</operation>
<operation name="lAutenticarUsuario">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lAutenticarUsuarioRequest" message="tns:lAutenticarUsuario"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lAutenticarUsuarioResponse" message="tns:lAutenticarUsuarioResponse"/>
</operation>
<operation name="lDevolverRolesDocente">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverRolesDocenteRequest" message="tns:lDevolverRolesDocente"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverRolesDocenteResponse" message="tns:lDevolverRolesDocenteResponse"/>
</operation>
<operation name="lDevolverFacultades">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverFacultadesRequest" message="tns:lDevolverFacultades"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverFacultadesResponse" message="tns:lDevolverFacultadesResponse"/>
</operation>
<operation name="lPAMateriasDocente">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAMateriasDocenteRequest" message="tns:lPAMateriasDocente"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAMateriasDocenteResponse" message="tns:lPAMateriasDocenteResponse"/>
</operation>
<operation name="lPADictadosMateria">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADictadosMateriaRequest" message="tns:lPADictadosMateria"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADictadosMateriaResponse" message="tns:lPADictadosMateriaResponse"/>
</operation>
<operation name="lPAMateriasAprobadas">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAMateriasAprobadasRequest" message="tns:lPAMateriasAprobadas"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAMateriasAprobadasResponse" message="tns:lPAMateriasAprobadasResponse"/>
</operation>
<operation name="lPAParametrosCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAParametrosCarreraRequest" message="tns:lPAParametrosCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAParametrosCarreraResponse" message="tns:lPAParametrosCarreraResponse"/>
</operation>
<operation name="lPATitulosDocentes">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPATitulosDocentesRequest" message="tns:lPATitulosDocentes"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPATitulosDocentesResponse" message="tns:lPATitulosDocentesResponse"/>
</operation>
<operation name="lEjemploJson">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lEjemploJsonRequest" message="tns:lEjemploJson"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lEjemploJsonResponse" message="tns:lEjemploJsonResponse"/>
</operation>
<operation name="lDevolverEscuelasFacultad">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverEscuelasFacultadRequest" message="tns:lDevolverEscuelasFacultad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverEscuelasFacultadResponse" message="tns:lDevolverEscuelasFacultadResponse"/>
</operation>
<operation name="lDevolverAdminFacultad">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverAdminFacultadRequest" message="tns:lDevolverAdminFacultad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverAdminFacultadResponse" message="tns:lDevolverAdminFacultadResponse"/>
</operation>
<operation name="lPADevolverPerfilDocente">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADevolverPerfilDocenteRequest" message="tns:lPADevolverPerfilDocente"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADevolverPerfilDocenteResponse" message="tns:lPADevolverPerfilDocenteResponse"/>
</operation>
<operation name="lPADevolverDatosGenerales">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADevolverDatosGeneralesRequest" message="tns:lPADevolverDatosGenerales"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADevolverDatosGeneralesResponse" message="tns:lPADevolverDatosGeneralesResponse"/>
</operation>
<operation name="lDevolverCaracterizacionPA">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverCaracterizacionPARequest" message="tns:lDevolverCaracterizacionPA"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverCaracterizacionPAResponse" message="tns:lDevolverCaracterizacionPAResponse"/>
</operation>
<operation name="lDevolverObjetivoPA">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverObjetivoPARequest" message="tns:lDevolverObjetivoPA"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverObjetivoPAResponse" message="tns:lDevolverObjetivoPAResponse"/>
</operation>
<operation name="lDevolverMetodologia">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverMetodologiaRequest" message="tns:lDevolverMetodologia"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lDevolverMetodologiaResponse" message="tns:lDevolverMetodologiaResponse"/>
</operation>
<operation name="lPADevolverContenidos">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADevolverContenidosRequest" message="tns:lPADevolverContenidos"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADevolverContenidosResponse" message="tns:lPADevolverContenidosResponse"/>
</operation>
<operation name="lPADevolverFacultad">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADevolverFacultadRequest" message="tns:lPADevolverFacultad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADevolverFacultadResponse" message="tns:lPADevolverFacultadResponse"/>
</operation>
<operation name="lPADictadosMateria_1">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADictadosMateria_1Request" message="tns:lPADictadosMateria_1"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADictadosMateria_1Response" message="tns:lPADictadosMateria_1Response"/>
</operation>
<operation name="DatosCompletosEstudiantes">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DatosCompletosEstudiantesRequest" message="tns:DatosCompletosEstudiantes"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DatosCompletosEstudiantesResponse" message="tns:DatosCompletosEstudiantesResponse"/>
</operation>
</portType>
<binding name="WSBDatosAnaliticoPortBinding" type="tns:WSBDatosAnalitico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="lPADatosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MallaCurricularPensumVigenteSinDescripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverPlanAnalitico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lAutenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverRolesDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverFacultades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAMateriasDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADictadosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAMateriasAprobadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAParametrosCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPATitulosDocentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lEjemploJson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverEscuelasFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverAdminFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverPerfilDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverDatosGenerales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverCaracterizacionPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverObjetivoPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverMetodologia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverContenidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADictadosMateria_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosCompletosEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBDatosAnalitico">
<port name="WSBDatosAnaliticoPort" binding="tns:WSBDatosAnaliticoPortBinding">
<soap:address location="http://localhost:8080/WSUnidos/WSBDatosAnalitico"/>
</port>
</service>
</definitions>