Silabo/web/WEB-INF/wsdl/localhost_8080/sistemaSilaboLN/silaboWSLN.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://clases.silabo.com/">

<xs:complexType name="entidadLugar">
<xs:sequence>
<xs:element name="error" type="xs:string" minOccurs="0"/>
<xs:element name="int_id_lugar" type="xs:int" minOccurs="0"/>
<xs:element name="str_descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>