Silabo/web/WEB-INF/wsdl/localhost_8080/sistemaSilaboLN/silaboWSLN.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://logica.silabo.com/" xmlns:ns1="http://clases.silabo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://logica.silabo.com/">

<xs:import namespace="http://clases.silabo.com/" schemaLocation="http://localhost:8080/sistemaSilaboLN/silaboWSLN?xsd=2"/>

<xs:element name="ListarLugarLN" type="tns:ListarLugarLN"/>

<xs:element name="ListarLugarLNResponse" type="tns:ListarLugarLNResponse"/>

<xs:complexType name="ListarLugarLN">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarLugarLNResponse">
<xs:sequence>
<xs:element name="return" type="ns1:entidadLugar" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>