WSUnidos/web/WEB-INF/wsdl/172.17.102.143/WSUnidos/wsUnidosEspoch.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://locales.ServiciosWeb.pa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://locales.ServiciosWeb.pa/" name="wsUnidosEspoch">
<wsp:Policy xmlns:soaptcpsvc="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" wsu:Id="wsUnidosEspochPortBindingPolicy">
<soaptcpsvc:OptimizedTCPTransport enabled="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://locales.ServiciosWeb.pa/" schemaLocation="http://172.17.102.143:80/WSUnidos/wsUnidosEspoch?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://172.17.102.143:80/WSUnidos/wsUnidosEspoch?xsd=2"/>
</xsd:schema>
</types>
<message name="PeriodoValido">
<part name="parameters" element="tns:PeriodoValido"/>
</message>
<message name="PeriodoValidoResponse">
<part name="parameters" element="tns:PeriodoValidoResponse"/>
</message>
<message name="PensumValido">
<part name="parameters" element="tns:PensumValido"/>
</message>
<message name="PensumValidoResponse">
<part name="parameters" element="tns:PensumValidoResponse"/>
</message>
<message name="getUnidadesAsignaturas">
<part name="parameters" element="tns:getUnidadesAsignaturas"/>
</message>
<message name="getUnidadesAsignaturasResponse">
<part name="parameters" element="tns:getUnidadesAsignaturasResponse"/>
</message>
<message name="CamposFormacionCarrera">
<part name="parameters" element="tns:CamposFormacionCarrera"/>
</message>
<message name="CamposFormacionCarreraResponse">
<part name="parameters" element="tns:CamposFormacionCarreraResponse"/>
</message>
<message name="AsignaturasCarrera">
<part name="parameters" element="tns:AsignaturasCarrera"/>
</message>
<message name="AsignaturasCarreraResponse">
<part name="parameters" element="tns:AsignaturasCarreraResponse"/>
</message>
<message name="UnidadesAcademicasCargar">
<part name="parameters" element="tns:UnidadesAcademicasCargar"/>
</message>
<message name="UnidadesAcademicasCargarResponse">
<part name="parameters" element="tns:UnidadesAcademicasCargarResponse"/>
</message>
<message name="Facultades">
<part name="parameters" element="tns:Facultades"/>
</message>
<message name="FacultadesResponse">
<part name="parameters" element="tns:FacultadesResponse"/>
</message>
<message name="Escuelas">
<part name="parameters" element="tns:Escuelas"/>
</message>
<message name="EscuelasResponse">
<part name="parameters" element="tns:EscuelasResponse"/>
</message>
<message name="redisFlushAll">
<part name="parameters" element="tns:redisFlushAll"/>
</message>
<message name="redisFlushAllResponse">
<part name="parameters" element="tns:redisFlushAllResponse"/>
</message>
<message name="DocentesEscuela">
<part name="parameters" element="tns:DocentesEscuela"/>
</message>
<message name="DocentesEscuelaResponse">
<part name="parameters" element="tns:DocentesEscuelaResponse"/>
</message>
<message name="arbolFacultad">
<part name="parameters" element="tns:arbolFacultad"/>
</message>
<message name="arbolFacultadResponse">
<part name="parameters" element="tns:arbolFacultadResponse"/>
</message>
<message name="arbolEscuela">
<part name="parameters" element="tns:arbolEscuela"/>
</message>
<message name="arbolEscuelaResponse">
<part name="parameters" element="tns:arbolEscuelaResponse"/>
</message>
<message name="arbolCarrera">
<part name="parameters" element="tns:arbolCarrera"/>
</message>
<message name="arbolCarreraResponse">
<part name="parameters" element="tns:arbolCarreraResponse"/>
</message>
<message name="Carreras">
<part name="parameters" element="tns:Carreras"/>
</message>
<message name="CarrerasResponse">
<part name="parameters" element="tns:CarrerasResponse"/>
</message>
<message name="DocentesCarrera">
<part name="parameters" element="tns:DocentesCarrera"/>
</message>
<message name="DocentesCarreraResponse">
<part name="parameters" element="tns:DocentesCarreraResponse"/>
</message>
<message name="DocentesFacultad">
<part name="parameters" element="tns:DocentesFacultad"/>
</message>
<message name="DocentesFacultadResponse">
<part name="parameters" element="tns:DocentesFacultadResponse"/>
</message>
<portType name="wsUnidosEspoch">
<operation name="PeriodoValido">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/PeriodoValidoRequest" message="tns:PeriodoValido"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/PeriodoValidoResponse" message="tns:PeriodoValidoResponse"/>
</operation>
<operation name="PensumValido">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/PensumValidoRequest" message="tns:PensumValido"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/PensumValidoResponse" message="tns:PensumValidoResponse"/>
</operation>
<operation name="getUnidadesAsignaturas">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/getUnidadesAsignaturasRequest" message="tns:getUnidadesAsignaturas"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/getUnidadesAsignaturasResponse" message="tns:getUnidadesAsignaturasResponse"/>
</operation>
<operation name="CamposFormacionCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/CamposFormacionCarreraRequest" message="tns:CamposFormacionCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/CamposFormacionCarreraResponse" message="tns:CamposFormacionCarreraResponse"/>
</operation>
<operation name="AsignaturasCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/AsignaturasCarreraRequest" message="tns:AsignaturasCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/AsignaturasCarreraResponse" message="tns:AsignaturasCarreraResponse"/>
</operation>
<operation name="UnidadesAcademicasCargar">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/UnidadesAcademicasCargarRequest" message="tns:UnidadesAcademicasCargar"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/UnidadesAcademicasCargarResponse" message="tns:UnidadesAcademicasCargarResponse"/>
</operation>
<operation name="Facultades">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/FacultadesRequest" message="tns:Facultades"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/FacultadesResponse" message="tns:FacultadesResponse"/>
</operation>
<operation name="Escuelas">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/EscuelasRequest" message="tns:Escuelas"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/EscuelasResponse" message="tns:EscuelasResponse"/>
</operation>
<operation name="redisFlushAll">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/redisFlushAllRequest" message="tns:redisFlushAll"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/redisFlushAllResponse" message="tns:redisFlushAllResponse"/>
</operation>
<operation name="DocentesEscuela">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/DocentesEscuelaRequest" message="tns:DocentesEscuela"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/DocentesEscuelaResponse" message="tns:DocentesEscuelaResponse"/>
</operation>
<operation name="arbolFacultad">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/arbolFacultadRequest" message="tns:arbolFacultad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/arbolFacultadResponse" message="tns:arbolFacultadResponse"/>
</operation>
<operation name="arbolEscuela">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/arbolEscuelaRequest" message="tns:arbolEscuela"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/arbolEscuelaResponse" message="tns:arbolEscuelaResponse"/>
</operation>
<operation name="arbolCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/arbolCarreraRequest" message="tns:arbolCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/arbolCarreraResponse" message="tns:arbolCarreraResponse"/>
</operation>
<operation name="Carreras">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/CarrerasRequest" message="tns:Carreras"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/CarrerasResponse" message="tns:CarrerasResponse"/>
</operation>
<operation name="DocentesCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/DocentesCarreraRequest" message="tns:DocentesCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/DocentesCarreraResponse" message="tns:DocentesCarreraResponse"/>
</operation>
<operation name="DocentesFacultad">
<input wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/DocentesFacultadRequest" message="tns:DocentesFacultad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/wsUnidosEspoch/DocentesFacultadResponse" message="tns:DocentesFacultadResponse"/>
</operation>
</portType>
<binding name="wsUnidosEspochPortBinding" type="tns:wsUnidosEspoch">
<wsp:PolicyReference URI="#wsUnidosEspochPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="PeriodoValido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PensumValido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUnidadesAsignaturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CamposFormacionCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignaturasCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadesAcademicasCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Facultades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Escuelas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="redisFlushAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesEscuela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="arbolFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="arbolEscuela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="arbolCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Carreras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsUnidosEspoch">
<port name="wsUnidosEspochPort" binding="tns:wsUnidosEspochPortBinding">
<soap:address location="http://172.17.102.143:80/WSUnidos/wsUnidosEspoch"/>
</port>
</service>
</definitions>