Silabo/web/WEB-INF/wsdl/pruebas.espoch.edu.ec_8080/SistemaSilaboAD/SilaboSW.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw.silabo.dda/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw.silabo.dda/" name="SilaboSW">
<types>
<xsd:schema>
<xsd:import namespace="http://sw.silabo.dda/" schemaLocation="http://pruebas.espoch.edu.ec:8080/SistemaSilaboAD/SilaboSW?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://pruebas.espoch.edu.ec:8080/SistemaSilaboAD/SilaboSW?xsd=2"/>
</xsd:schema>
</types>
<message name="RolesOpcionesCargar">
<part name="parameters" element="tns:RolesOpcionesCargar"/>
</message>
<message name="RolesOpcionesCargarResponse">
<part name="parameters" element="tns:RolesOpcionesCargarResponse"/>
</message>
<message name="EscenariosEliminarAdm">
<part name="parameters" element="tns:EscenariosEliminarAdm"/>
</message>
<message name="EscenariosEliminarAdmResponse">
<part name="parameters" element="tns:EscenariosEliminarAdmResponse"/>
</message>
<message name="EscenarioHabilitarAdm">
<part name="parameters" element="tns:EscenarioHabilitarAdm"/>
</message>
<message name="EscenarioHabilitarAdmResponse">
<part name="parameters" element="tns:EscenarioHabilitarAdmResponse"/>
</message>
<message name="UnidadInformacionSilabo">
<part name="parameters" element="tns:UnidadInformacionSilabo"/>
</message>
<message name="UnidadInformacionSilaboResponse">
<part name="parameters" element="tns:UnidadInformacionSilaboResponse"/>
</message>
<message name="RolEntidadesCargar">
<part name="parameters" element="tns:RolEntidadesCargar"/>
</message>
<message name="RolEntidadesCargarResponse">
<part name="parameters" element="tns:RolEntidadesCargarResponse"/>
</message>
<message name="UsuariosCargar">
<part name="parameters" element="tns:UsuariosCargar"/>
</message>
<message name="UsuariosCargarResponse">
<part name="parameters" element="tns:UsuariosCargarResponse"/>
</message>
<message name="UnidadesAcademicasInstitucion">
<part name="parameters" element="tns:UnidadesAcademicasInstitucion"/>
</message>
<message name="UnidadesAcademicasInstitucionResponse">
<part name="parameters" element="tns:UnidadesAcademicasInstitucionResponse"/>
</message>
<message name="ActividadHabilitarAdm">
<part name="parameters" element="tns:ActividadHabilitarAdm"/>
</message>
<message name="ActividadHabilitarAdmResponse">
<part name="parameters" element="tns:ActividadHabilitarAdmResponse"/>
</message>
<message name="RolUsuariosGuardar">
<part name="parameters" element="tns:RolUsuariosGuardar"/>
</message>
<message name="RolUsuariosGuardarResponse">
<part name="parameters" element="tns:RolUsuariosGuardarResponse"/>
</message>
<message name="conexionRedis">
<part name="parameters" element="tns:conexionRedis"/>
</message>
<message name="conexionRedisResponse">
<part name="parameters" element="tns:conexionRedisResponse"/>
</message>
<message name="UsuariosGuardar">
<part name="parameters" element="tns:UsuariosGuardar"/>
</message>
<message name="UsuariosGuardarResponse">
<part name="parameters" element="tns:UsuariosGuardarResponse"/>
</message>
<message name="NumUnidadesSilaboCargar">
<part name="parameters" element="tns:NumUnidadesSilaboCargar"/>
</message>
<message name="NumUnidadesSilaboCargarResponse">
<part name="parameters" element="tns:NumUnidadesSilaboCargarResponse"/>
</message>
<message name="TemaEliminar">
<part name="parameters" element="tns:TemaEliminar"/>
</message>
<message name="TemaEliminarResponse">
<part name="parameters" element="tns:TemaEliminarResponse"/>
</message>
<message name="LogoEntidad">
<part name="parameters" element="tns:LogoEntidad"/>
</message>
<message name="LogoEntidadResponse">
<part name="parameters" element="tns:LogoEntidadResponse"/>
</message>
<message name="EntidadTrabajoRol">
<part name="parameters" element="tns:EntidadTrabajoRol"/>
</message>
<message name="EntidadTrabajoRolResponse">
<part name="parameters" element="tns:EntidadTrabajoRolResponse"/>
</message>
<message name="ReporteOpcionesUsuario">
<part name="parameters" element="tns:ReporteOpcionesUsuario"/>
</message>
<message name="ReporteOpcionesUsuarioResponse">
<part name="parameters" element="tns:ReporteOpcionesUsuarioResponse"/>
</message>
<message name="RecursoHabilitarAdm">
<part name="parameters" element="tns:RecursoHabilitarAdm"/>
</message>
<message name="RecursoHabilitarAdmResponse">
<part name="parameters" element="tns:RecursoHabilitarAdmResponse"/>
</message>
<message name="UsuarioRolesCargar">
<part name="parameters" element="tns:UsuarioRolesCargar"/>
</message>
<message name="UsuarioRolesCargarResponse">
<part name="parameters" element="tns:UsuarioRolesCargarResponse"/>
</message>
<message name="UsuarioEliminar">
<part name="parameters" element="tns:UsuarioEliminar"/>
</message>
<message name="UsuarioEliminarResponse">
<part name="parameters" element="tns:UsuarioEliminarResponse"/>
</message>
<message name="PeriodoActual">
<part name="parameters" element="tns:PeriodoActual"/>
</message>
<message name="PeriodoActualResponse">
<part name="parameters" element="tns:PeriodoActualResponse"/>
</message>
<message name="ActividadesEliminar">
<part name="parameters" element="tns:ActividadesEliminar"/>
</message>
<message name="ActividadesEliminarResponse">
<part name="parameters" element="tns:ActividadesEliminarResponse"/>
</message>
<message name="LogroCargar">
<part name="parameters" element="tns:LogroCargar"/>
</message>
<message name="LogroCargarResponse">
<part name="parameters" element="tns:LogroCargarResponse"/>
</message>
<message name="EscenariosCargar">
<part name="parameters" element="tns:EscenariosCargar"/>
</message>
<message name="EscenariosCargarResponse">
<part name="parameters" element="tns:EscenariosCargarResponse"/>
</message>
<message name="SilaboImportacionIdSilabo">
<part name="parameters" element="tns:SilaboImportacionIdSilabo"/>
</message>
<message name="SilaboImportacionIdSilaboResponse">
<part name="parameters" element="tns:SilaboImportacionIdSilaboResponse"/>
</message>
<message name="RolHabilitar">
<part name="parameters" element="tns:RolHabilitar"/>
</message>
<message name="RolHabilitarResponse">
<part name="parameters" element="tns:RolHabilitarResponse"/>
</message>
<message name="RolEliminar">
<part name="parameters" element="tns:RolEliminar"/>
</message>
<message name="RolEliminarResponse">
<part name="parameters" element="tns:RolEliminarResponse"/>
</message>
<message name="SilaboIdCargar">
<part name="parameters" element="tns:SilaboIdCargar"/>
</message>
<message name="SilaboIdCargarResponse">
<part name="parameters" element="tns:SilaboIdCargarResponse"/>
</message>
<message name="NumUnidadesCargar">
<part name="parameters" element="tns:NumUnidadesCargar"/>
</message>
<message name="NumUnidadesCargarResponse">
<part name="parameters" element="tns:NumUnidadesCargarResponse"/>
</message>
<message name="ObservacionesSeccionesCargar">
<part name="parameters" element="tns:ObservacionesSeccionesCargar"/>
</message>
<message name="ObservacionesSeccionesCargarResponse">
<part name="parameters" element="tns:ObservacionesSeccionesCargarResponse"/>
</message>
<message name="RolesGuardar">
<part name="parameters" element="tns:RolesGuardar"/>
</message>
<message name="RolesGuardarResponse">
<part name="parameters" element="tns:RolesGuardarResponse"/>
</message>
<message name="ActividadesGuardarAdm">
<part name="parameters" element="tns:ActividadesGuardarAdm"/>
</message>
<message name="ActividadesGuardarAdmResponse">
<part name="parameters" element="tns:ActividadesGuardarAdmResponse"/>
</message>
<message name="DatosDocentesCargar">
<part name="parameters" element="tns:DatosDocentesCargar"/>
</message>
<message name="DatosDocentesCargarResponse">
<part name="parameters" element="tns:DatosDocentesCargarResponse"/>
</message>
<message name="BibliografiasEliminar">
<part name="parameters" element="tns:BibliografiasEliminar"/>
</message>
<message name="BibliografiasEliminarResponse">
<part name="parameters" element="tns:BibliografiasEliminarResponse"/>
</message>
<message name="CalificacionesGuardar">
<part name="parameters" element="tns:CalificacionesGuardar"/>
</message>
<message name="CalificacionesGuardarResponse">
<part name="parameters" element="tns:CalificacionesGuardarResponse"/>
</message>
<message name="EstrategiasEliminarAdm">
<part name="parameters" element="tns:EstrategiasEliminarAdm"/>
</message>
<message name="EstrategiasEliminarAdmResponse">
<part name="parameters" element="tns:EstrategiasEliminarAdmResponse"/>
</message>
<message name="ReporteUnidadesAcademicasUsuario">
<part name="parameters" element="tns:ReporteUnidadesAcademicasUsuario"/>
</message>
<message name="ReporteUnidadesAcademicasUsuarioResponse">
<part name="parameters" element="tns:ReporteUnidadesAcademicasUsuarioResponse"/>
</message>
<message name="RecursosGuardar">
<part name="parameters" element="tns:RecursosGuardar"/>
</message>
<message name="RecursosGuardarResponse">
<part name="parameters" element="tns:RecursosGuardarResponse"/>
</message>
<message name="DatosDocenteActualizar">
<part name="parameters" element="tns:DatosDocenteActualizar"/>
</message>
<message name="DatosDocenteActualizarResponse">
<part name="parameters" element="tns:DatosDocenteActualizarResponse"/>
</message>
<message name="SilaboEstadoCargar">
<part name="parameters" element="tns:SilaboEstadoCargar"/>
</message>
<message name="SilaboEstadoCargarResponse">
<part name="parameters" element="tns:SilaboEstadoCargarResponse"/>
</message>
<message name="AsignaturaCargar">
<part name="parameters" element="tns:AsignaturaCargar"/>
</message>
<message name="AsignaturaCargarResponse">
<part name="parameters" element="tns:AsignaturaCargarResponse"/>
</message>
<message name="EstrategiasGuardar">
<part name="parameters" element="tns:EstrategiasGuardar"/>
</message>
<message name="EstrategiasGuardarResponse">
<part name="parameters" element="tns:EstrategiasGuardarResponse"/>
</message>
<message name="RecursosEliminarAdm">
<part name="parameters" element="tns:RecursosEliminarAdm"/>
</message>
<message name="RecursosEliminarAdmResponse">
<part name="parameters" element="tns:RecursosEliminarAdmResponse"/>
</message>
<message name="MenuSilaboCargar">
<part name="parameters" element="tns:MenuSilaboCargar"/>
</message>
<message name="MenuSilaboCargarResponse">
<part name="parameters" element="tns:MenuSilaboCargarResponse"/>
</message>
<message name="EscenariosGuardar">
<part name="parameters" element="tns:EscenariosGuardar"/>
</message>
<message name="EscenariosGuardarResponse">
<part name="parameters" element="tns:EscenariosGuardarResponse"/>
</message>
<message name="EstrategiasGuardarAdm">
<part name="parameters" element="tns:EstrategiasGuardarAdm"/>
</message>
<message name="EstrategiasGuardarAdmResponse">
<part name="parameters" element="tns:EstrategiasGuardarAdmResponse"/>
</message>
<message name="RecursosGuardarAdm">
<part name="parameters" element="tns:RecursosGuardarAdm"/>
</message>
<message name="RecursosGuardarAdmResponse">
<part name="parameters" element="tns:RecursosGuardarAdmResponse"/>
</message>
<message name="AutoridadesSilaboCargar">
<part name="parameters" element="tns:AutoridadesSilaboCargar"/>
</message>
<message name="AutoridadesSilaboCargarResponse">
<part name="parameters" element="tns:AutoridadesSilaboCargarResponse"/>
</message>
<message name="EstrategiasCargar">
<part name="parameters" element="tns:EstrategiasCargar"/>
</message>
<message name="EstrategiasCargarResponse">
<part name="parameters" element="tns:EstrategiasCargarResponse"/>
</message>
<message name="ParametrosCargar">
<part name="parameters" element="tns:ParametrosCargar"/>
</message>
<message name="ParametrosCargarResponse">
<part name="parameters" element="tns:ParametrosCargarResponse"/>
</message>
<message name="ObjetivoCargar">
<part name="parameters" element="tns:ObjetivoCargar"/>
</message>
<message name="ObjetivoCargarResponse">
<part name="parameters" element="tns:ObjetivoCargarResponse"/>
</message>
<message name="UsuarioRolesGuardar">
<part name="parameters" element="tns:UsuarioRolesGuardar"/>
</message>
<message name="UsuarioRolesGuardarResponse">
<part name="parameters" element="tns:UsuarioRolesGuardarResponse"/>
</message>
<message name="ObjetivoGuardar">
<part name="parameters" element="tns:ObjetivoGuardar"/>
</message>
<message name="ObjetivoGuardarResponse">
<part name="parameters" element="tns:ObjetivoGuardarResponse"/>
</message>
<message name="SubtemaEliminar">
<part name="parameters" element="tns:SubtemaEliminar"/>
</message>
<message name="SubtemaEliminarResponse">
<part name="parameters" element="tns:SubtemaEliminarResponse"/>
</message>
<message name="DatosGeneralesCargar">
<part name="parameters" element="tns:DatosGeneralesCargar"/>
</message>
<message name="DatosGeneralesCargarResponse">
<part name="parameters" element="tns:DatosGeneralesCargarResponse"/>
</message>
<message name="ActividadesAprendizajeCargar">
<part name="parameters" element="tns:ActividadesAprendizajeCargar"/>
</message>
<message name="ActividadesAprendizajeCargarResponse">
<part name="parameters" element="tns:ActividadesAprendizajeCargarResponse"/>
</message>
<message name="ActividadesAprendizajeGuardar">
<part name="parameters" element="tns:ActividadesAprendizajeGuardar"/>
</message>
<message name="ActividadesAprendizajeGuardarResponse">
<part name="parameters" element="tns:ActividadesAprendizajeGuardarResponse"/>
</message>
<message name="conexionBase">
<part name="parameters" element="tns:conexionBase"/>
</message>
<message name="conexionBaseResponse">
<part name="parameters" element="tns:conexionBaseResponse"/>
</message>
<message name="UnidadInformacionGuardar">
<part name="parameters" element="tns:UnidadInformacionGuardar"/>
</message>
<message name="UnidadInformacionGuardarResponse">
<part name="parameters" element="tns:UnidadInformacionGuardarResponse"/>
</message>
<message name="unidadesAcademicasUsuarioCargar">
<part name="parameters" element="tns:unidadesAcademicasUsuarioCargar"/>
</message>
<message name="unidadesAcademicasUsuarioCargarResponse">
<part name="parameters" element="tns:unidadesAcademicasUsuarioCargarResponse"/>
</message>
<message name="OpcionesCargar">
<part name="parameters" element="tns:OpcionesCargar"/>
</message>
<message name="OpcionesCargarResponse">
<part name="parameters" element="tns:OpcionesCargarResponse"/>
</message>
<message name="SilaboGenerarPDF">
<part name="parameters" element="tns:SilaboGenerarPDF"/>
</message>
<message name="SilaboGenerarPDFResponse">
<part name="parameters" element="tns:SilaboGenerarPDFResponse"/>
</message>
<message name="OpcionHabilitar">
<part name="parameters" element="tns:OpcionHabilitar"/>
</message>
<message name="OpcionHabilitarResponse">
<part name="parameters" element="tns:OpcionHabilitarResponse"/>
</message>
<message name="ActividadesEliminarAdm">
<part name="parameters" element="tns:ActividadesEliminarAdm"/>
</message>
<message name="ActividadesEliminarAdmResponse">
<part name="parameters" element="tns:ActividadesEliminarAdmResponse"/>
</message>
<message name="EscenariosGuardarAdm">
<part name="parameters" element="tns:EscenariosGuardarAdm"/>
</message>
<message name="EscenariosGuardarAdmResponse">
<part name="parameters" element="tns:EscenariosGuardarAdmResponse"/>
</message>
<message name="UsuarioNuevoAgregar">
<part name="parameters" element="tns:UsuarioNuevoAgregar"/>
</message>
<message name="UsuarioNuevoAgregarResponse">
<part name="parameters" element="tns:UsuarioNuevoAgregarResponse"/>
</message>
<message name="UsuariosEditar">
<part name="parameters" element="tns:UsuariosEditar"/>
</message>
<message name="UsuariosEditarResponse">
<part name="parameters" element="tns:UsuariosEditarResponse"/>
</message>
<message name="EvaluacionesCargar">
<part name="parameters" element="tns:EvaluacionesCargar"/>
</message>
<message name="EvaluacionesCargarResponse">
<part name="parameters" element="tns:EvaluacionesCargarResponse"/>
</message>
<message name="LogroGuardar">
<part name="parameters" element="tns:LogroGuardar"/>
</message>
<message name="LogroGuardarResponse">
<part name="parameters" element="tns:LogroGuardarResponse"/>
</message>
<message name="RolUsuariosCargar">
<part name="parameters" element="tns:RolUsuariosCargar"/>
</message>
<message name="RolUsuariosCargarResponse">
<part name="parameters" element="tns:RolUsuariosCargarResponse"/>
</message>
<message name="RolUsuariosNivelInferiorCargar">
<part name="parameters" element="tns:RolUsuariosNivelInferiorCargar"/>
</message>
<message name="RolUsuariosNivelInferiorCargarResponse">
<part name="parameters" element="tns:RolUsuariosNivelInferiorCargarResponse"/>
</message>
<message name="subirArchivos">
<part name="parameters" element="tns:subirArchivos"/>
</message>
<message name="subirArchivosResponse">
<part name="parameters" element="tns:subirArchivosResponse"/>
</message>
<message name="OpcionesGuardar">
<part name="parameters" element="tns:OpcionesGuardar"/>
</message>
<message name="OpcionesGuardarResponse">
<part name="parameters" element="tns:OpcionesGuardarResponse"/>
</message>
<message name="BibliografiasGuardar">
<part name="parameters" element="tns:BibliografiasGuardar"/>
</message>
<message name="BibliografiasGuardarResponse">
<part name="parameters" element="tns:BibliografiasGuardarResponse"/>
</message>
<message name="OpcionEliminar">
<part name="parameters" element="tns:OpcionEliminar"/>
</message>
<message name="OpcionEliminarResponse">
<part name="parameters" element="tns:OpcionEliminarResponse"/>
</message>
<message name="AsignaturasPeriodos">
<part name="parameters" element="tns:AsignaturasPeriodos"/>
</message>
<message name="AsignaturasPeriodosResponse">
<part name="parameters" element="tns:AsignaturasPeriodosResponse"/>
</message>
<message name="UsuarioEstadoActualizar">
<part name="parameters" element="tns:UsuarioEstadoActualizar"/>
</message>
<message name="UsuarioEstadoActualizarResponse">
<part name="parameters" element="tns:UsuarioEstadoActualizarResponse"/>
</message>
<message name="AsignaturasCarreraUsuario">
<part name="parameters" element="tns:AsignaturasCarreraUsuario"/>
</message>
<message name="AsignaturasCarreraUsuarioResponse">
<part name="parameters" element="tns:AsignaturasCarreraUsuarioResponse"/>
</message>
<message name="SilaboImportacionGenerar">
<part name="parameters" element="tns:SilaboImportacionGenerar"/>
</message>
<message name="SilaboImportacionGenerarResponse">
<part name="parameters" element="tns:SilaboImportacionGenerarResponse"/>
</message>
<message name="ReporteEstadoSilabos">
<part name="parameters" element="tns:ReporteEstadoSilabos"/>
</message>
<message name="ReporteEstadoSilabosResponse">
<part name="parameters" element="tns:ReporteEstadoSilabosResponse"/>
</message>
<message name="ParametroSilaboCargar">
<part name="parameters" element="tns:ParametroSilaboCargar"/>
</message>
<message name="ParametroSilaboCargarResponse">
<part name="parameters" element="tns:ParametroSilaboCargarResponse"/>
</message>
<message name="SilaboEstadoVerificar">
<part name="parameters" element="tns:SilaboEstadoVerificar"/>
</message>
<message name="SilaboEstadoVerificarResponse">
<part name="parameters" element="tns:SilaboEstadoVerificarResponse"/>
</message>
<message name="ParametrosGuardar">
<part name="parameters" element="tns:ParametrosGuardar"/>
</message>
<message name="ParametrosGuardarResponse">
<part name="parameters" element="tns:ParametrosGuardarResponse"/>
</message>
<message name="EstrategiaHabilitarAdm">
<part name="parameters" element="tns:EstrategiaHabilitarAdm"/>
</message>
<message name="EstrategiaHabilitarAdmResponse">
<part name="parameters" element="tns:EstrategiaHabilitarAdmResponse"/>
</message>
<message name="UnidadInformacionGuardarReestablecer">
<part name="parameters" element="tns:UnidadInformacionGuardarReestablecer"/>
</message>
<message name="UnidadInformacionGuardarReestablecerResponse">
<part name="parameters" element="tns:UnidadInformacionGuardarReestablecerResponse"/>
</message>
<message name="RecursosCargar">
<part name="parameters" element="tns:RecursosCargar"/>
</message>
<message name="RecursosCargarResponse">
<part name="parameters" element="tns:RecursosCargarResponse"/>
</message>
<message name="DocenteInformacionCargar">
<part name="parameters" element="tns:DocenteInformacionCargar"/>
</message>
<message name="DocenteInformacionCargarResponse">
<part name="parameters" element="tns:DocenteInformacionCargarResponse"/>
</message>
<message name="UnidadInformacionCargar">
<part name="parameters" element="tns:UnidadInformacionCargar"/>
</message>
<message name="UnidadInformacionCargarResponse">
<part name="parameters" element="tns:UnidadInformacionCargarResponse"/>
</message>
<message name="BibliografiasCargar">
<part name="parameters" element="tns:BibliografiasCargar"/>
</message>
<message name="BibliografiasCargarResponse">
<part name="parameters" element="tns:BibliografiasCargarResponse"/>
</message>
<message name="DatosDocentesInicioCargar">
<part name="parameters" element="tns:DatosDocentesInicioCargar"/>
</message>
<message name="DatosDocentesInicioCargarResponse">
<part name="parameters" element="tns:DatosDocentesInicioCargarResponse"/>
</message>
<message name="ObservacionesSilaboCargar">
<part name="parameters" element="tns:ObservacionesSilaboCargar"/>
</message>
<message name="ObservacionesSilaboCargarResponse">
<part name="parameters" element="tns:ObservacionesSilaboCargarResponse"/>
</message>
<message name="servicio">
<part name="parameters" element="tns:servicio"/>
</message>
<message name="servicioResponse">
<part name="parameters" element="tns:servicioResponse"/>
</message>
<message name="ReporteCampoFormacionDocente">
<part name="parameters" element="tns:ReporteCampoFormacionDocente"/>
</message>
<message name="ReporteCampoFormacionDocenteResponse">
<part name="parameters" element="tns:ReporteCampoFormacionDocenteResponse"/>
</message>
<message name="ReporteCriteriosEntidadUsuario">
<part name="parameters" element="tns:ReporteCriteriosEntidadUsuario"/>
</message>
<message name="ReporteCriteriosEntidadUsuarioResponse">
<part name="parameters" element="tns:ReporteCriteriosEntidadUsuarioResponse"/>
</message>
<message name="UnidadesAcademicasAsignaturas">
<part name="parameters" element="tns:UnidadesAcademicasAsignaturas"/>
</message>
<message name="UnidadesAcademicasAsignaturasResponse">
<part name="parameters" element="tns:UnidadesAcademicasAsignaturasResponse"/>
</message>
<message name="EstructuraCurricularSilaboID">
<part name="parameters" element="tns:EstructuraCurricularSilaboID"/>
</message>
<message name="EstructuraCurricularSilaboIDResponse">
<part name="parameters" element="tns:EstructuraCurricularSilaboIDResponse"/>
</message>
<message name="RolOpcionesGuardar">
<part name="parameters" element="tns:RolOpcionesGuardar"/>
</message>
<message name="RolOpcionesGuardarResponse">
<part name="parameters" element="tns:RolOpcionesGuardarResponse"/>
</message>
<message name="UsuarioVerificar">
<part name="parameters" element="tns:UsuarioVerificar"/>
</message>
<message name="UsuarioVerificarResponse">
<part name="parameters" element="tns:UsuarioVerificarResponse"/>
</message>
<message name="AutenticarUsuario">
<part name="parameters" element="tns:AutenticarUsuario"/>
</message>
<message name="AutenticarUsuarioResponse">
<part name="parameters" element="tns:AutenticarUsuarioResponse"/>
</message>
<message name="ExecutionException">
<part name="fault" element="tns:ExecutionException"/>
</message>
<message name="UnsupportedEncodingException">
<part name="fault" element="tns:UnsupportedEncodingException"/>
</message>
<message name="RolOpcionesCargar">
<part name="parameters" element="tns:RolOpcionesCargar"/>
</message>
<message name="RolOpcionesCargarResponse">
<part name="parameters" element="tns:RolOpcionesCargarResponse"/>
</message>
<message name="RolesCargar">
<part name="parameters" element="tns:RolesCargar"/>
</message>
<message name="RolesCargarResponse">
<part name="parameters" element="tns:RolesCargarResponse"/>
</message>
<portType name="SilaboSW">
<operation name="RolesOpcionesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolesOpcionesCargarRequest" message="tns:RolesOpcionesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolesOpcionesCargarResponse" message="tns:RolesOpcionesCargarResponse"/>
</operation>
<operation name="EscenariosEliminarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosEliminarAdmRequest" message="tns:EscenariosEliminarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosEliminarAdmResponse" message="tns:EscenariosEliminarAdmResponse"/>
</operation>
<operation name="EscenarioHabilitarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenarioHabilitarAdmRequest" message="tns:EscenarioHabilitarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenarioHabilitarAdmResponse" message="tns:EscenarioHabilitarAdmResponse"/>
</operation>
<operation name="UnidadInformacionSilabo">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadInformacionSilaboRequest" message="tns:UnidadInformacionSilabo"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadInformacionSilaboResponse" message="tns:UnidadInformacionSilaboResponse"/>
</operation>
<operation name="RolEntidadesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolEntidadesCargarRequest" message="tns:RolEntidadesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolEntidadesCargarResponse" message="tns:RolEntidadesCargarResponse"/>
</operation>
<operation name="UsuariosCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuariosCargarRequest" message="tns:UsuariosCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuariosCargarResponse" message="tns:UsuariosCargarResponse"/>
</operation>
<operation name="UnidadesAcademicasInstitucion">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadesAcademicasInstitucionRequest" message="tns:UnidadesAcademicasInstitucion"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadesAcademicasInstitucionResponse" message="tns:UnidadesAcademicasInstitucionResponse"/>
</operation>
<operation name="ActividadHabilitarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadHabilitarAdmRequest" message="tns:ActividadHabilitarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadHabilitarAdmResponse" message="tns:ActividadHabilitarAdmResponse"/>
</operation>
<operation name="RolUsuariosGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolUsuariosGuardarRequest" message="tns:RolUsuariosGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolUsuariosGuardarResponse" message="tns:RolUsuariosGuardarResponse"/>
</operation>
<operation name="conexionRedis">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/conexionRedisRequest" message="tns:conexionRedis"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/conexionRedisResponse" message="tns:conexionRedisResponse"/>
</operation>
<operation name="UsuariosGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuariosGuardarRequest" message="tns:UsuariosGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuariosGuardarResponse" message="tns:UsuariosGuardarResponse"/>
</operation>
<operation name="NumUnidadesSilaboCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/NumUnidadesSilaboCargarRequest" message="tns:NumUnidadesSilaboCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/NumUnidadesSilaboCargarResponse" message="tns:NumUnidadesSilaboCargarResponse"/>
</operation>
<operation name="TemaEliminar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/TemaEliminarRequest" message="tns:TemaEliminar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/TemaEliminarResponse" message="tns:TemaEliminarResponse"/>
</operation>
<operation name="LogoEntidad">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/LogoEntidadRequest" message="tns:LogoEntidad"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/LogoEntidadResponse" message="tns:LogoEntidadResponse"/>
</operation>
<operation name="EntidadTrabajoRol">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EntidadTrabajoRolRequest" message="tns:EntidadTrabajoRol"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EntidadTrabajoRolResponse" message="tns:EntidadTrabajoRolResponse"/>
</operation>
<operation name="ReporteOpcionesUsuario">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteOpcionesUsuarioRequest" message="tns:ReporteOpcionesUsuario"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteOpcionesUsuarioResponse" message="tns:ReporteOpcionesUsuarioResponse"/>
</operation>
<operation name="RecursoHabilitarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursoHabilitarAdmRequest" message="tns:RecursoHabilitarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursoHabilitarAdmResponse" message="tns:RecursoHabilitarAdmResponse"/>
</operation>
<operation name="UsuarioRolesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioRolesCargarRequest" message="tns:UsuarioRolesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioRolesCargarResponse" message="tns:UsuarioRolesCargarResponse"/>
</operation>
<operation name="UsuarioEliminar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioEliminarRequest" message="tns:UsuarioEliminar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioEliminarResponse" message="tns:UsuarioEliminarResponse"/>
</operation>
<operation name="PeriodoActual">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/PeriodoActualRequest" message="tns:PeriodoActual"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/PeriodoActualResponse" message="tns:PeriodoActualResponse"/>
</operation>
<operation name="ActividadesEliminar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesEliminarRequest" message="tns:ActividadesEliminar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesEliminarResponse" message="tns:ActividadesEliminarResponse"/>
</operation>
<operation name="LogroCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/LogroCargarRequest" message="tns:LogroCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/LogroCargarResponse" message="tns:LogroCargarResponse"/>
</operation>
<operation name="EscenariosCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosCargarRequest" message="tns:EscenariosCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosCargarResponse" message="tns:EscenariosCargarResponse"/>
</operation>
<operation name="SilaboImportacionIdSilabo">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboImportacionIdSilaboRequest" message="tns:SilaboImportacionIdSilabo"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboImportacionIdSilaboResponse" message="tns:SilaboImportacionIdSilaboResponse"/>
</operation>
<operation name="RolHabilitar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolHabilitarRequest" message="tns:RolHabilitar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolHabilitarResponse" message="tns:RolHabilitarResponse"/>
</operation>
<operation name="RolEliminar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolEliminarRequest" message="tns:RolEliminar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolEliminarResponse" message="tns:RolEliminarResponse"/>
</operation>
<operation name="SilaboIdCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboIdCargarRequest" message="tns:SilaboIdCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboIdCargarResponse" message="tns:SilaboIdCargarResponse"/>
</operation>
<operation name="NumUnidadesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/NumUnidadesCargarRequest" message="tns:NumUnidadesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/NumUnidadesCargarResponse" message="tns:NumUnidadesCargarResponse"/>
</operation>
<operation name="ObservacionesSeccionesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ObservacionesSeccionesCargarRequest" message="tns:ObservacionesSeccionesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ObservacionesSeccionesCargarResponse" message="tns:ObservacionesSeccionesCargarResponse"/>
</operation>
<operation name="RolesGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolesGuardarRequest" message="tns:RolesGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolesGuardarResponse" message="tns:RolesGuardarResponse"/>
</operation>
<operation name="ActividadesGuardarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesGuardarAdmRequest" message="tns:ActividadesGuardarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesGuardarAdmResponse" message="tns:ActividadesGuardarAdmResponse"/>
</operation>
<operation name="DatosDocentesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/DatosDocentesCargarRequest" message="tns:DatosDocentesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/DatosDocentesCargarResponse" message="tns:DatosDocentesCargarResponse"/>
</operation>
<operation name="BibliografiasEliminar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasEliminarRequest" message="tns:BibliografiasEliminar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasEliminarResponse" message="tns:BibliografiasEliminarResponse"/>
</operation>
<operation name="CalificacionesGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/CalificacionesGuardarRequest" message="tns:CalificacionesGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/CalificacionesGuardarResponse" message="tns:CalificacionesGuardarResponse"/>
</operation>
<operation name="EstrategiasEliminarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasEliminarAdmRequest" message="tns:EstrategiasEliminarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasEliminarAdmResponse" message="tns:EstrategiasEliminarAdmResponse"/>
</operation>
<operation name="ReporteUnidadesAcademicasUsuario">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteUnidadesAcademicasUsuarioRequest" message="tns:ReporteUnidadesAcademicasUsuario"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteUnidadesAcademicasUsuarioResponse" message="tns:ReporteUnidadesAcademicasUsuarioResponse"/>
</operation>
<operation name="RecursosGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosGuardarRequest" message="tns:RecursosGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosGuardarResponse" message="tns:RecursosGuardarResponse"/>
</operation>
<operation name="DatosDocenteActualizar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/DatosDocenteActualizarRequest" message="tns:DatosDocenteActualizar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/DatosDocenteActualizarResponse" message="tns:DatosDocenteActualizarResponse"/>
</operation>
<operation name="SilaboEstadoCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboEstadoCargarRequest" message="tns:SilaboEstadoCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboEstadoCargarResponse" message="tns:SilaboEstadoCargarResponse"/>
</operation>
<operation name="AsignaturaCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/AsignaturaCargarRequest" message="tns:AsignaturaCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/AsignaturaCargarResponse" message="tns:AsignaturaCargarResponse"/>
</operation>
<operation name="EstrategiasGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasGuardarRequest" message="tns:EstrategiasGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasGuardarResponse" message="tns:EstrategiasGuardarResponse"/>
</operation>
<operation name="RecursosEliminarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosEliminarAdmRequest" message="tns:RecursosEliminarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosEliminarAdmResponse" message="tns:RecursosEliminarAdmResponse"/>
</operation>
<operation name="MenuSilaboCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/MenuSilaboCargarRequest" message="tns:MenuSilaboCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/MenuSilaboCargarResponse" message="tns:MenuSilaboCargarResponse"/>
</operation>
<operation name="EscenariosGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosGuardarRequest" message="tns:EscenariosGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosGuardarResponse" message="tns:EscenariosGuardarResponse"/>
</operation>
<operation name="EstrategiasGuardarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasGuardarAdmRequest" message="tns:EstrategiasGuardarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasGuardarAdmResponse" message="tns:EstrategiasGuardarAdmResponse"/>
</operation>
<operation name="RecursosGuardarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosGuardarAdmRequest" message="tns:RecursosGuardarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosGuardarAdmResponse" message="tns:RecursosGuardarAdmResponse"/>
</operation>
<operation name="AutoridadesSilaboCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/AutoridadesSilaboCargarRequest" message="tns:AutoridadesSilaboCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/AutoridadesSilaboCargarResponse" message="tns:AutoridadesSilaboCargarResponse"/>
</operation>
<operation name="EstrategiasCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasCargarRequest" message="tns:EstrategiasCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiasCargarResponse" message="tns:EstrategiasCargarResponse"/>
</operation>
<operation name="ParametrosCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ParametrosCargarRequest" message="tns:ParametrosCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ParametrosCargarResponse" message="tns:ParametrosCargarResponse"/>
</operation>
<operation name="ObjetivoCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ObjetivoCargarRequest" message="tns:ObjetivoCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ObjetivoCargarResponse" message="tns:ObjetivoCargarResponse"/>
</operation>
<operation name="UsuarioRolesGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioRolesGuardarRequest" message="tns:UsuarioRolesGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioRolesGuardarResponse" message="tns:UsuarioRolesGuardarResponse"/>
</operation>
<operation name="ObjetivoGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ObjetivoGuardarRequest" message="tns:ObjetivoGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ObjetivoGuardarResponse" message="tns:ObjetivoGuardarResponse"/>
</operation>
<operation name="SubtemaEliminar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/SubtemaEliminarRequest" message="tns:SubtemaEliminar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/SubtemaEliminarResponse" message="tns:SubtemaEliminarResponse"/>
</operation>
<operation name="DatosGeneralesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/DatosGeneralesCargarRequest" message="tns:DatosGeneralesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/DatosGeneralesCargarResponse" message="tns:DatosGeneralesCargarResponse"/>
</operation>
<operation name="ActividadesAprendizajeCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesAprendizajeCargarRequest" message="tns:ActividadesAprendizajeCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesAprendizajeCargarResponse" message="tns:ActividadesAprendizajeCargarResponse"/>
</operation>
<operation name="ActividadesAprendizajeGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesAprendizajeGuardarRequest" message="tns:ActividadesAprendizajeGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesAprendizajeGuardarResponse" message="tns:ActividadesAprendizajeGuardarResponse"/>
</operation>
<operation name="conexionBase">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/conexionBaseRequest" message="tns:conexionBase"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/conexionBaseResponse" message="tns:conexionBaseResponse"/>
</operation>
<operation name="UnidadInformacionGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadInformacionGuardarRequest" message="tns:UnidadInformacionGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadInformacionGuardarResponse" message="tns:UnidadInformacionGuardarResponse"/>
</operation>
<operation name="unidadesAcademicasUsuarioCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/unidadesAcademicasUsuarioCargarRequest" message="tns:unidadesAcademicasUsuarioCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/unidadesAcademicasUsuarioCargarResponse" message="tns:unidadesAcademicasUsuarioCargarResponse"/>
</operation>
<operation name="OpcionesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/OpcionesCargarRequest" message="tns:OpcionesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/OpcionesCargarResponse" message="tns:OpcionesCargarResponse"/>
</operation>
<operation name="SilaboGenerarPDF">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboGenerarPDFRequest" message="tns:SilaboGenerarPDF"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboGenerarPDFResponse" message="tns:SilaboGenerarPDFResponse"/>
</operation>
<operation name="OpcionHabilitar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/OpcionHabilitarRequest" message="tns:OpcionHabilitar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/OpcionHabilitarResponse" message="tns:OpcionHabilitarResponse"/>
</operation>
<operation name="ActividadesEliminarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesEliminarAdmRequest" message="tns:ActividadesEliminarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ActividadesEliminarAdmResponse" message="tns:ActividadesEliminarAdmResponse"/>
</operation>
<operation name="EscenariosGuardarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosGuardarAdmRequest" message="tns:EscenariosGuardarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EscenariosGuardarAdmResponse" message="tns:EscenariosGuardarAdmResponse"/>
</operation>
<operation name="UsuarioNuevoAgregar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioNuevoAgregarRequest" message="tns:UsuarioNuevoAgregar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioNuevoAgregarResponse" message="tns:UsuarioNuevoAgregarResponse"/>
</operation>
<operation name="UsuariosEditar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuariosEditarRequest" message="tns:UsuariosEditar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuariosEditarResponse" message="tns:UsuariosEditarResponse"/>
</operation>
<operation name="EvaluacionesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EvaluacionesCargarRequest" message="tns:EvaluacionesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EvaluacionesCargarResponse" message="tns:EvaluacionesCargarResponse"/>
</operation>
<operation name="LogroGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/LogroGuardarRequest" message="tns:LogroGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/LogroGuardarResponse" message="tns:LogroGuardarResponse"/>
</operation>
<operation name="RolUsuariosCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolUsuariosCargarRequest" message="tns:RolUsuariosCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolUsuariosCargarResponse" message="tns:RolUsuariosCargarResponse"/>
</operation>
<operation name="RolUsuariosNivelInferiorCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolUsuariosNivelInferiorCargarRequest" message="tns:RolUsuariosNivelInferiorCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolUsuariosNivelInferiorCargarResponse" message="tns:RolUsuariosNivelInferiorCargarResponse"/>
</operation>
<operation name="subirArchivos">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/subirArchivosRequest" message="tns:subirArchivos"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/subirArchivosResponse" message="tns:subirArchivosResponse"/>
</operation>
<operation name="OpcionesGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/OpcionesGuardarRequest" message="tns:OpcionesGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/OpcionesGuardarResponse" message="tns:OpcionesGuardarResponse"/>
</operation>
<operation name="BibliografiasGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasGuardarRequest" message="tns:BibliografiasGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasGuardarResponse" message="tns:BibliografiasGuardarResponse"/>
</operation>
<operation name="OpcionEliminar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/OpcionEliminarRequest" message="tns:OpcionEliminar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/OpcionEliminarResponse" message="tns:OpcionEliminarResponse"/>
</operation>
<operation name="AsignaturasPeriodos">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/AsignaturasPeriodosRequest" message="tns:AsignaturasPeriodos"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/AsignaturasPeriodosResponse" message="tns:AsignaturasPeriodosResponse"/>
</operation>
<operation name="UsuarioEstadoActualizar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioEstadoActualizarRequest" message="tns:UsuarioEstadoActualizar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioEstadoActualizarResponse" message="tns:UsuarioEstadoActualizarResponse"/>
</operation>
<operation name="AsignaturasCarreraUsuario">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/AsignaturasCarreraUsuarioRequest" message="tns:AsignaturasCarreraUsuario"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/AsignaturasCarreraUsuarioResponse" message="tns:AsignaturasCarreraUsuarioResponse"/>
</operation>
<operation name="SilaboImportacionGenerar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboImportacionGenerarRequest" message="tns:SilaboImportacionGenerar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboImportacionGenerarResponse" message="tns:SilaboImportacionGenerarResponse"/>
</operation>
<operation name="ReporteEstadoSilabos">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteEstadoSilabosRequest" message="tns:ReporteEstadoSilabos"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteEstadoSilabosResponse" message="tns:ReporteEstadoSilabosResponse"/>
</operation>
<operation name="ParametroSilaboCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ParametroSilaboCargarRequest" message="tns:ParametroSilaboCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ParametroSilaboCargarResponse" message="tns:ParametroSilaboCargarResponse"/>
</operation>
<operation name="SilaboEstadoVerificar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboEstadoVerificarRequest" message="tns:SilaboEstadoVerificar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/SilaboEstadoVerificarResponse" message="tns:SilaboEstadoVerificarResponse"/>
</operation>
<operation name="ParametrosGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ParametrosGuardarRequest" message="tns:ParametrosGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ParametrosGuardarResponse" message="tns:ParametrosGuardarResponse"/>
</operation>
<operation name="EstrategiaHabilitarAdm">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiaHabilitarAdmRequest" message="tns:EstrategiaHabilitarAdm"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstrategiaHabilitarAdmResponse" message="tns:EstrategiaHabilitarAdmResponse"/>
</operation>
<operation name="UnidadInformacionGuardarReestablecer">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadInformacionGuardarReestablecerRequest" message="tns:UnidadInformacionGuardarReestablecer"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadInformacionGuardarReestablecerResponse" message="tns:UnidadInformacionGuardarReestablecerResponse"/>
</operation>
<operation name="RecursosCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosCargarRequest" message="tns:RecursosCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RecursosCargarResponse" message="tns:RecursosCargarResponse"/>
</operation>
<operation name="DocenteInformacionCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/DocenteInformacionCargarRequest" message="tns:DocenteInformacionCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/DocenteInformacionCargarResponse" message="tns:DocenteInformacionCargarResponse"/>
</operation>
<operation name="UnidadInformacionCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadInformacionCargarRequest" message="tns:UnidadInformacionCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadInformacionCargarResponse" message="tns:UnidadInformacionCargarResponse"/>
</operation>
<operation name="BibliografiasCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasCargarRequest" message="tns:BibliografiasCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/BibliografiasCargarResponse" message="tns:BibliografiasCargarResponse"/>
</operation>
<operation name="DatosDocentesInicioCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/DatosDocentesInicioCargarRequest" message="tns:DatosDocentesInicioCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/DatosDocentesInicioCargarResponse" message="tns:DatosDocentesInicioCargarResponse"/>
</operation>
<operation name="ObservacionesSilaboCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ObservacionesSilaboCargarRequest" message="tns:ObservacionesSilaboCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ObservacionesSilaboCargarResponse" message="tns:ObservacionesSilaboCargarResponse"/>
</operation>
<operation name="servicio">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/servicioRequest" message="tns:servicio"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/servicioResponse" message="tns:servicioResponse"/>
</operation>
<operation name="ReporteCampoFormacionDocente">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteCampoFormacionDocenteRequest" message="tns:ReporteCampoFormacionDocente"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteCampoFormacionDocenteResponse" message="tns:ReporteCampoFormacionDocenteResponse"/>
</operation>
<operation name="ReporteCriteriosEntidadUsuario">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteCriteriosEntidadUsuarioRequest" message="tns:ReporteCriteriosEntidadUsuario"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/ReporteCriteriosEntidadUsuarioResponse" message="tns:ReporteCriteriosEntidadUsuarioResponse"/>
</operation>
<operation name="UnidadesAcademicasAsignaturas">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadesAcademicasAsignaturasRequest" message="tns:UnidadesAcademicasAsignaturas"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UnidadesAcademicasAsignaturasResponse" message="tns:UnidadesAcademicasAsignaturasResponse"/>
</operation>
<operation name="EstructuraCurricularSilaboID">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/EstructuraCurricularSilaboIDRequest" message="tns:EstructuraCurricularSilaboID"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/EstructuraCurricularSilaboIDResponse" message="tns:EstructuraCurricularSilaboIDResponse"/>
</operation>
<operation name="RolOpcionesGuardar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolOpcionesGuardarRequest" message="tns:RolOpcionesGuardar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolOpcionesGuardarResponse" message="tns:RolOpcionesGuardarResponse"/>
</operation>
<operation name="UsuarioVerificar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioVerificarRequest" message="tns:UsuarioVerificar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/UsuarioVerificarResponse" message="tns:UsuarioVerificarResponse"/>
</operation>
<operation name="AutenticarUsuario">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/AutenticarUsuarioRequest" message="tns:AutenticarUsuario"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/AutenticarUsuarioResponse" message="tns:AutenticarUsuarioResponse"/>
<fault message="tns:ExecutionException" name="ExecutionException" wsam:Action="http://sw.silabo.dda/SilaboSW/AutenticarUsuario/Fault/ExecutionException"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://sw.silabo.dda/SilaboSW/AutenticarUsuario/Fault/UnsupportedEncodingException"/>
</operation>
<operation name="RolOpcionesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolOpcionesCargarRequest" message="tns:RolOpcionesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolOpcionesCargarResponse" message="tns:RolOpcionesCargarResponse"/>
</operation>
<operation name="RolesCargar">
<input wsam:Action="http://sw.silabo.dda/SilaboSW/RolesCargarRequest" message="tns:RolesCargar"/>
<output wsam:Action="http://sw.silabo.dda/SilaboSW/RolesCargarResponse" message="tns:RolesCargarResponse"/>
</operation>
</portType>
<binding name="SilaboSWPortBinding" type="tns:SilaboSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RolesOpcionesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenarioHabilitarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadInformacionSilabo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolEntidadesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuariosCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadesAcademicasInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadHabilitarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolUsuariosGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conexionRedis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuariosGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumUnidadesSilaboCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TemaEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LogoEntidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EntidadTrabajoRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReporteOpcionesUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursoHabilitarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioRolesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PeriodoActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LogroCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SilaboImportacionIdSilabo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolHabilitar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SilaboIdCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumUnidadesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObservacionesSeccionesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolesGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosDocentesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BibliografiasEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CalificacionesGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReporteUnidadesAcademicasUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosDocenteActualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SilaboEstadoCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignaturaCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MenuSilaboCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AutoridadesSilaboCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiasCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ParametrosCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObjetivoCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioRolesGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObjetivoGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SubtemaEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosGeneralesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesAprendizajeCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesAprendizajeGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conexionBase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadInformacionGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unidadesAcademicasUsuarioCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OpcionesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SilaboGenerarPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OpcionHabilitar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActividadesEliminarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EscenariosGuardarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioNuevoAgregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuariosEditar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EvaluacionesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LogroGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolUsuariosCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolUsuariosNivelInferiorCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subirArchivos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OpcionesGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BibliografiasGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OpcionEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignaturasPeriodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioEstadoActualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignaturasCarreraUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SilaboImportacionGenerar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReporteEstadoSilabos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ParametroSilaboCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SilaboEstadoVerificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ParametrosGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstrategiaHabilitarAdm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadInformacionGuardarReestablecer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecursosCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocenteInformacionCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadInformacionCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BibliografiasCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosDocentesInicioCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObservacionesSilaboCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="servicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReporteCampoFormacionDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReporteCriteriosEntidadUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadesAcademicasAsignaturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EstructuraCurricularSilaboID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolOpcionesGuardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioVerificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AutenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExecutionException">
<soap:fault name="ExecutionException" use="literal"/>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
</operation>
<operation name="RolOpcionesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolesCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SilaboSW">
<port name="SilaboSWPort" binding="tns:SilaboSWPortBinding">
<soap:address location="http://pruebas.espoch.edu.ec:8080/SistemaSilaboAD/SilaboSW"/>
</port>
</service>
</definitions>