WSUnidos/web/WEB-INF/wsdl/localhost_8080/wsEspochInfoGeneral/wsInfoGeneral.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://misServiciosInfoGeneral/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://misServiciosInfoGeneral/" name="wsInfoGeneral">
<types>
<xsd:schema>
<xsd:import namespace="http://misServiciosInfoGeneral/" schemaLocation="http://localhost:8080/wsEspochInfoGeneral/wsInfoGeneral?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/wsEspochInfoGeneral/wsInfoGeneral?xsd=2"/>
</xsd:schema>
</types>
<message name="getCiudades">
<part name="parameters" element="tns:getCiudades"/>
</message>
<message name="getCiudadesResponse">
<part name="parameters" element="tns:getCiudadesResponse"/>
</message>
<message name="getTodasCarreras">
<part name="parameters" element="tns:getTodasCarreras"/>
</message>
<message name="getTodasCarrerasResponse">
<part name="parameters" element="tns:getTodasCarrerasResponse"/>
</message>
<message name="getEscuelaEntidad">
<part name="parameters" element="tns:getEscuelaEntidad"/>
</message>
<message name="getEscuelaEntidadResponse">
<part name="parameters" element="tns:getEscuelaEntidadResponse"/>
</message>
<message name="getTodasEscuelas">
<part name="parameters" element="tns:getTodasEscuelas"/>
</message>
<message name="getTodasEscuelasResponse">
<part name="parameters" element="tns:getTodasEscuelasResponse"/>
</message>
<message name="getPaises">
<part name="parameters" element="tns:getPaises"/>
</message>
<message name="getPaisesResponse">
<part name="parameters" element="tns:getPaisesResponse"/>
</message>
<message name="getPeriodoActual">
<part name="parameters" element="tns:getPeriodoActual"/>
</message>
<message name="getPeriodoActualResponse">
<part name="parameters" element="tns:getPeriodoActualResponse"/>
</message>
<message name="getProvincias">
<part name="parameters" element="tns:getProvincias"/>
</message>
<message name="getProvinciasResponse">
<part name="parameters" element="tns:getProvinciasResponse"/>
</message>
<message name="getTiposInstituciones">
<part name="parameters" element="tns:getTiposInstituciones"/>
</message>
<message name="getTiposInstitucionesResponse">
<part name="parameters" element="tns:getTiposInstitucionesResponse"/>
</message>
<message name="getTodasCarrerasTotales">
<part name="parameters" element="tns:getTodasCarrerasTotales"/>
</message>
<message name="getTodasCarrerasTotalesResponse">
<part name="parameters" element="tns:getTodasCarrerasTotalesResponse"/>
</message>
<message name="getTodasEscuelasTotales">
<part name="parameters" element="tns:getTodasEscuelasTotales"/>
</message>
<message name="getTodasEscuelasTotalesResponse">
<part name="parameters" element="tns:getTodasEscuelasTotalesResponse"/>
</message>
<message name="getFacultadesTotales">
<part name="parameters" element="tns:getFacultadesTotales"/>
</message>
<message name="getFacultadesTotalesResponse">
<part name="parameters" element="tns:getFacultadesTotalesResponse"/>
</message>
<message name="getPeriodosAcademicos">
<part name="parameters" element="tns:getPeriodosAcademicos"/>
</message>
<message name="getPeriodosAcademicosResponse">
<part name="parameters" element="tns:getPeriodosAcademicosResponse"/>
</message>
<message name="getCarrerasAbiertas">
<part name="parameters" element="tns:getCarrerasAbiertas"/>
</message>
<message name="getCarrerasAbiertasResponse">
<part name="parameters" element="tns:getCarrerasAbiertasResponse"/>
</message>
<message name="getTodasFacultades">
<part name="parameters" element="tns:getTodasFacultades"/>
</message>
<message name="getTodasFacultadesResponse">
<part name="parameters" element="tns:getTodasFacultadesResponse"/>
</message>
<message name="getInstitucionEstudiante">
<part name="parameters" element="tns:getInstitucionEstudiante"/>
</message>
<message name="getInstitucionEstudianteResponse">
<part name="parameters" element="tns:getInstitucionEstudianteResponse"/>
</message>
<portType name="wsInfoGeneral">
<operation name="getCiudades">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getCiudadesRequest" message="tns:getCiudades"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getCiudadesResponse" message="tns:getCiudadesResponse"/>
</operation>
<operation name="getTodasCarreras">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasCarrerasRequest" message="tns:getTodasCarreras"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasCarrerasResponse" message="tns:getTodasCarrerasResponse"/>
</operation>
<operation name="getEscuelaEntidad">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getEscuelaEntidadRequest" message="tns:getEscuelaEntidad"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getEscuelaEntidadResponse" message="tns:getEscuelaEntidadResponse"/>
</operation>
<operation name="getTodasEscuelas">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasEscuelasRequest" message="tns:getTodasEscuelas"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasEscuelasResponse" message="tns:getTodasEscuelasResponse"/>
</operation>
<operation name="getPaises">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getPaisesRequest" message="tns:getPaises"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getPaisesResponse" message="tns:getPaisesResponse"/>
</operation>
<operation name="getPeriodoActual">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getPeriodoActualRequest" message="tns:getPeriodoActual"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getPeriodoActualResponse" message="tns:getPeriodoActualResponse"/>
</operation>
<operation name="getProvincias">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getProvinciasRequest" message="tns:getProvincias"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getProvinciasResponse" message="tns:getProvinciasResponse"/>
</operation>
<operation name="getTiposInstituciones">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTiposInstitucionesRequest" message="tns:getTiposInstituciones"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTiposInstitucionesResponse" message="tns:getTiposInstitucionesResponse"/>
</operation>
<operation name="getTodasCarrerasTotales">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasCarrerasTotalesRequest" message="tns:getTodasCarrerasTotales"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasCarrerasTotalesResponse" message="tns:getTodasCarrerasTotalesResponse"/>
</operation>
<operation name="getTodasEscuelasTotales">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasEscuelasTotalesRequest" message="tns:getTodasEscuelasTotales"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasEscuelasTotalesResponse" message="tns:getTodasEscuelasTotalesResponse"/>
</operation>
<operation name="getFacultadesTotales">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getFacultadesTotalesRequest" message="tns:getFacultadesTotales"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getFacultadesTotalesResponse" message="tns:getFacultadesTotalesResponse"/>
</operation>
<operation name="getPeriodosAcademicos">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getPeriodosAcademicosRequest" message="tns:getPeriodosAcademicos"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getPeriodosAcademicosResponse" message="tns:getPeriodosAcademicosResponse"/>
</operation>
<operation name="getCarrerasAbiertas">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getCarrerasAbiertasRequest" message="tns:getCarrerasAbiertas"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getCarrerasAbiertasResponse" message="tns:getCarrerasAbiertasResponse"/>
</operation>
<operation name="getTodasFacultades">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasFacultadesRequest" message="tns:getTodasFacultades"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getTodasFacultadesResponse" message="tns:getTodasFacultadesResponse"/>
</operation>
<operation name="getInstitucionEstudiante">
<input wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getInstitucionEstudianteRequest" message="tns:getInstitucionEstudiante"/>
<output wsam:Action="http://misServiciosInfoGeneral/wsInfoGeneral/getInstitucionEstudianteResponse" message="tns:getInstitucionEstudianteResponse"/>
</operation>
</portType>
<binding name="wsInfoGeneralPortBinding" type="tns:wsInfoGeneral">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCiudades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasCarreras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEscuelaEntidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasEscuelas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPaises">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPeriodoActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProvincias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTiposInstituciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasCarrerasTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasEscuelasTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacultadesTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPeriodosAcademicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCarrerasAbiertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasFacultades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInstitucionEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsInfoGeneral">
<port name="wsInfoGeneralPort" binding="tns:wsInfoGeneralPortBinding">
<soap:address location="http://localhost:8080/wsEspochInfoGeneral/wsInfoGeneral"/>
</port>
</service>
</definitions>