WSUnidos/web/WEB-INF/wsdl/localhost_8080/wsEspochSeguridad/wsEspochSeguridad.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://misServiciosEspochSeguridad/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://misServiciosEspochSeguridad/" name="wsEspochSeguridad">
<types>
<xsd:schema>
<xsd:import namespace="http://misServiciosEspochSeguridad/" schemaLocation="http://localhost:8080/wsEspochSeguridad/wsEspochSeguridad?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/wsEspochSeguridad/wsEspochSeguridad?xsd=2"/>
</xsd:schema>
</types>
<message name="autenticarUsuarioCarrera">
<part name="parameters" element="tns:autenticarUsuarioCarrera"/>
</message>
<message name="autenticarUsuarioCarreraResponse">
<part name="parameters" element="tns:autenticarUsuarioCarreraResponse"/>
</message>
<message name="getUsuarioFacultad">
<part name="parameters" element="tns:getUsuarioFacultad"/>
</message>
<message name="getUsuarioFacultadResponse">
<part name="parameters" element="tns:getUsuarioFacultadResponse"/>
</message>
<message name="getRolUsuarioCarrera">
<part name="parameters" element="tns:getRolUsuarioCarrera"/>
</message>
<message name="getRolUsuarioCarreraResponse">
<part name="parameters" element="tns:getRolUsuarioCarreraResponse"/>
</message>
<portType name="wsEspochSeguridad">
<operation name="autenticarUsuarioCarrera">
<input wsam:Action="http://misServiciosEspochSeguridad/wsEspochSeguridad/autenticarUsuarioCarreraRequest" message="tns:autenticarUsuarioCarrera"/>
<output wsam:Action="http://misServiciosEspochSeguridad/wsEspochSeguridad/autenticarUsuarioCarreraResponse" message="tns:autenticarUsuarioCarreraResponse"/>
</operation>
<operation name="getUsuarioFacultad">
<input wsam:Action="http://misServiciosEspochSeguridad/wsEspochSeguridad/getUsuarioFacultadRequest" message="tns:getUsuarioFacultad"/>
<output wsam:Action="http://misServiciosEspochSeguridad/wsEspochSeguridad/getUsuarioFacultadResponse" message="tns:getUsuarioFacultadResponse"/>
</operation>
<operation name="getRolUsuarioCarrera">
<input wsam:Action="http://misServiciosEspochSeguridad/wsEspochSeguridad/getRolUsuarioCarreraRequest" message="tns:getRolUsuarioCarrera"/>
<output wsam:Action="http://misServiciosEspochSeguridad/wsEspochSeguridad/getRolUsuarioCarreraResponse" message="tns:getRolUsuarioCarreraResponse"/>
</operation>
</portType>
<binding name="wsEspochSeguridadPortBinding" type="tns:wsEspochSeguridad">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="autenticarUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRolUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsEspochSeguridad">
<port name="wsEspochSeguridadPort" binding="tns:wsEspochSeguridadPortBinding">
<soap:address location="http://localhost:8080/wsEspochSeguridad/wsEspochSeguridad"/>
</port>
</service>
</definitions>