SilaboAD/web/WEB-INF/wsdl/localhost_8080/WSUnidos/WSBDatosAnalitico.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://locales.ServiciosWeb.pa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://locales.ServiciosWeb.pa/" name="WSBDatosAnalitico">
<types>
<xsd:schema>
<xsd:import namespace="http://locales.ServiciosWeb.pa/" schemaLocation="http://localhost:8080/WSUnidos/WSBDatosAnalitico?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/WSUnidos/WSBDatosAnalitico?xsd=2"/>
</xsd:schema>
</types>
<message name="autenticarUsuarioCarrera">
<part name="parameters" element="tns:autenticarUsuarioCarrera"/>
</message>
<message name="autenticarUsuarioCarreraResponse">
<part name="parameters" element="tns:autenticarUsuarioCarreraResponse"/>
</message>
<message name="getRolUsuarioCarrera">
<part name="parameters" element="tns:getRolUsuarioCarrera"/>
</message>
<message name="getRolUsuarioCarreraResponse">
<part name="parameters" element="tns:getRolUsuarioCarreraResponse"/>
</message>
<message name="getDatosMateria">
<part name="parameters" element="tns:getDatosMateria"/>
</message>
<message name="getDatosMateriaResponse">
<part name="parameters" element="tns:getDatosMateriaResponse"/>
</message>
<message name="lPADictadosMateria">
<part name="parameters" element="tns:lPADictadosMateria"/>
</message>
<message name="lPADictadosMateriaResponse">
<part name="parameters" element="tns:lPADictadosMateriaResponse"/>
</message>
<message name="lPADatosGenerales">
<part name="parameters" element="tns:lPADatosGenerales"/>
</message>
<message name="lPADatosGeneralesResponse">
<part name="parameters" element="tns:lPADatosGeneralesResponse"/>
</message>
<message name="getUnidadesAsignaturas">
<part name="parameters" element="tns:getUnidadesAsignaturas"/>
</message>
<message name="getUnidadesAsignaturasResponse">
<part name="parameters" element="tns:getUnidadesAsignaturasResponse"/>
</message>
<message name="arbolCampoFormacion">
<part name="parameters" element="tns:arbolCampoFormacion"/>
</message>
<message name="arbolCampoFormacionResponse">
<part name="parameters" element="tns:arbolCampoFormacionResponse"/>
</message>
<message name="CamposFormacionCarrera">
<part name="parameters" element="tns:CamposFormacionCarrera"/>
</message>
<message name="CamposFormacionCarreraResponse">
<part name="parameters" element="tns:CamposFormacionCarreraResponse"/>
</message>
<message name="AsignaturasCarrera">
<part name="parameters" element="tns:AsignaturasCarrera"/>
</message>
<message name="AsignaturasCarreraResponse">
<part name="parameters" element="tns:AsignaturasCarreraResponse"/>
</message>
<message name="UnidadesAcademicasCargar">
<part name="parameters" element="tns:UnidadesAcademicasCargar"/>
</message>
<message name="UnidadesAcademicasCargarResponse">
<part name="parameters" element="tns:UnidadesAcademicasCargarResponse"/>
</message>
<message name="getMallaCurricularPensumVigenteSinDescripcion">
<part name="parameters" element="tns:getMallaCurricularPensumVigenteSinDescripcion"/>
</message>
<message name="getMallaCurricularPensumVigenteSinDescripcionResponse">
<part name="parameters" element="tns:getMallaCurricularPensumVigenteSinDescripcionResponse"/>
</message>
<message name="getTodasCarreras">
<part name="parameters" element="tns:getTodasCarreras"/>
</message>
<message name="getTodasCarrerasResponse">
<part name="parameters" element="tns:getTodasCarrerasResponse"/>
</message>
<message name="getTodasEscuelas">
<part name="parameters" element="tns:getTodasEscuelas"/>
</message>
<message name="getTodasEscuelasResponse">
<part name="parameters" element="tns:getTodasEscuelasResponse"/>
</message>
<message name="Facultades">
<part name="parameters" element="tns:Facultades"/>
</message>
<message name="FacultadesResponse">
<part name="parameters" element="tns:FacultadesResponse"/>
</message>
<message name="lPADatosMateria">
<part name="parameters" element="tns:lPADatosMateria"/>
</message>
<message name="lPADatosMateriaResponse">
<part name="parameters" element="tns:lPADatosMateriaResponse"/>
</message>
<message name="lPAPeriodoActual">
<part name="parameters" element="tns:lPAPeriodoActual"/>
</message>
<message name="lPAPeriodoActualResponse">
<part name="parameters" element="tns:lPAPeriodoActualResponse"/>
</message>
<message name="Escuelas">
<part name="parameters" element="tns:Escuelas"/>
</message>
<message name="EscuelasResponse">
<part name="parameters" element="tns:EscuelasResponse"/>
</message>
<message name="redisFlushAll">
<part name="parameters" element="tns:redisFlushAll"/>
</message>
<message name="redisFlushAllResponse">
<part name="parameters" element="tns:redisFlushAllResponse"/>
</message>
<message name="DocentesEscuela">
<part name="parameters" element="tns:DocentesEscuela"/>
</message>
<message name="DocentesEscuelaResponse">
<part name="parameters" element="tns:DocentesEscuelaResponse"/>
</message>
<message name="arbolFacultad">
<part name="parameters" element="tns:arbolFacultad"/>
</message>
<message name="arbolFacultadResponse">
<part name="parameters" element="tns:arbolFacultadResponse"/>
</message>
<message name="arbolEscuela">
<part name="parameters" element="tns:arbolEscuela"/>
</message>
<message name="arbolEscuelaResponse">
<part name="parameters" element="tns:arbolEscuelaResponse"/>
</message>
<message name="arbolCarrera">
<part name="parameters" element="tns:arbolCarrera"/>
</message>
<message name="arbolCarreraResponse">
<part name="parameters" element="tns:arbolCarreraResponse"/>
</message>
<message name="Carreras">
<part name="parameters" element="tns:Carreras"/>
</message>
<message name="CarrerasResponse">
<part name="parameters" element="tns:CarrerasResponse"/>
</message>
<message name="DocentesCarrera">
<part name="parameters" element="tns:DocentesCarrera"/>
</message>
<message name="DocentesCarreraResponse">
<part name="parameters" element="tns:DocentesCarreraResponse"/>
</message>
<message name="DocentesFacultad">
<part name="parameters" element="tns:DocentesFacultad"/>
</message>
<message name="DocentesFacultadResponse">
<part name="parameters" element="tns:DocentesFacultadResponse"/>
</message>
<message name="getPeriodosAcademicos">
<part name="parameters" element="tns:getPeriodosAcademicos"/>
</message>
<message name="getPeriodosAcademicosResponse">
<part name="parameters" element="tns:getPeriodosAcademicosResponse"/>
</message>
<message name="getEscuelaEntidad">
<part name="parameters" element="tns:getEscuelaEntidad"/>
</message>
<message name="getEscuelaEntidadResponse">
<part name="parameters" element="tns:getEscuelaEntidadResponse"/>
</message>
<message name="getFacultadesTotales">
<part name="parameters" element="tns:getFacultadesTotales"/>
</message>
<message name="getFacultadesTotalesResponse">
<part name="parameters" element="tns:getFacultadesTotalesResponse"/>
</message>
<message name="getTodasFacultades">
<part name="parameters" element="tns:getTodasFacultades"/>
</message>
<message name="getTodasFacultadesResponse">
<part name="parameters" element="tns:getTodasFacultadesResponse"/>
</message>
<message name="getMallaCurricularPensumVigente">
<part name="parameters" element="tns:getMallaCurricularPensumVigente"/>
</message>
<message name="getMallaCurricularPensumVigenteResponse">
<part name="parameters" element="tns:getMallaCurricularPensumVigenteResponse"/>
</message>
<message name="getMateriasEstudiante">
<part name="parameters" element="tns:getMateriasEstudiante"/>
</message>
<message name="getMateriasEstudianteResponse">
<part name="parameters" element="tns:getMateriasEstudianteResponse"/>
</message>
<message name="getDatosUsuarioCarrera">
<part name="parameters" element="tns:getDatosUsuarioCarrera"/>
</message>
<message name="getDatosUsuarioCarreraResponse">
<part name="parameters" element="tns:getDatosUsuarioCarreraResponse"/>
</message>
<message name="lPAgetMateriasDocente">
<part name="parameters" element="tns:lPAgetMateriasDocente"/>
</message>
<message name="lPAgetMateriasDocenteResponse">
<part name="parameters" element="tns:lPAgetMateriasDocenteResponse"/>
</message>
<message name="getParametrosCarreraTotal">
<part name="parameters" element="tns:getParametrosCarreraTotal"/>
</message>
<message name="getParametrosCarreraTotalResponse">
<part name="parameters" element="tns:getParametrosCarreraTotalResponse"/>
</message>
<message name="getParametrosCarrera">
<part name="parameters" element="tns:getParametrosCarrera"/>
</message>
<message name="getParametrosCarreraResponse">
<part name="parameters" element="tns:getParametrosCarreraResponse"/>
</message>
<portType name="WSBDatosAnalitico">
<operation name="autenticarUsuarioCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/autenticarUsuarioCarreraRequest" message="tns:autenticarUsuarioCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/autenticarUsuarioCarreraResponse" message="tns:autenticarUsuarioCarreraResponse"/>
</operation>
<operation name="getRolUsuarioCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getRolUsuarioCarreraRequest" message="tns:getRolUsuarioCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getRolUsuarioCarreraResponse" message="tns:getRolUsuarioCarreraResponse"/>
</operation>
<operation name="getDatosMateria">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getDatosMateriaRequest" message="tns:getDatosMateria"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getDatosMateriaResponse" message="tns:getDatosMateriaResponse"/>
</operation>
<operation name="lPADictadosMateria">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADictadosMateriaRequest" message="tns:lPADictadosMateria"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADictadosMateriaResponse" message="tns:lPADictadosMateriaResponse"/>
</operation>
<operation name="lPADatosGenerales">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosGeneralesRequest" message="tns:lPADatosGenerales"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosGeneralesResponse" message="tns:lPADatosGeneralesResponse"/>
</operation>
<operation name="getUnidadesAsignaturas">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getUnidadesAsignaturasRequest" message="tns:getUnidadesAsignaturas"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getUnidadesAsignaturasResponse" message="tns:getUnidadesAsignaturasResponse"/>
</operation>
<operation name="arbolCampoFormacion">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/arbolCampoFormacionRequest" message="tns:arbolCampoFormacion"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/arbolCampoFormacionResponse" message="tns:arbolCampoFormacionResponse"/>
</operation>
<operation name="CamposFormacionCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/CamposFormacionCarreraRequest" message="tns:CamposFormacionCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/CamposFormacionCarreraResponse" message="tns:CamposFormacionCarreraResponse"/>
</operation>
<operation name="AsignaturasCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/AsignaturasCarreraRequest" message="tns:AsignaturasCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/AsignaturasCarreraResponse" message="tns:AsignaturasCarreraResponse"/>
</operation>
<operation name="UnidadesAcademicasCargar">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/UnidadesAcademicasCargarRequest" message="tns:UnidadesAcademicasCargar"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/UnidadesAcademicasCargarResponse" message="tns:UnidadesAcademicasCargarResponse"/>
</operation>
<operation name="getMallaCurricularPensumVigenteSinDescripcion">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getMallaCurricularPensumVigenteSinDescripcionRequest" message="tns:getMallaCurricularPensumVigenteSinDescripcion"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getMallaCurricularPensumVigenteSinDescripcionResponse" message="tns:getMallaCurricularPensumVigenteSinDescripcionResponse"/>
</operation>
<operation name="getTodasCarreras">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getTodasCarrerasRequest" message="tns:getTodasCarreras"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getTodasCarrerasResponse" message="tns:getTodasCarrerasResponse"/>
</operation>
<operation name="getTodasEscuelas">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getTodasEscuelasRequest" message="tns:getTodasEscuelas"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getTodasEscuelasResponse" message="tns:getTodasEscuelasResponse"/>
</operation>
<operation name="Facultades">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/FacultadesRequest" message="tns:Facultades"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/FacultadesResponse" message="tns:FacultadesResponse"/>
</operation>
<operation name="lPADatosMateria">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosMateriaRequest" message="tns:lPADatosMateria"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPADatosMateriaResponse" message="tns:lPADatosMateriaResponse"/>
</operation>
<operation name="lPAPeriodoActual">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAPeriodoActualRequest" message="tns:lPAPeriodoActual"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAPeriodoActualResponse" message="tns:lPAPeriodoActualResponse"/>
</operation>
<operation name="Escuelas">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/EscuelasRequest" message="tns:Escuelas"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/EscuelasResponse" message="tns:EscuelasResponse"/>
</operation>
<operation name="redisFlushAll">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/redisFlushAllRequest" message="tns:redisFlushAll"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/redisFlushAllResponse" message="tns:redisFlushAllResponse"/>
</operation>
<operation name="DocentesEscuela">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DocentesEscuelaRequest" message="tns:DocentesEscuela"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DocentesEscuelaResponse" message="tns:DocentesEscuelaResponse"/>
</operation>
<operation name="arbolFacultad">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/arbolFacultadRequest" message="tns:arbolFacultad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/arbolFacultadResponse" message="tns:arbolFacultadResponse"/>
</operation>
<operation name="arbolEscuela">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/arbolEscuelaRequest" message="tns:arbolEscuela"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/arbolEscuelaResponse" message="tns:arbolEscuelaResponse"/>
</operation>
<operation name="arbolCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/arbolCarreraRequest" message="tns:arbolCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/arbolCarreraResponse" message="tns:arbolCarreraResponse"/>
</operation>
<operation name="Carreras">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/CarrerasRequest" message="tns:Carreras"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/CarrerasResponse" message="tns:CarrerasResponse"/>
</operation>
<operation name="DocentesCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DocentesCarreraRequest" message="tns:DocentesCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DocentesCarreraResponse" message="tns:DocentesCarreraResponse"/>
</operation>
<operation name="DocentesFacultad">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DocentesFacultadRequest" message="tns:DocentesFacultad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/DocentesFacultadResponse" message="tns:DocentesFacultadResponse"/>
</operation>
<operation name="getPeriodosAcademicos">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getPeriodosAcademicosRequest" message="tns:getPeriodosAcademicos"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getPeriodosAcademicosResponse" message="tns:getPeriodosAcademicosResponse"/>
</operation>
<operation name="getEscuelaEntidad">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getEscuelaEntidadRequest" message="tns:getEscuelaEntidad"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getEscuelaEntidadResponse" message="tns:getEscuelaEntidadResponse"/>
</operation>
<operation name="getFacultadesTotales">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getFacultadesTotalesRequest" message="tns:getFacultadesTotales"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getFacultadesTotalesResponse" message="tns:getFacultadesTotalesResponse"/>
</operation>
<operation name="getTodasFacultades">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getTodasFacultadesRequest" message="tns:getTodasFacultades"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getTodasFacultadesResponse" message="tns:getTodasFacultadesResponse"/>
</operation>
<operation name="getMallaCurricularPensumVigente">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getMallaCurricularPensumVigenteRequest" message="tns:getMallaCurricularPensumVigente"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getMallaCurricularPensumVigenteResponse" message="tns:getMallaCurricularPensumVigenteResponse"/>
</operation>
<operation name="getMateriasEstudiante">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getMateriasEstudianteRequest" message="tns:getMateriasEstudiante"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getMateriasEstudianteResponse" message="tns:getMateriasEstudianteResponse"/>
</operation>
<operation name="getDatosUsuarioCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getDatosUsuarioCarreraRequest" message="tns:getDatosUsuarioCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getDatosUsuarioCarreraResponse" message="tns:getDatosUsuarioCarreraResponse"/>
</operation>
<operation name="lPAgetMateriasDocente">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAgetMateriasDocenteRequest" message="tns:lPAgetMateriasDocente"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/lPAgetMateriasDocenteResponse" message="tns:lPAgetMateriasDocenteResponse"/>
</operation>
<operation name="getParametrosCarreraTotal">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getParametrosCarreraTotalRequest" message="tns:getParametrosCarreraTotal"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getParametrosCarreraTotalResponse" message="tns:getParametrosCarreraTotalResponse"/>
</operation>
<operation name="getParametrosCarrera">
<input wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getParametrosCarreraRequest" message="tns:getParametrosCarrera"/>
<output wsam:Action="http://locales.ServiciosWeb.pa/WSBDatosAnalitico/getParametrosCarreraResponse" message="tns:getParametrosCarreraResponse"/>
</operation>
</portType>
<binding name="WSBDatosAnaliticoPortBinding" type="tns:WSBDatosAnalitico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="autenticarUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRolUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADictadosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADatosGenerales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUnidadesAsignaturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="arbolCampoFormacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CamposFormacionCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignaturasCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnidadesAcademicasCargar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMallaCurricularPensumVigenteSinDescripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasCarreras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasEscuelas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Facultades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADatosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAPeriodoActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Escuelas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="redisFlushAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesEscuela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="arbolFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="arbolEscuela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="arbolCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Carreras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocentesFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPeriodosAcademicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEscuelaEntidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacultadesTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasFacultades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMallaCurricularPensumVigente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAgetMateriasDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametrosCarreraTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametrosCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBDatosAnalitico">
<port name="WSBDatosAnaliticoPort" binding="tns:WSBDatosAnaliticoPortBinding">
<soap:address location="http://localhost:8080/WSUnidos/WSBDatosAnalitico"/>
</port>
</service>
</definitions>