SilaboAD/web/WEB-INF/wsdl/localhost_8080/WSUnidos/WSBDatosAnalitico.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://locales.ServiciosWeb.pa/" xmlns:ns1="http://academico.espoch.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://locales.ServiciosWeb.pa/">

<xs:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/WSUnidos/WSBDatosAnalitico?xsd=2"/>

<xs:element name="AsignaturasCarrera" type="tns:AsignaturasCarrera"/>

<xs:element name="AsignaturasCarreraResponse" type="tns:AsignaturasCarreraResponse"/>

<xs:element name="CamposFormacionCarrera" type="tns:CamposFormacionCarrera"/>

<xs:element name="CamposFormacionCarreraResponse" type="tns:CamposFormacionCarreraResponse"/>

<xs:element name="Carreras" type="tns:Carreras"/>

<xs:element name="CarrerasResponse" type="tns:CarrerasResponse"/>

<xs:element name="DocentesCarrera" type="tns:DocentesCarrera"/>

<xs:element name="DocentesCarreraResponse" type="tns:DocentesCarreraResponse"/>

<xs:element name="DocentesEscuela" type="tns:DocentesEscuela"/>

<xs:element name="DocentesEscuelaResponse" type="tns:DocentesEscuelaResponse"/>

<xs:element name="DocentesFacultad" type="tns:DocentesFacultad"/>

<xs:element name="DocentesFacultadResponse" type="tns:DocentesFacultadResponse"/>

<xs:element name="Escuelas" type="tns:Escuelas"/>

<xs:element name="EscuelasResponse" type="tns:EscuelasResponse"/>

<xs:element name="Facultades" type="tns:Facultades"/>

<xs:element name="FacultadesResponse" type="tns:FacultadesResponse"/>

<xs:element name="UnidadesAcademicasCargar" type="tns:UnidadesAcademicasCargar"/>

<xs:element name="UnidadesAcademicasCargarResponse" type="tns:UnidadesAcademicasCargarResponse"/>

<xs:element name="arbolCampoFormacion" type="tns:arbolCampoFormacion"/>

<xs:element name="arbolCampoFormacionResponse" type="tns:arbolCampoFormacionResponse"/>

<xs:element name="arbolCarrera" type="tns:arbolCarrera"/>

<xs:element name="arbolCarreraResponse" type="tns:arbolCarreraResponse"/>

<xs:element name="arbolEscuela" type="tns:arbolEscuela"/>

<xs:element name="arbolEscuelaResponse" type="tns:arbolEscuelaResponse"/>

<xs:element name="arbolFacultad" type="tns:arbolFacultad"/>

<xs:element name="arbolFacultadResponse" type="tns:arbolFacultadResponse"/>

<xs:element name="autenticarUsuarioCarrera" type="tns:autenticarUsuarioCarrera"/>

<xs:element name="autenticarUsuarioCarreraResponse" type="tns:autenticarUsuarioCarreraResponse"/>

<xs:element name="getDatosMateria" type="tns:getDatosMateria"/>

<xs:element name="getDatosMateriaResponse" type="tns:getDatosMateriaResponse"/>

<xs:element name="getDatosUsuarioCarrera" type="tns:getDatosUsuarioCarrera"/>

<xs:element name="getDatosUsuarioCarreraResponse" type="tns:getDatosUsuarioCarreraResponse"/>

<xs:element name="getEscuelaEntidad" type="tns:getEscuelaEntidad"/>

<xs:element name="getEscuelaEntidadResponse" type="tns:getEscuelaEntidadResponse"/>

<xs:element name="getFacultadesTotales" type="tns:getFacultadesTotales"/>

<xs:element name="getFacultadesTotalesResponse" type="tns:getFacultadesTotalesResponse"/>

<xs:element name="getMallaCurricularPensumVigente" type="tns:getMallaCurricularPensumVigente"/>

<xs:element name="getMallaCurricularPensumVigenteResponse" type="tns:getMallaCurricularPensumVigenteResponse"/>

<xs:element name="getMallaCurricularPensumVigenteSinDescripcion" type="tns:getMallaCurricularPensumVigenteSinDescripcion"/>

<xs:element name="getMallaCurricularPensumVigenteSinDescripcionResponse" type="tns:getMallaCurricularPensumVigenteSinDescripcionResponse"/>

<xs:element name="getMateriasEstudiante" type="tns:getMateriasEstudiante"/>

<xs:element name="getMateriasEstudianteResponse" type="tns:getMateriasEstudianteResponse"/>

<xs:element name="getParametrosCarrera" type="tns:getParametrosCarrera"/>

<xs:element name="getParametrosCarreraResponse" type="tns:getParametrosCarreraResponse"/>

<xs:element name="getParametrosCarreraTotal" type="tns:getParametrosCarreraTotal"/>

<xs:element name="getParametrosCarreraTotalResponse" type="tns:getParametrosCarreraTotalResponse"/>

<xs:element name="getPeriodosAcademicos" type="tns:getPeriodosAcademicos"/>

<xs:element name="getPeriodosAcademicosResponse" type="tns:getPeriodosAcademicosResponse"/>

<xs:element name="getRolUsuarioCarrera" type="tns:getRolUsuarioCarrera"/>

<xs:element name="getRolUsuarioCarreraResponse" type="tns:getRolUsuarioCarreraResponse"/>

<xs:element name="getTodasCarreras" type="tns:getTodasCarreras"/>

<xs:element name="getTodasCarrerasResponse" type="tns:getTodasCarrerasResponse"/>

<xs:element name="getTodasEscuelas" type="tns:getTodasEscuelas"/>

<xs:element name="getTodasEscuelasResponse" type="tns:getTodasEscuelasResponse"/>

<xs:element name="getTodasFacultades" type="tns:getTodasFacultades"/>

<xs:element name="getTodasFacultadesResponse" type="tns:getTodasFacultadesResponse"/>

<xs:element name="getUnidadesAsignaturas" type="tns:getUnidadesAsignaturas"/>

<xs:element name="getUnidadesAsignaturasResponse" type="tns:getUnidadesAsignaturasResponse"/>

<xs:element name="lPADatosGenerales" type="tns:lPADatosGenerales"/>

<xs:element name="lPADatosGeneralesResponse" type="tns:lPADatosGeneralesResponse"/>

<xs:element name="lPADatosMateria" type="tns:lPADatosMateria"/>

<xs:element name="lPADatosMateriaResponse" type="tns:lPADatosMateriaResponse"/>

<xs:element name="lPADictadosMateria" type="tns:lPADictadosMateria"/>

<xs:element name="lPADictadosMateriaResponse" type="tns:lPADictadosMateriaResponse"/>

<xs:element name="lPAPeriodoActual" type="tns:lPAPeriodoActual"/>

<xs:element name="lPAPeriodoActualResponse" type="tns:lPAPeriodoActualResponse"/>

<xs:element name="lPAgetMateriasDocente" type="tns:lPAgetMateriasDocente"/>

<xs:element name="lPAgetMateriasDocenteResponse" type="tns:lPAgetMateriasDocenteResponse"/>

<xs:element name="redisFlushAll" type="tns:redisFlushAll"/>

<xs:element name="redisFlushAllResponse" type="tns:redisFlushAllResponse"/>

<xs:complexType name="getParametrosCarreraTotal">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParametrosCarreraTotalResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfParametro" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFacultadesTotales">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFacultadesTotalesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfFacultad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arbolCampoFormacion">
<xs:sequence>
<xs:element name="jsonCampo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arbolCampoFormacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTodasFacultades">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTodasFacultadesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfFacultad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTodasCarreras">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTodasCarrerasResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfUnidadAcademica" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Escuelas">
<xs:sequence>
<xs:element name="jsonEntidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EscuelasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Carreras">
<xs:sequence>
<xs:element name="jsonEntidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarrerasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAPeriodoActual">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lPAPeriodoActualResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Periodo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEscuelaEntidad">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEscuelaEntidadResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfEscuelaEntidad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADatosGenerales">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADatosGeneralesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfMateria_Pensum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignaturasCarrera">
<xs:sequence>
<xs:element name="jsonCarrera" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignaturasCarreraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DocentesEscuela">
<xs:sequence>
<xs:element name="jsonCarrera" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DocentesEscuelaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMateriasEstudiante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMateriasEstudianteResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfMateria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arbolCarrera">
<xs:sequence>
<xs:element name="jsonCarrera" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arbolCarreraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="redisFlushAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="redisFlushAllResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DocentesCarrera">
<xs:sequence>
<xs:element name="jsonCarrera" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DocentesCarreraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADictadosMateria">
<xs:sequence>
<xs:element name="codigoCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="codigoAsignatura" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADictadosMateriaResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfDictado_Materia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatosUsuarioCarrera">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatosUsuarioCarreraResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParametrosCarrera">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParametrosCarreraResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ParamCarrera" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatosMateria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatosMateriaResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Materia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DocentesFacultad">
<xs:sequence>
<xs:element name="jsonCarrera" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DocentesFacultadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnidadesAcademicasCargar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="UnidadesAcademicasCargarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUnidadesAsignaturas">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUnidadesAsignaturasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Facultades">
<xs:sequence>
<xs:element name="jsonEntidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FacultadesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADatosMateria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPADatosMateriaResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Materia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarUsuarioCarrera">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarUsuarioCarreraResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfRolCarrera" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arbolEscuela">
<xs:sequence>
<xs:element name="jsonEscuela" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arbolEscuelaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPeriodosAcademicos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPeriodosAcademicosResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfPeriodo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRolUsuarioCarrera">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRolUsuarioCarreraResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfRolCarrera" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMallaCurricularPensumVigenteSinDescripcion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMallaCurricularPensumVigenteSinDescripcionResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfMateria_Pensum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMallaCurricularPensumVigente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="ns1:ArrayOfMateria_Pensum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMallaCurricularPensumVigenteResponse">
<xs:sequence>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="ns1:ArrayOfMateria_Pensum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAgetMateriasDocente">
<xs:sequence>
<xs:element name="codigoCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="codPeriodo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lPAgetMateriasDocenteResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfMateria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CamposFormacionCarrera">
<xs:sequence>
<xs:element name="jsonCarrera" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CamposFormacionCarreraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arbolFacultad">
<xs:sequence>
<xs:element name="jsonFacultad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arbolFacultadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTodasEscuelas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTodasEscuelasResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ArrayOfEscuela" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>