Silabo/web/WEB-INF/wsdl/localhost_8080/analiticoAD/WSAnalitico.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pa/" name="WSAnalitico">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.pa/" schemaLocation="http://localhost:8080/analiticoAD/WSAnalitico?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/analiticoAD/WSAnalitico?xsd=2"/>
</xsd:schema>
</types>
<message name="lLoadUnidadesAcademicasDocente">
<part name="parameters" element="tns:lLoadUnidadesAcademicasDocente"/>
</message>
<message name="lLoadUnidadesAcademicasDocenteResponse">
<part name="parameters" element="tns:lLoadUnidadesAcademicasDocenteResponse"/>
</message>
<message name="lLoadUnidadesAcademicas">
<part name="parameters" element="tns:lLoadUnidadesAcademicas"/>
</message>
<message name="lLoadUnidadesAcademicasResponse">
<part name="parameters" element="tns:lLoadUnidadesAcademicasResponse"/>
</message>
<message name="lPADevolverRecursosTotales">
<part name="parameters" element="tns:lPADevolverRecursosTotales"/>
</message>
<message name="lPADevolverRecursosTotalesResponse">
<part name="parameters" element="tns:lPADevolverRecursosTotalesResponse"/>
</message>
<message name="lGuardarProcedimientos">
<part name="parameters" element="tns:lGuardarProcedimientos"/>
</message>
<message name="lGuardarProcedimientosResponse">
<part name="parameters" element="tns:lGuardarProcedimientosResponse"/>
</message>
<message name="lDevolverEscuelasFacultad">
<part name="parameters" element="tns:lDevolverEscuelasFacultad"/>
</message>
<message name="lDevolverEscuelasFacultadResponse">
<part name="parameters" element="tns:lDevolverEscuelasFacultadResponse"/>
</message>
<message name="lPADevolverPerfilDocente">
<part name="parameters" element="tns:lPADevolverPerfilDocente"/>
</message>
<message name="lPADevolverPerfilDocenteResponse">
<part name="parameters" element="tns:lPADevolverPerfilDocenteResponse"/>
</message>
<message name="lPADevolverRecursos">
<part name="parameters" element="tns:lPADevolverRecursos"/>
</message>
<message name="lPADevolverRecursosResponse">
<part name="parameters" element="tns:lPADevolverRecursosResponse"/>
</message>
<message name="lDevolverFacultades">
<part name="parameters" element="tns:lDevolverFacultades"/>
</message>
<message name="lDevolverFacultadesResponse">
<part name="parameters" element="tns:lDevolverFacultadesResponse"/>
</message>
<message name="lPADevolverDatosGenerales">
<part name="parameters" element="tns:lPADevolverDatosGenerales"/>
</message>
<message name="lPADevolverDatosGeneralesResponse">
<part name="parameters" element="tns:lPADevolverDatosGeneralesResponse"/>
</message>
<message name="lPADevolverContenidosAsHTML">
<part name="parameters" element="tns:lPADevolverContenidosAsHTML"/>
</message>
<message name="lPADevolverContenidosAsHTMLResponse">
<part name="parameters" element="tns:lPADevolverContenidosAsHTMLResponse"/>
</message>
<message name="lPAActualizarPerfilDocente">
<part name="parameters" element="tns:lPAActualizarPerfilDocente"/>
</message>
<message name="lPAActualizarPerfilDocenteResponse">
<part name="parameters" element="tns:lPAActualizarPerfilDocenteResponse"/>
</message>
<message name="lPAUpdateCaracterizacion">
<part name="parameters" element="tns:lPAUpdateCaracterizacion"/>
</message>
<message name="lPAUpdateCaracterizacionResponse">
<part name="parameters" element="tns:lPAUpdateCaracterizacionResponse"/>
</message>
<message name="lDevolverProcedimientosPA">
<part name="parameters" element="tns:lDevolverProcedimientosPA"/>
</message>
<message name="lDevolverProcedimientosPAResponse">
<part name="parameters" element="tns:lDevolverProcedimientosPAResponse"/>
</message>
<message name="lDevolverMetodologia">
<part name="parameters" element="tns:lDevolverMetodologia"/>
</message>
<message name="lDevolverMetodologiaResponse">
<part name="parameters" element="tns:lDevolverMetodologiaResponse"/>
</message>
<message name="lPADevolverRecursosTotalesAsHTML">
<part name="parameters" element="tns:lPADevolverRecursosTotalesAsHTML"/>
</message>
<message name="lPADevolverRecursosTotalesAsHTMLResponse">
<part name="parameters" element="tns:lPADevolverRecursosTotalesAsHTMLResponse"/>
</message>
<message name="lPAGuardarContenidos">
<part name="parameters" element="tns:lPAGuardarContenidos"/>
</message>
<message name="lPAGuardarContenidosResponse">
<part name="parameters" element="tns:lPAGuardarContenidosResponse"/>
</message>
<message name="lGuardarMetodologia">
<part name="parameters" element="tns:lGuardarMetodologia"/>
</message>
<message name="lGuardarMetodologiaResponse">
<part name="parameters" element="tns:lGuardarMetodologiaResponse"/>
</message>
<message name="lDevolverObservacion">
<part name="parameters" element="tns:lDevolverObservacion"/>
</message>
<message name="lDevolverObservacionResponse">
<part name="parameters" element="tns:lDevolverObservacionResponse"/>
</message>
<message name="lDevolverMenuProgramaAnalitico">
<part name="parameters" element="tns:lDevolverMenuProgramaAnalitico"/>
</message>
<message name="lDevolverMenuProgramaAnaliticoResponse">
<part name="parameters" element="tns:lDevolverMenuProgramaAnaliticoResponse"/>
</message>
<message name="lPAUpdateRecursos">
<part name="parameters" element="tns:lPAUpdateRecursos"/>
</message>
<message name="lPAUpdateRecursosResponse">
<part name="parameters" element="tns:lPAUpdateRecursosResponse"/>
</message>
<message name="lGuardarBibliografia">
<part name="parameters" element="tns:lGuardarBibliografia"/>
</message>
<message name="lGuardarBibliografiaResponse">
<part name="parameters" element="tns:lGuardarBibliografiaResponse"/>
</message>
<message name="lPADevolverPeriodoActual">
<part name="parameters" element="tns:lPADevolverPeriodoActual"/>
</message>
<message name="lPADevolverPeriodoActualResponse">
<part name="parameters" element="tns:lPADevolverPeriodoActualResponse"/>
</message>
<message name="lPADatosGenerales">
<part name="parameters" element="tns:lPADatosGenerales"/>
</message>
<message name="lPADatosGeneralesResponse">
<part name="parameters" element="tns:lPADatosGeneralesResponse"/>
</message>
<message name="lPAgetDictadosMateria">
<part name="parameters" element="tns:lPAgetDictadosMateria"/>
</message>
<message name="lPAgetDictadosMateriaResponse">
<part name="parameters" element="tns:lPAgetDictadosMateriaResponse"/>
</message>
<message name="lPADevolverContenidos">
<part name="parameters" element="tns:lPADevolverContenidos"/>
</message>
<message name="lPADevolverContenidosResponse">
<part name="parameters" element="tns:lPADevolverContenidosResponse"/>
</message>
<message name="lDevolverBibliografia">
<part name="parameters" element="tns:lDevolverBibliografia"/>
</message>
<message name="lDevolverBibliografiaResponse">
<part name="parameters" element="tns:lDevolverBibliografiaResponse"/>
</message>
<message name="lDevolverObjetivoPA">
<part name="parameters" element="tns:lDevolverObjetivoPA"/>
</message>
<message name="lDevolverObjetivoPAResponse">
<part name="parameters" element="tns:lDevolverObjetivoPAResponse"/>
</message>
<message name="lDevolverCaracterizacionPA">
<part name="parameters" element="tns:lDevolverCaracterizacionPA"/>
</message>
<message name="lDevolverCaracterizacionPAResponse">
<part name="parameters" element="tns:lDevolverCaracterizacionPAResponse"/>
</message>
<message name="lDevolverMenuProgramaAnaliticoGestion">
<part name="parameters" element="tns:lDevolverMenuProgramaAnaliticoGestion"/>
</message>
<message name="lDevolverMenuProgramaAnaliticoGestionResponse">
<part name="parameters" element="tns:lDevolverMenuProgramaAnaliticoGestionResponse"/>
</message>
<message name="lGuardarObjetivo">
<part name="parameters" element="tns:lGuardarObjetivo"/>
</message>
<message name="lGuardarObjetivoResponse">
<part name="parameters" element="tns:lGuardarObjetivoResponse"/>
</message>
<message name="lDevolverAyuda">
<part name="parameters" element="tns:lDevolverAyuda"/>
</message>
<message name="lDevolverAyudaResponse">
<part name="parameters" element="tns:lDevolverAyudaResponse"/>
</message>
<portType name="WSAnalitico">
<operation name="lLoadUnidadesAcademicasDocente">
<input wsam:Action="http://ws.pa/WSAnalitico/lLoadUnidadesAcademicasDocenteRequest" message="tns:lLoadUnidadesAcademicasDocente"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lLoadUnidadesAcademicasDocenteResponse" message="tns:lLoadUnidadesAcademicasDocenteResponse"/>
</operation>
<operation name="lLoadUnidadesAcademicas">
<input wsam:Action="http://ws.pa/WSAnalitico/lLoadUnidadesAcademicasRequest" message="tns:lLoadUnidadesAcademicas"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lLoadUnidadesAcademicasResponse" message="tns:lLoadUnidadesAcademicasResponse"/>
</operation>
<operation name="lPADevolverRecursosTotales">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADevolverRecursosTotalesRequest" message="tns:lPADevolverRecursosTotales"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADevolverRecursosTotalesResponse" message="tns:lPADevolverRecursosTotalesResponse"/>
</operation>
<operation name="lGuardarProcedimientos">
<input wsam:Action="http://ws.pa/WSAnalitico/lGuardarProcedimientosRequest" message="tns:lGuardarProcedimientos"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lGuardarProcedimientosResponse" message="tns:lGuardarProcedimientosResponse"/>
</operation>
<operation name="lDevolverEscuelasFacultad">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverEscuelasFacultadRequest" message="tns:lDevolverEscuelasFacultad"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverEscuelasFacultadResponse" message="tns:lDevolverEscuelasFacultadResponse"/>
</operation>
<operation name="lPADevolverPerfilDocente">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADevolverPerfilDocenteRequest" message="tns:lPADevolverPerfilDocente"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADevolverPerfilDocenteResponse" message="tns:lPADevolverPerfilDocenteResponse"/>
</operation>
<operation name="lPADevolverRecursos">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADevolverRecursosRequest" message="tns:lPADevolverRecursos"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADevolverRecursosResponse" message="tns:lPADevolverRecursosResponse"/>
</operation>
<operation name="lDevolverFacultades">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverFacultadesRequest" message="tns:lDevolverFacultades"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverFacultadesResponse" message="tns:lDevolverFacultadesResponse"/>
</operation>
<operation name="lPADevolverDatosGenerales">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADevolverDatosGeneralesRequest" message="tns:lPADevolverDatosGenerales"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADevolverDatosGeneralesResponse" message="tns:lPADevolverDatosGeneralesResponse"/>
</operation>
<operation name="lPADevolverContenidosAsHTML">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADevolverContenidosAsHTMLRequest" message="tns:lPADevolverContenidosAsHTML"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADevolverContenidosAsHTMLResponse" message="tns:lPADevolverContenidosAsHTMLResponse"/>
</operation>
<operation name="lPAActualizarPerfilDocente">
<input wsam:Action="http://ws.pa/WSAnalitico/lPAActualizarPerfilDocenteRequest" message="tns:lPAActualizarPerfilDocente"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPAActualizarPerfilDocenteResponse" message="tns:lPAActualizarPerfilDocenteResponse"/>
</operation>
<operation name="lPAUpdateCaracterizacion">
<input wsam:Action="http://ws.pa/WSAnalitico/lPAUpdateCaracterizacionRequest" message="tns:lPAUpdateCaracterizacion"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPAUpdateCaracterizacionResponse" message="tns:lPAUpdateCaracterizacionResponse"/>
</operation>
<operation name="lDevolverProcedimientosPA">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverProcedimientosPARequest" message="tns:lDevolverProcedimientosPA"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverProcedimientosPAResponse" message="tns:lDevolverProcedimientosPAResponse"/>
</operation>
<operation name="lDevolverMetodologia">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverMetodologiaRequest" message="tns:lDevolverMetodologia"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverMetodologiaResponse" message="tns:lDevolverMetodologiaResponse"/>
</operation>
<operation name="lPADevolverRecursosTotalesAsHTML">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADevolverRecursosTotalesAsHTMLRequest" message="tns:lPADevolverRecursosTotalesAsHTML"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADevolverRecursosTotalesAsHTMLResponse" message="tns:lPADevolverRecursosTotalesAsHTMLResponse"/>
</operation>
<operation name="lPAGuardarContenidos">
<input wsam:Action="http://ws.pa/WSAnalitico/lPAGuardarContenidosRequest" message="tns:lPAGuardarContenidos"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPAGuardarContenidosResponse" message="tns:lPAGuardarContenidosResponse"/>
</operation>
<operation name="lGuardarMetodologia">
<input wsam:Action="http://ws.pa/WSAnalitico/lGuardarMetodologiaRequest" message="tns:lGuardarMetodologia"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lGuardarMetodologiaResponse" message="tns:lGuardarMetodologiaResponse"/>
</operation>
<operation name="lDevolverObservacion">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverObservacionRequest" message="tns:lDevolverObservacion"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverObservacionResponse" message="tns:lDevolverObservacionResponse"/>
</operation>
<operation name="lDevolverMenuProgramaAnalitico">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverMenuProgramaAnaliticoRequest" message="tns:lDevolverMenuProgramaAnalitico"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverMenuProgramaAnaliticoResponse" message="tns:lDevolverMenuProgramaAnaliticoResponse"/>
</operation>
<operation name="lPAUpdateRecursos">
<input wsam:Action="http://ws.pa/WSAnalitico/lPAUpdateRecursosRequest" message="tns:lPAUpdateRecursos"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPAUpdateRecursosResponse" message="tns:lPAUpdateRecursosResponse"/>
</operation>
<operation name="lGuardarBibliografia">
<input wsam:Action="http://ws.pa/WSAnalitico/lGuardarBibliografiaRequest" message="tns:lGuardarBibliografia"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lGuardarBibliografiaResponse" message="tns:lGuardarBibliografiaResponse"/>
</operation>
<operation name="lPADevolverPeriodoActual">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADevolverPeriodoActualRequest" message="tns:lPADevolverPeriodoActual"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADevolverPeriodoActualResponse" message="tns:lPADevolverPeriodoActualResponse"/>
</operation>
<operation name="lPADatosGenerales">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADatosGeneralesRequest" message="tns:lPADatosGenerales"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADatosGeneralesResponse" message="tns:lPADatosGeneralesResponse"/>
</operation>
<operation name="lPAgetDictadosMateria">
<input wsam:Action="http://ws.pa/WSAnalitico/lPAgetDictadosMateriaRequest" message="tns:lPAgetDictadosMateria"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPAgetDictadosMateriaResponse" message="tns:lPAgetDictadosMateriaResponse"/>
</operation>
<operation name="lPADevolverContenidos">
<input wsam:Action="http://ws.pa/WSAnalitico/lPADevolverContenidosRequest" message="tns:lPADevolverContenidos"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lPADevolverContenidosResponse" message="tns:lPADevolverContenidosResponse"/>
</operation>
<operation name="lDevolverBibliografia">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverBibliografiaRequest" message="tns:lDevolverBibliografia"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverBibliografiaResponse" message="tns:lDevolverBibliografiaResponse"/>
</operation>
<operation name="lDevolverObjetivoPA">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverObjetivoPARequest" message="tns:lDevolverObjetivoPA"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverObjetivoPAResponse" message="tns:lDevolverObjetivoPAResponse"/>
</operation>
<operation name="lDevolverCaracterizacionPA">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverCaracterizacionPARequest" message="tns:lDevolverCaracterizacionPA"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverCaracterizacionPAResponse" message="tns:lDevolverCaracterizacionPAResponse"/>
</operation>
<operation name="lDevolverMenuProgramaAnaliticoGestion">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverMenuProgramaAnaliticoGestionRequest" message="tns:lDevolverMenuProgramaAnaliticoGestion"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverMenuProgramaAnaliticoGestionResponse" message="tns:lDevolverMenuProgramaAnaliticoGestionResponse"/>
</operation>
<operation name="lGuardarObjetivo">
<input wsam:Action="http://ws.pa/WSAnalitico/lGuardarObjetivoRequest" message="tns:lGuardarObjetivo"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lGuardarObjetivoResponse" message="tns:lGuardarObjetivoResponse"/>
</operation>
<operation name="lDevolverAyuda">
<input wsam:Action="http://ws.pa/WSAnalitico/lDevolverAyudaRequest" message="tns:lDevolverAyuda"/>
<output wsam:Action="http://ws.pa/WSAnalitico/lDevolverAyudaResponse" message="tns:lDevolverAyudaResponse"/>
</operation>
</portType>
<binding name="WSAnaliticoPortBinding" type="tns:WSAnalitico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="lLoadUnidadesAcademicasDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lLoadUnidadesAcademicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverRecursosTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lGuardarProcedimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverEscuelasFacultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverPerfilDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverRecursos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverFacultades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverDatosGenerales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverContenidosAsHTML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAActualizarPerfilDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAUpdateCaracterizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverProcedimientosPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverMetodologia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverRecursosTotalesAsHTML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAGuardarContenidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lGuardarMetodologia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverObservacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverMenuProgramaAnalitico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAUpdateRecursos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lGuardarBibliografia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverPeriodoActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADatosGenerales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPAgetDictadosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADevolverContenidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverBibliografia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverObjetivoPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverCaracterizacionPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverMenuProgramaAnaliticoGestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lGuardarObjetivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lDevolverAyuda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSAnalitico">
<port name="WSAnaliticoPort" binding="tns:WSAnaliticoPortBinding">
<soap:address location="http://localhost:8080/analiticoAD/WSAnalitico"/>
</port>
</service>
</definitions>