Silabo/src/conf/xml-resources/web-service-references/SilaboSW/wsdl/192.168.0.119_8080/SistemaSilaboAD/SilaboSW.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://academico.espoch.edu.ec/">

<xs:complexType name="Periodo">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="FechaInicio" type="xs:dateTime"/>
<xs:element name="FechaFin" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
</xs:schema>