SilaboAD/web/WEB-INF/wsdl/localhost_8080/WSUnidosAplicaciones/swUnidosSI.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://locales.sw.si/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://locales.sw.si/" name="swUnidosSI">
<types>
<xsd:schema>
<xsd:import namespace="http://locales.sw.si/" schemaLocation="http://localhost:8080/WSUnidosAplicaciones/swUnidosSI?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://academico.espoch.edu.ec/" schemaLocation="http://localhost:8080/WSUnidosAplicaciones/swUnidosSI?xsd=2"/>
</xsd:schema>
</types>
<message name="lPADatosMateria">
<part name="parameters" element="tns:lPADatosMateria"/>
</message>
<message name="lPADatosMateriaResponse">
<part name="parameters" element="tns:lPADatosMateriaResponse"/>
</message>
<message name="getDatosMateria">
<part name="parameters" element="tns:getDatosMateria"/>
</message>
<message name="getDatosMateriaResponse">
<part name="parameters" element="tns:getDatosMateriaResponse"/>
</message>
<message name="getTodasEscuelas">
<part name="parameters" element="tns:getTodasEscuelas"/>
</message>
<message name="getTodasEscuelasResponse">
<part name="parameters" element="tns:getTodasEscuelasResponse"/>
</message>
<message name="getTodasCarreras">
<part name="parameters" element="tns:getTodasCarreras"/>
</message>
<message name="getTodasCarrerasResponse">
<part name="parameters" element="tns:getTodasCarrerasResponse"/>
</message>
<message name="ArrayOfEscuelaEntidad">
<part name="parameters" element="tns:ArrayOfEscuelaEntidad"/>
</message>
<message name="ArrayOfEscuelaEntidadResponse">
<part name="parameters" element="tns:ArrayOfEscuelaEntidadResponse"/>
</message>
<message name="ArrayOfHorarioDocente">
<part name="parameters" element="tns:ArrayOfHorarioDocente"/>
</message>
<message name="ArrayOfHorarioDocenteResponse">
<part name="parameters" element="tns:ArrayOfHorarioDocenteResponse"/>
</message>
<message name="getFechaInicioTercerParcialSWU">
<part name="parameters" element="tns:getFechaInicioTercerParcialSWU"/>
</message>
<message name="getFechaInicioTercerParcialSWUResponse">
<part name="parameters" element="tns:getFechaInicioTercerParcialSWUResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="getFechaFinClaseEscuelaSWU">
<part name="parameters" element="tns:getFechaFinClaseEscuelaSWU"/>
</message>
<message name="getFechaFinClaseEscuelaSWUResponse">
<part name="parameters" element="tns:getFechaFinClaseEscuelaSWUResponse"/>
</message>
<message name="getFechaInicioPrimerParcialSWU">
<part name="parameters" element="tns:getFechaInicioPrimerParcialSWU"/>
</message>
<message name="getFechaInicioPrimerParcialSWUResponse">
<part name="parameters" element="tns:getFechaInicioPrimerParcialSWUResponse"/>
</message>
<message name="getFechaFinPrimerParcialSWU">
<part name="parameters" element="tns:getFechaFinPrimerParcialSWU"/>
</message>
<message name="getFechaFinPrimerParcialSWUResponse">
<part name="parameters" element="tns:getFechaFinPrimerParcialSWUResponse"/>
</message>
<message name="getMallaCurricularPensumVigente">
<part name="parameters" element="tns:getMallaCurricularPensumVigente"/>
</message>
<message name="getMallaCurricularPensumVigenteResponse">
<part name="parameters" element="tns:getMallaCurricularPensumVigenteResponse"/>
</message>
<message name="getMateriasParaleloEstudiante">
<part name="parameters" element="tns:getMateriasParaleloEstudiante"/>
</message>
<message name="getMateriasParaleloEstudianteResponse">
<part name="parameters" element="tns:getMateriasParaleloEstudianteResponse"/>
</message>
<message name="getMateriasDocente">
<part name="parameters" element="tns:getMateriasDocente"/>
</message>
<message name="getMateriasDocenteResponse">
<part name="parameters" element="tns:getMateriasDocenteResponse"/>
</message>
<message name="getEstadoEstudianteCarrera">
<part name="parameters" element="tns:getEstadoEstudianteCarrera"/>
</message>
<message name="getEstadoEstudianteCarreraResponse">
<part name="parameters" element="tns:getEstadoEstudianteCarreraResponse"/>
</message>
<message name="getMateriasEstudiante">
<part name="parameters" element="tns:getMateriasEstudiante"/>
</message>
<message name="getMateriasEstudianteResponse">
<part name="parameters" element="tns:getMateriasEstudianteResponse"/>
</message>
<message name="getFechaInicioClaseEscuelaSWU">
<part name="parameters" element="tns:getFechaInicioClaseEscuelaSWU"/>
</message>
<message name="getFechaInicioClaseEscuelaSWUResponse">
<part name="parameters" element="tns:getFechaInicioClaseEscuelaSWUResponse"/>
</message>
<message name="getFechaFinTercerParcialSWU">
<part name="parameters" element="tns:getFechaFinTercerParcialSWU"/>
</message>
<message name="getFechaFinTercerParcialSWUResponse">
<part name="parameters" element="tns:getFechaFinTercerParcialSWUResponse"/>
</message>
<message name="loadPracticasDocente">
<part name="parameters" element="tns:loadPracticasDocente"/>
</message>
<message name="loadPracticasDocenteResponse">
<part name="parameters" element="tns:loadPracticasDocenteResponse"/>
</message>
<message name="getFechaFinSegundoParcialSWU">
<part name="parameters" element="tns:getFechaFinSegundoParcialSWU"/>
</message>
<message name="getFechaFinSegundoParcialSWUResponse">
<part name="parameters" element="tns:getFechaFinSegundoParcialSWUResponse"/>
</message>
<message name="getFechaInicioSegundoParcialSWU">
<part name="parameters" element="tns:getFechaInicioSegundoParcialSWU"/>
</message>
<message name="getFechaInicioSegundoParcialSWUResponse">
<part name="parameters" element="tns:getFechaInicioSegundoParcialSWUResponse"/>
</message>
<message name="getParametrosCarrera">
<part name="parameters" element="tns:getParametrosCarrera"/>
</message>
<message name="getParametrosCarreraResponse">
<part name="parameters" element="tns:getParametrosCarreraResponse"/>
</message>
<message name="getParametrosCarreraTotal">
<part name="parameters" element="tns:getParametrosCarreraTotal"/>
</message>
<message name="getParametrosCarreraTotalResponse">
<part name="parameters" element="tns:getParametrosCarreraTotalResponse"/>
</message>
<message name="getDatosUsuarioCarrera">
<part name="parameters" element="tns:getDatosUsuarioCarrera"/>
</message>
<message name="getDatosUsuarioCarreraResponse">
<part name="parameters" element="tns:getDatosUsuarioCarreraResponse"/>
</message>
<message name="getTitulosDocentes">
<part name="parameters" element="tns:getTitulosDocentes"/>
</message>
<message name="getTitulosDocentesResponse">
<part name="parameters" element="tns:getTitulosDocentesResponse"/>
</message>
<message name="getHorariosDocenteParalelo">
<part name="parameters" element="tns:getHorariosDocenteParalelo"/>
</message>
<message name="getHorariosDocenteParaleloResponse">
<part name="parameters" element="tns:getHorariosDocenteParaleloResponse"/>
</message>
<message name="autenticarUsuarioCarrera">
<part name="parameters" element="tns:autenticarUsuarioCarrera"/>
</message>
<message name="autenticarUsuarioCarreraResponse">
<part name="parameters" element="tns:autenticarUsuarioCarreraResponse"/>
</message>
<message name="getAlumnosMateria">
<part name="parameters" element="tns:getAlumnosMateria"/>
</message>
<message name="getAlumnosMateriaResponse">
<part name="parameters" element="tns:getAlumnosMateriaResponse"/>
</message>
<message name="getRolUsuarioCarrera">
<part name="parameters" element="tns:getRolUsuarioCarrera"/>
</message>
<message name="getRolUsuarioCarreraResponse">
<part name="parameters" element="tns:getRolUsuarioCarreraResponse"/>
</message>
<message name="getFacultadesTotales">
<part name="parameters" element="tns:getFacultadesTotales"/>
</message>
<message name="getFacultadesTotalesResponse">
<part name="parameters" element="tns:getFacultadesTotalesResponse"/>
</message>
<message name="getPeriodosAcademicos">
<part name="parameters" element="tns:getPeriodosAcademicos"/>
</message>
<message name="getPeriodosAcademicosResponse">
<part name="parameters" element="tns:getPeriodosAcademicosResponse"/>
</message>
<message name="lPADictadosMateria">
<part name="parameters" element="tns:lPADictadosMateria"/>
</message>
<message name="lPADictadosMateriaResponse">
<part name="parameters" element="tns:lPADictadosMateriaResponse"/>
</message>
<portType name="swUnidosSI">
<operation name="lPADatosMateria">
<input wsam:Action="http://locales.sw.si/swUnidosSI/lPADatosMateriaRequest" message="tns:lPADatosMateria"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/lPADatosMateriaResponse" message="tns:lPADatosMateriaResponse"/>
</operation>
<operation name="getDatosMateria">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getDatosMateriaRequest" message="tns:getDatosMateria"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getDatosMateriaResponse" message="tns:getDatosMateriaResponse"/>
</operation>
<operation name="getTodasEscuelas">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getTodasEscuelasRequest" message="tns:getTodasEscuelas"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getTodasEscuelasResponse" message="tns:getTodasEscuelasResponse"/>
</operation>
<operation name="getTodasCarreras">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getTodasCarrerasRequest" message="tns:getTodasCarreras"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getTodasCarrerasResponse" message="tns:getTodasCarrerasResponse"/>
</operation>
<operation name="ArrayOfEscuelaEntidad">
<input wsam:Action="http://locales.sw.si/swUnidosSI/ArrayOfEscuelaEntidadRequest" message="tns:ArrayOfEscuelaEntidad"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/ArrayOfEscuelaEntidadResponse" message="tns:ArrayOfEscuelaEntidadResponse"/>
</operation>
<operation name="ArrayOfHorarioDocente">
<input wsam:Action="http://locales.sw.si/swUnidosSI/ArrayOfHorarioDocenteRequest" message="tns:ArrayOfHorarioDocente"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/ArrayOfHorarioDocenteResponse" message="tns:ArrayOfHorarioDocenteResponse"/>
</operation>
<operation name="getFechaInicioTercerParcialSWU">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioTercerParcialSWURequest" message="tns:getFechaInicioTercerParcialSWU"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioTercerParcialSWUResponse" message="tns:getFechaInicioTercerParcialSWUResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioTercerParcialSWU/Fault/ParseException"/>
</operation>
<operation name="getFechaFinClaseEscuelaSWU">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinClaseEscuelaSWURequest" message="tns:getFechaFinClaseEscuelaSWU"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinClaseEscuelaSWUResponse" message="tns:getFechaFinClaseEscuelaSWUResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinClaseEscuelaSWU/Fault/ParseException"/>
</operation>
<operation name="getFechaInicioPrimerParcialSWU">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioPrimerParcialSWURequest" message="tns:getFechaInicioPrimerParcialSWU"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioPrimerParcialSWUResponse" message="tns:getFechaInicioPrimerParcialSWUResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioPrimerParcialSWU/Fault/ParseException"/>
</operation>
<operation name="getFechaFinPrimerParcialSWU">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinPrimerParcialSWURequest" message="tns:getFechaFinPrimerParcialSWU"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinPrimerParcialSWUResponse" message="tns:getFechaFinPrimerParcialSWUResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinPrimerParcialSWU/Fault/ParseException"/>
</operation>
<operation name="getMallaCurricularPensumVigente">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getMallaCurricularPensumVigenteRequest" message="tns:getMallaCurricularPensumVigente"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getMallaCurricularPensumVigenteResponse" message="tns:getMallaCurricularPensumVigenteResponse"/>
</operation>
<operation name="getMateriasParaleloEstudiante">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getMateriasParaleloEstudianteRequest" message="tns:getMateriasParaleloEstudiante"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getMateriasParaleloEstudianteResponse" message="tns:getMateriasParaleloEstudianteResponse"/>
</operation>
<operation name="getMateriasDocente">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getMateriasDocenteRequest" message="tns:getMateriasDocente"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getMateriasDocenteResponse" message="tns:getMateriasDocenteResponse"/>
</operation>
<operation name="getEstadoEstudianteCarrera">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getEstadoEstudianteCarreraRequest" message="tns:getEstadoEstudianteCarrera"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getEstadoEstudianteCarreraResponse" message="tns:getEstadoEstudianteCarreraResponse"/>
</operation>
<operation name="getMateriasEstudiante">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getMateriasEstudianteRequest" message="tns:getMateriasEstudiante"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getMateriasEstudianteResponse" message="tns:getMateriasEstudianteResponse"/>
</operation>
<operation name="getFechaInicioClaseEscuelaSWU">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioClaseEscuelaSWURequest" message="tns:getFechaInicioClaseEscuelaSWU"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioClaseEscuelaSWUResponse" message="tns:getFechaInicioClaseEscuelaSWUResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioClaseEscuelaSWU/Fault/ParseException"/>
</operation>
<operation name="getFechaFinTercerParcialSWU">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinTercerParcialSWURequest" message="tns:getFechaFinTercerParcialSWU"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinTercerParcialSWUResponse" message="tns:getFechaFinTercerParcialSWUResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinTercerParcialSWU/Fault/ParseException"/>
</operation>
<operation name="loadPracticasDocente">
<input wsam:Action="http://locales.sw.si/swUnidosSI/loadPracticasDocenteRequest" message="tns:loadPracticasDocente"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/loadPracticasDocenteResponse" message="tns:loadPracticasDocenteResponse"/>
</operation>
<operation name="getFechaFinSegundoParcialSWU">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinSegundoParcialSWURequest" message="tns:getFechaFinSegundoParcialSWU"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinSegundoParcialSWUResponse" message="tns:getFechaFinSegundoParcialSWUResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://locales.sw.si/swUnidosSI/getFechaFinSegundoParcialSWU/Fault/ParseException"/>
</operation>
<operation name="getFechaInicioSegundoParcialSWU">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioSegundoParcialSWURequest" message="tns:getFechaInicioSegundoParcialSWU"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioSegundoParcialSWUResponse" message="tns:getFechaInicioSegundoParcialSWUResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://locales.sw.si/swUnidosSI/getFechaInicioSegundoParcialSWU/Fault/ParseException"/>
</operation>
<operation name="getParametrosCarrera">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getParametrosCarreraRequest" message="tns:getParametrosCarrera"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getParametrosCarreraResponse" message="tns:getParametrosCarreraResponse"/>
</operation>
<operation name="getParametrosCarreraTotal">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getParametrosCarreraTotalRequest" message="tns:getParametrosCarreraTotal"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getParametrosCarreraTotalResponse" message="tns:getParametrosCarreraTotalResponse"/>
</operation>
<operation name="getDatosUsuarioCarrera">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getDatosUsuarioCarreraRequest" message="tns:getDatosUsuarioCarrera"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getDatosUsuarioCarreraResponse" message="tns:getDatosUsuarioCarreraResponse"/>
</operation>
<operation name="getTitulosDocentes">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getTitulosDocentesRequest" message="tns:getTitulosDocentes"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getTitulosDocentesResponse" message="tns:getTitulosDocentesResponse"/>
</operation>
<operation name="getHorariosDocenteParalelo">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getHorariosDocenteParaleloRequest" message="tns:getHorariosDocenteParalelo"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getHorariosDocenteParaleloResponse" message="tns:getHorariosDocenteParaleloResponse"/>
</operation>
<operation name="autenticarUsuarioCarrera">
<input wsam:Action="http://locales.sw.si/swUnidosSI/autenticarUsuarioCarreraRequest" message="tns:autenticarUsuarioCarrera"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/autenticarUsuarioCarreraResponse" message="tns:autenticarUsuarioCarreraResponse"/>
</operation>
<operation name="getAlumnosMateria">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getAlumnosMateriaRequest" message="tns:getAlumnosMateria"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getAlumnosMateriaResponse" message="tns:getAlumnosMateriaResponse"/>
</operation>
<operation name="getRolUsuarioCarrera">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getRolUsuarioCarreraRequest" message="tns:getRolUsuarioCarrera"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getRolUsuarioCarreraResponse" message="tns:getRolUsuarioCarreraResponse"/>
</operation>
<operation name="getFacultadesTotales">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getFacultadesTotalesRequest" message="tns:getFacultadesTotales"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getFacultadesTotalesResponse" message="tns:getFacultadesTotalesResponse"/>
</operation>
<operation name="getPeriodosAcademicos">
<input wsam:Action="http://locales.sw.si/swUnidosSI/getPeriodosAcademicosRequest" message="tns:getPeriodosAcademicos"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/getPeriodosAcademicosResponse" message="tns:getPeriodosAcademicosResponse"/>
</operation>
<operation name="lPADictadosMateria">
<input wsam:Action="http://locales.sw.si/swUnidosSI/lPADictadosMateriaRequest" message="tns:lPADictadosMateria"/>
<output wsam:Action="http://locales.sw.si/swUnidosSI/lPADictadosMateriaResponse" message="tns:lPADictadosMateriaResponse"/>
</operation>
</portType>
<binding name="swUnidosSIPortBinding" type="tns:swUnidosSI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="lPADatosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasEscuelas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodasCarreras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ArrayOfEscuelaEntidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ArrayOfHorarioDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFechaInicioTercerParcialSWU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getFechaFinClaseEscuelaSWU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getFechaInicioPrimerParcialSWU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getFechaFinPrimerParcialSWU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getMallaCurricularPensumVigente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasParaleloEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEstadoEstudianteCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMateriasEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFechaInicioClaseEscuelaSWU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getFechaFinTercerParcialSWU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="loadPracticasDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFechaFinSegundoParcialSWU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getFechaInicioSegundoParcialSWU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getParametrosCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametrosCarreraTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTitulosDocentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHorariosDocenteParalelo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticarUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAlumnosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRolUsuarioCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacultadesTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPeriodosAcademicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lPADictadosMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="swUnidosSI">
<port name="swUnidosSIPort" binding="tns:swUnidosSIPortBinding">
<soap:address location="http://localhost:8080/WSUnidosAplicaciones/swUnidosSI"/>
</port>
</service>
</definitions>